
    {% render 'gp-head', isThemeSection: true %}
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606272811492705028.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-606272811492705028.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-606272811492705028.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-606272811492705028.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606272811492705028.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-606272811492705028.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606272811492705028.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606272811492705028.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606272811492705028.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-606272811492705028.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606272811492705028.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606272811492705028.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606272811492705028.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606272811492705028.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-606272811492705028.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-606272811492705028.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606272811492705028.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-606272811492705028.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-606272811492705028.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606272811492705028.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606272811492705028.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-606272811492705028.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-606272811492705028.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606272811492705028.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-606272811492705028.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-606272811492705028.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606272811492705028.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606272811492705028.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-606272811492705028.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-606272811492705028.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606272811492705028.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-606272811492705028.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-606272811492705028.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606272811492705028.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-606272811492705028.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-606272811492705028.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606272811492705028.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606272811492705028.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606272811492705028.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606272811492705028.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606272811492705028.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-606272811492705028.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-606272811492705028.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606272811492705028.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606272811492705028.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606272811492705028.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606272811492705028.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-606272811492705028.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-606272811492705028.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606272811492705028.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-606272811492705028.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-606272811492705028.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-606272811492705028.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-606272811492705028.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606272811492705028.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606272811492705028.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606272811492705028.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606272811492705028.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606272811492705028.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606272811492705028.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606272811492705028.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606272811492705028.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-606272811492705028.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606272811492705028.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-606272811492705028.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606272811492705028.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-606272811492705028.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-606272811492705028.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-606272811492705028.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-606272811492705028.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606272811492705028.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-606272811492705028.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-606272811492705028.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-606272811492705028.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-606272811492705028.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-606272811492705028.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-606272811492705028.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-606272811492705028.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606272811492705028.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606272811492705028.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-606272811492705028.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-606272811492705028.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-606272811492705028.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-606272811492705028.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-606272811492705028.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-606272811492705028.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606272811492705028.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-606272811492705028.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-606272811492705028.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-606272811492705028.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-606272811492705028.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-606272811492705028.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-606272811492705028.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-606272811492705028.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606272811492705028.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606272811492705028.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-606272811492705028.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-606272811492705028.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-606272811492705028 .-gp-translate-x-1\/2,.gps-606272811492705028 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-606272811492705028 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-606272811492705028 .gp-g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-606272811492705028 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-606272811492705028 .gp-invisible{visibility:hidden}.gps-606272811492705028 .gp-absolute{position:absolute}.gps-606272811492705028 .gp-relative{position:relative}.gps-606272811492705028 .gp-left-0{left:0}.gps-606272811492705028 .gp-left-1\/2{left:50%}.gps-606272811492705028 .gp-top-0{top:0}.gps-606272811492705028 .gp-top-1\/2{top:50%}.gps-606272811492705028 .gp-z-0{z-index:0}.gps-606272811492705028 .gp-z-1{z-index:1}.gps-606272811492705028 .gp-z-\[90\]{z-index:90}.gps-606272811492705028 .\!gp-m-0{margin:0!important}.gps-606272811492705028 .\!gp-m-auto{margin:auto!important}.gps-606272811492705028 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606272811492705028 .gp-mb-0{margin-bottom:0}.gps-606272811492705028 .gp-flex{display:flex}.gps-606272811492705028 .gp-inline-flex{display:inline-flex}.gps-606272811492705028 .gp-grid{display:grid}.gps-606272811492705028 .gp-contents{display:contents}.gps-606272811492705028 .\!gp-hidden{display:none!important}.gps-606272811492705028 .gp-hidden{display:none}.gps-606272811492705028 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-606272811492705028 .gp-h-0{height:0}.gps-606272811492705028 .gp-h-5{height:20px}.gps-606272811492705028 .gp-h-full{height:100%}.gps-606272811492705028 .gp-w-14{width:56px}.gps-606272811492705028 .gp-w-5{width:20px}.gps-606272811492705028 .gp-w-full{width:100%}.gps-606272811492705028 .\!gp-min-w-full{min-width:100%!important}.gps-606272811492705028 .\!gp-max-w-full{max-width:100%!important}.gps-606272811492705028 .gp-max-w-full{max-width:100%}.gps-606272811492705028 .gp-shrink-0{flex-shrink:0}.gps-606272811492705028 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-606272811492705028 .-gp-translate-x-1\/2,.gps-606272811492705028 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-606272811492705028 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-606272811492705028 .gp-cursor-default{cursor:default}.gps-606272811492705028 .gp-cursor-pointer{cursor:pointer}.gps-606272811492705028 .gp-grid-flow-row{grid-auto-flow:row}.gps-606272811492705028 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606272811492705028 .gp-flex-col{flex-direction:column}.gps-606272811492705028 .gp-items-start{align-items:flex-start}.gps-606272811492705028 .gp-items-center{align-items:center}.gps-606272811492705028 .gp-justify-center{justify-content:center}.gps-606272811492705028 .gp-overflow-hidden{overflow:hidden}.gps-606272811492705028 .\!gp-rounded-none{border-radius:0!important}.gps-606272811492705028 .gp-rounded{border-radius:4px}.gps-606272811492705028 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-606272811492705028 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-606272811492705028 .\!gp-pb-0{padding-bottom:0!important}.gps-606272811492705028 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-606272811492705028 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-606272811492705028 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity,1))}.gps-606272811492705028 .gp-no-underline{text-decoration-line:none}.gps-606272811492705028 .gp-decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-606272811492705028 .gp-decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-606272811492705028 .gp-opacity-25{opacity:.25}.gps-606272811492705028 .gp-opacity-30{opacity:.3}.gps-606272811492705028 .gp-opacity-75{opacity:.75}.gps-606272811492705028 .gp-outline-1{outline-width:1px}.gps-606272811492705028 .-gp-outline-offset-1{outline-offset:-1px}.gps-606272811492705028 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606272811492705028 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606272811492705028 .gp-duration-200{transition-duration:.2s}.gps-606272811492705028 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606272811492705028 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-606272811492705028 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity,1))}}.gps-606272811492705028 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-606272811492705028 .data-\[hidden\=true\]\:\!gp-hidden[data-hidden=true]{display:none!important}.gps-606272811492705028 .data-\[outline\=active\]\:gp-outline[data-outline=active]{outline-style:solid}.gps-606272811492705028 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-606272811492705028 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-606272811492705028 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-606272811492705028 .tablet\:\!gp-hidden{display:none!important}.gps-606272811492705028 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-606272811492705028 .mobile\:\!gp-hidden{display:none!important}.gps-606272811492705028 .mobile\:gp-hidden{display:none}}.gps-606272811492705028 .\[\&\>\*\>div\]\:gp-contents>*>div{display:contents}.gps-606272811492705028 .\[\&\>\*\]\:gp-grid-rows-\[subgrid\]>*{grid-template-rows:subgrid}.gps-606272811492705028 .\[\&\>\*\]\:gp-gap-y-0>*{row-gap:0}.gps-606272811492705028 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-606272811492705028 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-606272811492705028 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-606272811492705028 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-606272811492705028 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"glOuM8GBQE"}' data-id="glOuM8GBQE" id="glOuM8GBQE" data-same-height-subgrid-container class="glOuM8GBQE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnSWXRYMDE gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gfmYywmgoQ"}' data-id="gfmYywmgoQ" id="gfmYywmgoQ" data-same-height-subgrid-container class="gfmYywmgoQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:var(--g-s-l);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7x4ad439J gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goHPsd-V5v"
        class="goHPsd-V5v"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--size:28px;--size-tablet:38px;--size-mobile:36px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoHPsd-V5v_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"g0XxKFJfnc"}' data-id="g0XxKFJfnc" id="g0XxKFJfnc" data-same-height-subgrid-container class="g0XxKFJfnc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6GNz0r89R gp-relative gp-flex gp-flex-col"
    >
      
    
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-same-height-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
        

    
    <div
      class="gp-relative gp-flex gaWq2gtKFK"
      style="--d:block;--d-tablet:block;--d-mobile:block"
    >
      <div class='gp-flex gp-w-full' style="--jc:center">
        <div
          style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--w:var(--g-ct-w, 1200px);--bgi:none;--bgi-tablet:none;--bgi-mobile:none"
        >
          {%- assign gpBkProduct = product -%}
          {%- assign gpBkProducts = products -%}
          
      {%- liquid
        assign productHandles = ''| split: ','
        assign products = null
        assign target_collection = null
        assign productSrc = 'PickProduct'
        assign c = 0
        assign limit = 4

        if request.page_type == 'collection' or preview_page_type == 'collection'
          assign target_collection = collection
          if target_collection == empty or target_collection == null
            if '678430900605' == 'latest'
              assign target_collection = collections | sort: 'updated_at'  | first
            else
              
          assign target_collection = collections['frontpage']
          if target_collection == empty
            for collection in collections
              if collection.id == 678430900605
                assign target_collection = collection
                break
              endif
            endfor
          endif
        
            endif
          endif
          paginate target_collection.products by 10
            assign products = target_collection.products  
          endpaginate
        else
          if productSrc == 'RelatedProduct'
            
    
  
          elsif productSrc == 'PickProduct'
            unless true
              assign products = null | sort
              for handle in productHandles
                assign productH = all_products[handle] | sort
                assign products = products | concat: productH
              endfor
              assign limit = products.length
            else
              if 0 == 0
                paginate collections.all.products by 100000
                  assign products = collections.all.products  | sort : "created_at"  | reverse
                endpaginate
              endif
            endunless
          else
            if '678430900605' == 'latest'
              assign target_collection = collections | sort: 'updated_at'  | first
            else
              
          assign target_collection = collections['frontpage']
          if target_collection == empty
            for collection in collections
              if collection.id == 678430900605
                assign target_collection = collection
                break
              endif
            endfor
          endif
        
            endif
            paginate target_collection.products by 10
              assign products = target_collection.products  
            endpaginate
          endif
        endif
      -%}
    
          
    {%- if products == null -%}
    {%- if count == 0 and 0 == 0 -%}
      {% if 'PickProduct' == 'RelatedProduct' -%}
          <div>{{ 'gempages.ProductList.no_related_products' | t }}</div>
        {% else %}
          <div>{{ 'gempages.ProductList.no_products_found' | t }}</div>
      {%- endif -%}
    {%- endif -%}
    {%-else-%}
      
    <div
      items-repeat="true" data-id="gaWq2gtKFK"
      style="--cg:16px;--cg-mobile:16px;--gtc:repeat(4, minmax(0, 1fr));--gtc-tablet:repeat(3, minmax(0, 1fr));--gtc-mobile:repeat(2, minmax(0, 1fr))"
      class="!gp-m-auto gp-grid gp-w-full gp-grid-flow-row"
    >
      
      <gp-same-height
        class="gp-contents"
        style="visibility: hidden"
        gp-data='{"targetUid":"gH-PCWdS9_","slidesToShow":{"desktop":4,"tablet":3,"mobile":2},"rowGap":{"desktop":"16px","mobile":"16px"}}'>
        
      {%- assign count = 0 -%}
      {%- for product in products limit: limit -%}
      {%- if product.id != empty -%}
      {%- assign count = count | plus: 1 -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign product_form_id = 'product-form-' | append: "gaWq2gtKFK" | append: product.id -%}
        
      <gp-product
        gp-context='{"variantSelected": {{ variant | json | escape }}, "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "quantity": 1 ,"inventoryQuantity": {{ variant.inventory_quantity }},  "formId": "{{ product_form_id }}"}'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }},"pageContext" : {"pageType":"","sectionName":"","isPreviewing":false,"isOptimizePlan":false,"isTranslateWithLocale":false,"isLazyLoadSection":true,"isLazyLoadImage":false,"hasCollectionHandle":true,"numberOfProductOfProductList":0,"pageBackground":"","fontType":"","primaryLocale":"","showPriceCurrency":false,"enableLazyLoadImage":false}}'
        class="gp-contents"

      >
        {%- form 'product', product, id: product_form_id, class: 'form contents gp-contents [&>*>div]:gp-contents [&>*]:gp-grid-rows-[subgrid] [&>*]:gp-gap-y-0 gp-child-item-gaWq2gtKFK',  data-type: 'add-to-cart-form', autocomplete: 'off' -%}
        <input type="hidden" name="id" value="{{ variant.id }}" />
        <input type="hidden" min="1" name="quantity"  value="{{ quantity }}" />
        <button type="submit" onclick="return false;" style="display:none;"></button>
          
      
            
    

    

    
    <gp-row gp-data='{"uid":"gH-PCWdS9_"}' data-id="gH-PCWdS9_" id="gH-PCWdS9_" data-same-height-subgrid-container="true" class="gH-PCWdS9_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-1, line-1);--d:grid;--d-tablet:grid;--d-mobile:grid;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:var(--g-s-2xl);--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents="true"
      style="--ai:normal;--jc:start;--o:0"
      class="gf3HoSZTZf gp-relative gp-flex gp-flex-col"
    >
      
  {% if product.media.size > 1 %}<style>
    .gem-slider-item-gJHNZqz5lX-{{product.id}}.gp-gallery-image-item::after, .gem-slider-item-gp-gallery-gJHNZqz5lX-{{product.id}}.gp-gallery-image-item.gem-slider-item-active::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }
    .gem-slider-item-gJHNZqz5lX-{{product.id}}.gp-gallery-image-item[data-outline=active]:after, .gem-slider-item-gp-gallery-gJHNZqz5lX-{{product.id}}.gp-gallery-image-item[data-outline=active]:after {
      pointer-events: none;
    }
    .gem-slider-item-gJHNZqz5lX-{{product.id}}.gp-gallery-image-item[data-outline=none]:after{
        pointer-events: none;
        border-color: transparent !important;
    }
  </style>{% endif %}
  
    {% assign featured_image = product.featured_image %}
    {% if variant != null and variant.featured_image != null %}{% assign featured_image = variant.featured_image %}{% endif %}
  
    <gp-product-images-v3
      gp-data='
    {
      "id":"gJHNZqz5lX",
      "pageContext": {"pageType":"","sectionName":"","isPreviewing":false,"isOptimizePlan":false,"isTranslateWithLocale":false,"isLazyLoadSection":true,"isLazyLoadImage":false,"hasCollectionHandle":true,"numberOfProductOfProductList":0,"pageBackground":"","fontType":"","primaryLocale":"","showPriceCurrency":false,"enableLazyLoadImage":false},
      "setting":{"ftClickOpenLightBox":{"desktop":"product-link"},"ftLoop":{"desktop":false},"ftDragToScroll":false,"filterByVariant":"all_images","displayByVariant":false,"typeDisplay":"all-images","preDisplay":"1st-available-variant","hoverEffect":"none","zoomType":"default","zoom":150,"otherImage":0,"ftClickOpenNewTab":false,"ftNavigationPosition":{"desktop":"none"},"ftPauseOnHover":true,"ftAnimationSpeed":500,"ftAnimationMode":"ease-out","ftArrowIcon":"<svg height=\"20\" width=\"20\" data-name=\"caret-right-regular\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508418455613473128\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z\" /></svg>","ftArrowIconColor":"#121212","ftArrowIconSize":{"desktop":16},"ftArrowNavColor":"brand","ftArrowNavSize":{"width":"Auto","height":"Auto","padding":{"top":"12px","bottom":"12px","left":"12px","right":"12px"},"shapeLinked":true,"shape":"square","shapeValue":"1/1"},"ftArrowNavRadius":{"btrr":"9999px","bblr":"9999px","bbrr":"9999px","btlr":"9999px","radiusType":"circle"},"ftDotStyle":{"desktop":"none"},"ftDotSize":{"desktop":16},"ftDotGapToCarousel":{"desktop":16},"ftDotColor":{"desktop":"#121212"},"ftDotActiveColor":{"desktop":"#FFFFFF"},"type":{"desktop":"slider"},"galleryHoverEffect":"none","galleryZoomType":"default","galleryZoom":150,"clickOpenLightBox":{"desktop":false},"borderActive":{"borderType":"none","border":"solid","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false,"color":"line-3"},"navigationPosition":{"desktop":"inside"},"loop":{"desktop":true},"pauseOnHover":true,"speed":1,"arrowIcon":"<svg height=\"20\" width=\"20\" data-name=\"caret-right-regular\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508418455613473128\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z\" /></svg>","arrowIconSize":{"desktop":24},"arrowIconColor":"#000000","dragToScroll":true,"arrowNavColor":"brand","arrowNavSize":{"width":"Auto","height":"Auto","padding":{"top":"12px","bottom":"12px","left":"12px","right":"12px"},"shapeLinked":true,"shape":"square","shapeValue":"1/1"},"arrowNavBorder":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false},"arrowNavRadius":{"btrr":"9999px","bblr":"9999px","bbrr":"9999px","btlr":"9999px","radiusType":"circle"},"arrowNavShadow":{"type":"shadow-1","distance":"4px","blur":"12px","spread":"0px","color":"rgba(0, 0, 0, 0.20)","angle":90,"enable":false},"qualityType":{"desktop":"high"},"preload":false,"qualityPercent":{"desktop":100}},
      "styles":{"position":{"desktop":"only-feature","mobile":"only-feature"},"spacing":{"desktop":"8px"},"ratioLayout":{"desktop":[2,10]},"ratioLayoutRight":{"desktop":[10,2]},"ftShape":{"desktop":{"shape":"square","shapeValue":"1/1","width":"100%","shapeLinked":true}},"ftLayout":{"desktop":"cover"},"ftCorner":{"btrr":"8px","bblr":"8px","bbrr":"8px","btlr":"8px","radiusType":"rounded"},"shape":{"desktop":{"shape":"square","shapeValue":"1/1","width":"100%","shapeLinked":true}},"shapeForFtOnly":{"desktop":{"shape":"square","shapeValue":"1/1","width":"100%","shapeLinked":true}},"shapeForBottom":{"desktop":{"shape":"square","shapeValue":"1/1","width":"20%","shapeLinked":true}},"shapeForInsideBottom":{"desktop":{"shape":"square","shapeValue":"1/1","width":"20%","shapeLinked":true}},"shapeForInside":{"desktop":{"shape":"square","shapeValue":"1/1","width":"20%","shapeLinked":true}},"shapeFor2Col":{"desktop":{"shape":"square","shapeValue":"1/1","width":"50%","shapeLinked":true}},"shapeFor1Col":{"desktop":{"shape":"square","shapeValue":"1/1","width":"100%","shapeLinked":true}},"layout":{"desktop":"cover"},"itemSpacing":{"desktop":"8px"},"corner":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"},"align":{"desktop":"flex-start"}},
      "productUrl":{{product.url | json | escape}},
      "product":{{product | json | escape}},
      "collectionUrl": {{ collection.url | json | escape }},
      "collection": {{ collection | json | escape}}
    }
  '
      section-id="{{section.id}}" data-id="gJHNZqz5lX"
      style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%"
      class="gp-relative gp-w-full gJHNZqz5lX "
    >
      <div
        class="{% if product.media.size > 1 %}gp-grid gp-w-full !gp-m-0 gp-relative{% else %}gp-w-full !gp-m-0 gp-relative{% endif %}"
        style="{% if product.media.size > 1 %}--gtc: minmax(0, 12fr);--gtc-tablet: minmax(0, 12fr);--gtc-mobile: minmax(0, 12fr);--gg: 8px;{% else %}--gtc: minmax(0, 12fr);--gg: 8px;{% endif %}"
      >
        
    {% capture featureImageOnlyOne %}
      
        {% assign featureMedia = variant.featured_media %}
        {% unless featureMedia %}
        {% assign featureMedia = product.featured_media %}
        {% endunless %}
        {% if product.media.size > 1 %}
          {% assign featureMedia = variant.featured_media %}
          {% unless featureMedia %}
          {% assign featureMedia = product.featured_media %}
          {% endunless %}
        {% endif %}
        {% assign largestRatio = 0 %}
        {% assign height = featureMedia.height | times: 1.0 %}
        {% assign width = featureMedia.width | times: 1.0 %}
        {% assign ratio = height | divided_by: width %}
        {% if ratio > largestRatio %}{% assign largestRatio = ratio %}{% endif %}
        {% assign productImageWidth = 0 %}
        {% case featureMedia.media_type %}
          {% when 'image' %}
            {% assign productImageWidth = featureMedia.width %}
          {% else %}
            {% assign productImageWidth = featureMedia.preview_image.width %}
        {% endcase %}
        {% if featureMedia == null %}{% assign productImageWidth = 1600 %}{% endif %}
        <div
          class='gp-feature-image-carousel gp-feature-image-only'
          style="--jc: flex-start;--o: 0;--o-tablet: 0;--o-mobile: 0;--d: flex;--d-mobile: flex;--d-tablet: flex;"
        >
          <div
            class="gp-relative"
            style="--w: 100%;--w-tablet: 100%;--w-mobile: 100%;--bblr: 8px;--bbrr: 8px;--btlr: 8px;--btrr: 8px;--hvr-bblr: 8px;--hvr-bbrr: 8px;--hvr-btlr: 8px;--hvr-btrr: 8px;--focus-bblr: 8px;--focus-bbrr: 8px;--focus-btlr: 8px;--focus-btrr: 8px;-undefined-bblr: 8px;-undefined-bbrr: 8px;-undefined-btlr: 8px;-undefined-btrr: 8px;--h: auto;--h-tablet: auto;--h-mobile: auto;"
          >
            
      
    
            <div
              type="gp-feature-image-only"
              product-id="{{product.id}}"
              product-media="{{product.media.size}}"
              class="gp-group gp-z-0 gp-flex !gp-min-w-full !gp-max-w-full gp-w-full gp-relative gp-items-start gp-justify-center gp-overflow-hidden gp-outline-1 -gp-outline-offset-1 gp-image-item gp-ft-image-item data-[outline=active]:gp-outline gp-featured-image-wrapper"
              style="max-width: 100%;outline-color: var(--g-c-brand, brand);--bblr: 8px;--bbrr: 8px;--btlr: 8px;--btrr: 8px;--h: auto;--h-tablet: auto;--h-mobile: auto;width: {{productImageWidth}}px;"
            >
              <div
                class="gp-w-full gp-relative {% if featureMedia == null or featureMedia.media_type == 'image' %}{{ 'gp-h-0' }}{% else %}{{ 'gp-h-full !gp-pb-0' }}{% endif %}"
                style="--pb: calc((1/1)*100%);--pb-tablet: calc((1/1)*100%);--pb-mobile: calc((1/1)*100%); {% if featureMedia.media_type == 'video' or featureMedia.media_type == 'external_video' %}{{ 'display: flex; align-items: center; justify-content: center' }}{% endif %}"
              >
                
    {% case featureMedia.media_type %}
      {% when 'image' %}
        
      
    {% assign src = featureMedia.src %}
    
    
    <img
      alt="{{featureMedia.alt | escape}}" width="{{featureMedia.width}}" height="{{featureMedia.height}}" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="(max-width: 768px) 50vw, 100vw" src="{{src | image_url}}" isNotLazyload="true" srcset="{{src | image_url: width: 480}} 480w, {{src | image_url: width: 768}} 768w, {{src | image_url: width: 1024}} 1024w, {{src | image_url: width: 1440}} 1440w" base-src="{{src | image_url}}" loading="lazy"
      id="{% if featureMedia != null %}{{featureMedia.id}}{% endif %}"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp-w-full gp-transition-opacity {{shouldHidden}}"
    />
       
       
    
      {% when 'external_video' %}
        {% assign mediaSourceVideo = featureMedia | external_video_url %}
        
    <iframe
      src="{{mediaSourceVideo}}" alt="{{featureMedia.alt | escape}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" width="100%" height="100%" controls="true" allowfullscreen="true"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1"
      class="feature-video gp-w-full gp-h-full gp-relative"
    >
    </iframe>
  
      {% when 'video' %}
        {% assign mediaSourceVideo = featureMedia.sources.last.url %}
        
  <gp-lite-html5-embed is-check-loaded="true" style="--h:100%">
    
    <video
    id="gp-video-undefined" title="{{featureMedia.alt | escape}}" preload="none" data-src="{{mediaSourceVideo}}" poster="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}" data-poster="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}"
      style="width:100%;max-height:100%;--h:100%;--objf:cover"
      class="gp-w-full gp-invisible gp-lazyload-video"
      controls
      
      
      
      playsinline
      
    ></video>
    
     <div
        role="presentation"
        style="width:100%;max-height:100%;--h:100%;--objf:cover"
        class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-h-full"
        >
           
    <img
      alt="{{featureMedia.alt | escape}}" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}" data-src="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}" data-srcset="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}"
      id="video-thumbnail"
      
      class="gp-w-full gp-h-full gp-object-cover gp_lazyload"
    />
          <button type="button" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]" aria-label="Play">
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
  
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      {% when 'model' %}
        
    <model-viewer
      src="{% if featureMedia.sources.first.url contains '.glb' %}{{ featureMedia.sources.first.url }}{% else %}{{featureMedia.sources.last.url}}{% endif %}" alt="{{featureMedia.preview_image.alt}}" data-shopify-feature="1.12" width="100%" poster="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}" ar-status="not-presenting" camera-controls="true"
      class="gp-w-full gp-h-full model-viewer gp-z-[90]"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1">
    </model-viewer>
  
      {% else %}
        
    
    <img
      alt="No Image" width="2237" height="1678" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="(max-width: 768px) 50vw, 100vw" src isNotLazyload="true" srcset loading="lazy"
      id=""
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none"
    />
    {% endcase %}
    
              </div>
            </div>
          </div>
        </div>
      
    {% endcapture %}
    {% if product.media.size > 1 %}
         
        {{ featureImageOnlyOne }}
      {% else %}{{ featureImageOnlyOne }}{% endif %}
  
        
      </div>
    </gp-product-images-v3>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-images-v3-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    {%- assign total_combinations = 1 -%}
    {% for option in product.options_with_values %}{%- assign total_combinations = total_combinations | times: option.values.size -%}{% endfor %}
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign is_in_stock = variant.available
    -%}
    <gp-product-button
      
      gp-data-wrapper="true"
      gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
      class="gp-product-button"
      gp-label-out-of-stock="{{ section.settings.gg6rGlMnedE_outOfStockLabel }}"
      gp-label-unavailable="{{ section.settings.gg6rGlMnedE_unavailableLabel }}"
      gp-data='{"styles":{"errorTypo":{"type":"paragraph-2","attrs":{"color":"error"}},"successTypo":{"type":"paragraph-2","attrs":{"color":"success"}}},"setting":{"errorType":"built-in","actionEffect":"open-cart-drawer","enableMessage":true,"label":"","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","outOfStockLabel":"Out Of Stock","customURL":{"link":"/cart","target":"_self"}},"variantID":"{{variant.id}}","disabled":"{{variant.available}}","totalVariant":"{{total_combinations}}"}'
      data-variant-selection-required-message="{{ section.settings.gg6rGlMnedE_variantSelectionRequiredMessage }}"
      gp-enable-third-partycart="{{shop.metafields.GEMPAGES.enableThirdPartyCart}}"
    >
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:-75px;--mb:var(--g-s-l);--mr:9px;--mt-tablet:-75px;--mb-tablet:var(--g-s-l);--mr-tablet:9px;--mt-mobile:-75px;--mb-mobile:var(--g-s-l);--mr-mobile:9px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right" class="{% unless variant.available %} !gp-hidden {% endunless %}">
        <style>[data-id="g6rGlMnedE"].gp-button-base::before, [data-id="g6rGlMnedE-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="g6rGlMnedE"]:hover::before, [data-id="g6rGlMnedE-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g6rGlMnedE" dataId="g6rGlMnedE" data-state="idle" aria-label
          name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
          type="submit"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:30px;--h-tablet:30px;--h-mobile:30px;--pl:24px;--pr:24px;--pt:32px;--pb:32px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--bgi:;--hvr-bgi:;--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--c:#FFFFFF"
          class="gp-button-atc tcustomizer-submit-button g6rGlMnedE gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1 undefined"
        >
        
  <svg
    class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="gp-opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="gp-opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>

        <div class="gp-inline-flex">
          
    <span
      style="word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="!gp-m-0 gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg data-name="add_shopping_cart_50dp_FFF_FILL0_wght400_GRAD0_opsz48.svg" data-id="606264661221835573" width="20" height="20" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#fff"><path d="M465-613v-123H341v-60h124v-123h60v123h123v60H525v123h-60ZM239-101.21q-21-21.21-21-51T239.21-203q21.21-21 51-21T341-202.79q21 21.21 21 51T340.79-101q-21.21 21-51 21T239-101.21Zm404 0q-21-21.21-21-51T643.21-203q21.21-21 51-21T745-202.79q21 21.21 21 51T744.79-101q-21.21 21-51 21T643-101.21ZM62-820v-60h116l170 364h287.71L796-796h67L701-493q-11 19-28.56 30.5T634-451H331l-56 104h491v60H284q-37.66 0-57.33-30T224-378l64-118-148-324H62Z"/></svg>
    </span>
  
          
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:-75px;--mb:var(--g-s-l);--mr:9px;--mt-tablet:-75px;--mb-tablet:var(--g-s-l);--mr-tablet:9px;--mt-mobile:-75px;--mb-mobile:var(--g-s-l);--mr-mobile:9px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right" class="{% if variant.available %} !gp-hidden {% endif %}">
        <style>[data-id="g6rGlMnedE-sold-out"].gp-button-base::before, [data-id="g6rGlMnedE-sold-out-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    
    
  
    }
  
      
  [data-id="g6rGlMnedE-sold-out"]:hover::before, [data-id="g6rGlMnedE-sold-out-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g6rGlMnedE-sold-out" dataId="g6rGlMnedE-sold-out" data-state="idle" aria-label="{{ section.settings.gg6rGlMnedE_outOfStockLabel }}"
          gp-data-hidden="{% if variant.available %}true{% endif %}"
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:30px;--h-tablet:30px;--h-mobile:30px;--pl:24px;--pr:24px;--pt:32px;--pb:32px;--bgi:;--hvr-bgi:;--bg:#B7B7B7;--hvr-bg:#B7B7B7;--c:var(--g-c-text-3, text-3)"
          class="gp-cursor-default gp-opacity-30 btn-disabled gp-button-sold-out g6rGlMnedE-sold-out gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="!gp-m-0 gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg data-name="add_shopping_cart_50dp_FFF_FILL0_wght400_GRAD0_opsz48.svg" data-id="606264661221835573" width="20" height="20" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#fff"><path d="M465-613v-123H341v-60h124v-123h60v123h123v60H525v123h-60ZM239-101.21q-21-21.21-21-51T239.21-203q21.21-21 51-21T341-202.79q21 21.21 21 51T340.79-101q-21.21 21-51 21T239-101.21Zm404 0q-21-21.21-21-51T643.21-203q21.21-21 51-21T745-202.79q21 21.21 21 51T744.79-101q-21.21 21-51 21T643-101.21ZM62-820v-60h116l170 364h287.71L796-796h67L701-493q-11 19-28.56 30.5T634-451H331l-56 104h491v60H284q-37.66 0-57.33-30T224-378l64-118-148-324H62Z"/></svg>
    </span>
  
          
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMg-u2DOfP"
        class="gMg-u2DOfP"
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:22px;--size-mobile:21px;--weight:bold;--c:#6DC7D7;--tt:none;word-break:break-word;--bgc:RGBA(206, 232, 237, 0.5);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:12px;--pr:12px;--pt:4px;--pb:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMg-u2DOfP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--mb:2px;--mb-tablet:2px;--mb-mobile:2px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="gh9mCIXgbV ">
      {% unless product %}<p>{{ 'gempages.ProductTitle.product_not_found' | t }}</p>{% else %}
      <gp-product-title
        gp-data='{"setting":{"linkProduct":false},"uid":"gh9mCIXgbV"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gh9mCIXgbV"
        class="gh9mCIXgbV"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <h2
          data-gp-text
          class="gp-g-subheading-1 gp-text-g-text-1 gp-text-instant"
          style="--w:100%;--tdt:auto;--ta:left;--line-clamp:2;--line-clamp-tablet:2;--line-clamp-mobile:2;--c:var(--g-c-text-1, text-1);--size:16px;--size-tablet:14px;--size-mobile:14px;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ product.title }}
        </h2>
      </div>
    </div>
    
      </gp-product-title>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-title-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {% endunless %}
      </div>
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"g4stYj0Dho"}' data-id="g4stYj0Dho" id="g4stYj0Dho" data-same-height-subgrid-container class="g4stYj0Dho gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:var(--g-s-xl);--mb:7px;--mt-tablet:var(--g-s-xl);--mb-tablet:0px;--mt-mobile:var(--g-s-xl);--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:4px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:end;--o:0"
      class="gMgXqDtRMG gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        id="shopify-text-element-gDC8a_kP-_" data-id="gDC8a_kP-_"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:!gp-hidden gDC8a_kP-_"
        style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%"
        gp-data='{"priceType":"regular","uid":"gDC8a_kP-_","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-gDC8a_kP-_" data-id
        
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-money gp-decoration-g-highlight gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdc:var(--g-c-highlight, highlight);--tdt:1px;--ta:left;--c:#C5453F;--size:26px;--size-tablet:22px;--size-mobile:21px;--weight:bold;word-break:break-word;overflow:hidden;--tdl:"
        >
          
     {% if variant.price %}
       {{ variant.price | money}}
     {% endif %}
   
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--ai:normal;--jc:end;--o:0"
      class="g0Ros90_Eb gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        id="shopify-text-element-g9yXjyqA8f" data-id="g9yXjyqA8f" data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:!gp-hidden g9yXjyqA8f"
        style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mb:3px;--mb-tablet:3px;--mb-mobile:3px"
        gp-data='{"priceType":"compare","uid":"g9yXjyqA8f","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-g9yXjyqA8f" data-id
        
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-product-compare-price gp-decoration-g-text-2 gp-g-paragraph-1 gp-text-g-text-2 gp-text-instant"
          style="--w:100%;--tdc:var(--g-c-text-2, text-2);--tdt:1px;--ta:left;--c:var(--g-c-text-2, text-2);--size:18px;--size-tablet:22px;--size-mobile:21px;word-break:break-word;overflow:hidden;--tdl:line-through"
        >
          
      {% if variant.compare_at_price  %}
        {{ variant.compare_at_price | money}}
      {% else %}

      {% endif %}
    
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
          
    
        {%- endform -%}
      </gp-product>
  
      {%- endif -%}
      {% endfor %}
      {%- if count == 0 and 0 == 0 -%}
        {% if 'PickProduct' == 'RelatedProduct' -%}
          <div>{{ 'gempages.ProductList.no_related_products' | t }}</div>
        {% else %}
          <div>{{ 'gempages.ProductList.no_products_found' | t }}</div>
        {%- endif -%}
      {%- endif -%}
    
      </gp-same-height>
    
      
    </div>
  
    {%- endif -%}
    
          {%- assign product = gpBkProduct -%}
          {%- assign products = gpBkProducts -%}
        </div>
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    "presets": [{ "name": "Section - Feb 12 12:39:08" }],
    "name": "Section - Feb 12 12:39:08",
    "tag": "section",
    "class": "gps-606272811492705028 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=606272811492705028)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggoHPsd-V5v_text","label":"ggoHPsd-V5v_text","default":"Das könnte Ihnen auch gefallen"},{"type":"html","id":"gg6rGlMnedE_outOfStockLabel","label":"gg6rGlMnedE_outOfStockLabel","default":"Out Of Stock"},{"type":"html","id":"gg6rGlMnedE_unavailableLabel","label":"gg6rGlMnedE_unavailableLabel","default":"Unavailable"},{"type":"html","id":"gg6rGlMnedE_variantSelectionRequiredMessage","label":"gg6rGlMnedE_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"},{"type":"html","id":"ggMg-u2DOfP_text","label":"ggMg-u2DOfP_text","default":"<p>Körper &amp; Gesundheit</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}