
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612205654702031725.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612205654702031725.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612205654702031725.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612205654702031725.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612205654702031725.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612205654702031725.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612205654702031725.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612205654702031725.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612205654702031725.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612205654702031725.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612205654702031725.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612205654702031725.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612205654702031725.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612205654702031725.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612205654702031725.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612205654702031725.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612205654702031725.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612205654702031725.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612205654702031725.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612205654702031725.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612205654702031725.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-612205654702031725.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612205654702031725.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612205654702031725.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612205654702031725.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-612205654702031725.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-612205654702031725.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612205654702031725.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612205654702031725.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-612205654702031725.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612205654702031725.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612205654702031725.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612205654702031725.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612205654702031725.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-612205654702031725.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-612205654702031725.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-612205654702031725.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-612205654702031725.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612205654702031725.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612205654702031725.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612205654702031725.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612205654702031725.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612205654702031725.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612205654702031725.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612205654702031725.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612205654702031725.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612205654702031725.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-612205654702031725.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612205654702031725.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-612205654702031725.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-612205654702031725.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612205654702031725.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612205654702031725.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-612205654702031725.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-612205654702031725.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612205654702031725.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612205654702031725.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-612205654702031725.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-612205654702031725.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-612205654702031725.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612205654702031725.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612205654702031725.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-612205654702031725.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-612205654702031725.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-612205654702031725.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-612205654702031725.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-612205654702031725.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-612205654702031725.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612205654702031725.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612205654702031725.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-612205654702031725.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-612205654702031725.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-612205654702031725 .-gp-rotate-90,.gps-612205654702031725 .gp-rotate-180,.gps-612205654702031725 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-612205654702031725 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-612205654702031725 .gp-relative{position:relative}.gps-612205654702031725 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612205654702031725 .gp-mb-0{margin-bottom:0}.gps-612205654702031725 .gp-flex{display:flex}.gps-612205654702031725 .gp-inline-flex{display:inline-flex}.gps-612205654702031725 .gp-grid{display:grid}.gps-612205654702031725 .\!gp-hidden{display:none!important}.gps-612205654702031725 .gp-hidden{display:none}.gps-612205654702031725 .gp-min-h-0{min-height:0}.gps-612205654702031725 .gp-w-full{width:100%}.gps-612205654702031725 .gp-max-w-full{max-width:100%}.gps-612205654702031725 .-gp-rotate-90{--tw-rotate:-90deg}.gps-612205654702031725 .-gp-rotate-90,.gps-612205654702031725 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-612205654702031725 .gp-rotate-180{--tw-rotate:180deg}.gps-612205654702031725 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-612205654702031725 .gp-cursor-pointer{cursor:pointer}.gps-612205654702031725 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-612205654702031725 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612205654702031725 .gp-flex-col{flex-direction:column}.gps-612205654702031725 .gp-items-center{align-items:center}.gps-612205654702031725 .gp-justify-center{justify-content:center}.gps-612205654702031725 .gp-gap-\[16px\]{gap:16px}.gps-612205654702031725 .gp-overflow-hidden{overflow:hidden}.gps-612205654702031725 .gp-overflow-clip{overflow:clip}.gps-612205654702031725 .gp-break-all{word-break:break-all}.gps-612205654702031725 .gp-text-\[var\(--icon-expand-active-color\)\]{color:var(--icon-expand-active-color)}.gps-612205654702031725 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612205654702031725 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612205654702031725 .gp-duration-200{transition-duration:.2s}.gps-612205654702031725 .gp-duration-500{transition-duration:.5s}.gps-612205654702031725 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-612205654702031725 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-612205654702031725 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-612205654702031725 .tablet\:\!gp-hidden{display:none!important}.gps-612205654702031725 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-612205654702031725 .mobile\:\!gp-hidden{display:none!important}.gps-612205654702031725 .mobile\:gp-hidden{display:none}}.gps-612205654702031725 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-612205654702031725 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-612205654702031725 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gekZNXikvi"}' data-id="gekZNXikvi" id="gekZNXikvi" data-same-height-subgrid-container class="gekZNXikvi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-mobile:auto;--pl-mobile:15px;--pb-mobile:var(--g-s-3xl);--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g562SwmIv_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsxKVjkT6p"}' data-id="gsxKVjkT6p" id="gsxKVjkT6p" data-same-height-subgrid-container class="gsxKVjkT6p gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gF-7E273UI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvl1Cry6GH"
        class="gvl1Cry6GH"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-m);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvl1Cry6GH_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqWFiAUDkl"
        class="gqWFiAUDkl"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:20px;--size-tablet:22px;--size-mobile:21px;--c:#575757;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqWFiAUDkl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--ml-mobile:0px;--mr-mobile:0px" class="gzxeM6_xEg ">
      
    <gp-accordion data-id="gzxeM6_xEg" class="gp-flex gp-flex-col gp-w-full" style="--gg:null;border-radius:inherit"
      gp-data='{"uid":"gzxeM6_xEg","setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" data-name=\"plus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" data-name=\"minus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gzxeM6_xEg","childListNumber":["0"],"chidlrenUid":["gUJzv7JsUt"]},"styles":{"color":{"normal":"#B4B4B4"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":false,"mobile":true},"width":{"desktop":"770px","tablet":"730px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"32px"},"mobile":{"horizontal":"0px","vertical":"28px"}}},"textColor":{"normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":null,"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}},"mobile":{"padding":{"bottom":"28px","left":"0px","right":"0px","top":"28px","type":"custom"}},"tablet":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"770px"},"mobile":{"width":"100%"},"tablet":{"width":"730px"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:770px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0">
    <div data-index="0" class="gzxeM6_xEg gp-overflow-hidden gp-child-item-gzxeM6_xEg gp-accordion-item">
      <div aria-hidden uid="gUJzv7JsUt" id="gUJzv7JsUt" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gzxeM6_xEg gp-accordion-item-gzxeM6_xEg-0" style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full gp-text-[var(--icon-expand-active-color)]">
              <svg height="20" width="20" data-name="minus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584339812712">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzxeM6_xEg_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="true" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gWm_xLJj_j gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gt2GS4irRU"
        class="gt2GS4irRU"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggt2GS4irRU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--ml-mobile:0px;--mr-mobile:0px" class="gfOThKT8wl ">
      
    <gp-accordion data-id="gfOThKT8wl" class="gp-flex gp-flex-col gp-w-full" style="--gg:null;border-radius:inherit"
      gp-data='{"uid":"gfOThKT8wl","setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" data-name=\"plus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" data-name=\"minus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gfOThKT8wl","childListNumber":["0"],"chidlrenUid":["gjE5ZDY0Ym"]},"styles":{"color":{"normal":"#B4B4B4"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":false,"mobile":true},"width":{"desktop":"770px","tablet":"730px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"32px"},"mobile":{"horizontal":"0px","vertical":"28px"}}},"textColor":{"normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":null,"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}},"mobile":{"padding":{"bottom":"28px","left":"0px","right":"0px","top":"28px","type":"custom"}},"tablet":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"770px"},"mobile":{"width":"100%"},"tablet":{"width":"730px"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:770px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0">
    <div data-index="0" class="gfOThKT8wl gp-overflow-hidden gp-child-item-gfOThKT8wl gp-accordion-item">
      <div aria-hidden uid="gjE5ZDY0Ym" id="gjE5ZDY0Ym" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gfOThKT8wl gp-accordion-item-gfOThKT8wl-0" style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full gp-text-[var(--icon-expand-active-color)]">
              <svg height="20" width="20" data-name="minus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584339812712">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfOThKT8wl_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="true" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gdcC-y9MJs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfc5iV1661"
        class="gfc5iV1661"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfc5iV1661_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--ml-mobile:0px;--mr-mobile:0px" class="gO7OEjPYHW ">
      
    <gp-accordion data-id="gO7OEjPYHW" class="gp-flex gp-flex-col gp-w-full" style="--gg:null;border-radius:inherit"
      gp-data='{"uid":"gO7OEjPYHW","setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" data-name=\"plus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" data-name=\"minus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gO7OEjPYHW","childListNumber":["0"],"chidlrenUid":["g6TfcFfSbr"]},"styles":{"color":{"normal":"#B4B4B4"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":false,"mobile":true},"width":{"desktop":"770px","tablet":"730px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"32px"},"mobile":{"horizontal":"0px","vertical":"28px"}}},"textColor":{"normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":null,"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}},"mobile":{"padding":{"bottom":"28px","left":"0px","right":"0px","top":"28px","type":"custom"}},"tablet":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"770px"},"mobile":{"width":"100%"},"tablet":{"width":"730px"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:770px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0">
    <div data-index="0" class="gO7OEjPYHW gp-overflow-hidden gp-child-item-gO7OEjPYHW gp-accordion-item">
      <div aria-hidden uid="g6TfcFfSbr" id="g6TfcFfSbr" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gO7OEjPYHW gp-accordion-item-gO7OEjPYHW-0" style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full gp-text-[var(--icon-expand-active-color)]">
              <svg height="20" width="20" data-name="minus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584339812712">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggO7OEjPYHW_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="true" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gAxxGJRi1S gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRIjcOJJGe"
        class="gRIjcOJJGe"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRIjcOJJGe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--ml-mobile:0px;--mr-mobile:0px" class="gv6wjsiM5A ">
      
    <gp-accordion data-id="gv6wjsiM5A" class="gp-flex gp-flex-col gp-w-full" style="--gg:null;border-radius:inherit"
      gp-data='{"uid":"gv6wjsiM5A","setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" data-name=\"plus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" data-name=\"minus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gv6wjsiM5A","childListNumber":["0"],"chidlrenUid":["gMHFSi9y-z"]},"styles":{"color":{"normal":"#B4B4B4"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":false,"mobile":true},"width":{"desktop":"770px","tablet":"730px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"32px"},"mobile":{"horizontal":"0px","vertical":"28px"}}},"textColor":{"normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":null,"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}},"mobile":{"padding":{"bottom":"28px","left":"0px","right":"0px","top":"28px","type":"custom"}},"tablet":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"770px"},"mobile":{"width":"100%"},"tablet":{"width":"730px"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:770px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0">
    <div data-index="0" class="gv6wjsiM5A gp-overflow-hidden gp-child-item-gv6wjsiM5A gp-accordion-item">
      <div aria-hidden uid="gMHFSi9y-z" id="gMHFSi9y-z" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gv6wjsiM5A gp-accordion-item-gv6wjsiM5A-0" style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full gp-text-[var(--icon-expand-active-color)]">
              <svg height="20" width="20" data-name="minus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584339812712">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggv6wjsiM5A_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="true" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gGiv1dIzvu gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3cWR-BBy6"
        class="g3cWR-BBy6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3cWR-BBy6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--ml-mobile:0px;--mr-mobile:0px" class="gwXRNlwT5j ">
      
    <gp-accordion data-id="gwXRNlwT5j" class="gp-flex gp-flex-col gp-w-full" style="--gg:null;border-radius:inherit"
      gp-data='{"uid":"gwXRNlwT5j","setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" data-name=\"plus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" data-name=\"minus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gwXRNlwT5j","childListNumber":["0"],"chidlrenUid":["g3bli3tHLk"]},"styles":{"color":{"normal":"#B4B4B4"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":false,"mobile":true},"width":{"desktop":"770px","tablet":"730px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"32px"},"mobile":{"horizontal":"0px","vertical":"28px"}}},"textColor":{"normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":null,"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}},"mobile":{"padding":{"bottom":"28px","left":"0px","right":"0px","top":"28px","type":"custom"}},"tablet":{"padding":{"bottom":"32px","left":"0px","right":"0px","top":"32px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"770px"},"mobile":{"width":"100%"},"tablet":{"width":"730px"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#B4B4B4;--icon-active-color:#121212;--icon-hover-color:#121212;--w:770px;--w-tablet:730px;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0">
    <div data-index="0" class="gwXRNlwT5j gp-overflow-hidden gp-child-item-gwXRNlwT5j gp-accordion-item">
      <div aria-hidden uid="g3bli3tHLk" id="g3bli3tHLk" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gwXRNlwT5j gp-accordion-item-gwXRNlwT5j-0" style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full gp-text-[var(--icon-expand-active-color)]">
              <svg height="20" width="20" data-name="minus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584339812712">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwXRNlwT5j_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="true" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="g4zmDS0d7P gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glufgFxDYi"
        class="glufgFxDYi"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-2xl);--pr:var(--g-s-5xl);--mt-mobile:0px;--mb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-3xl);--pr-tablet:var(--g-s-4xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglufgFxDYi_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-612205654702031725 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612205542814778221&sectionId=612205654702031725)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvl1Cry6GH_text","label":"ggvl1Cry6GH_text","default":"Häufig gestellte Fragen"},{"type":"html","id":"ggqWFiAUDkl_text","label":"ggqWFiAUDkl_text","default":"<p>Fragen? Hier werden Sie fündig</p>"},{"type":"html","id":"ggzxeM6_xEg_childItem_0","label":"ggzxeM6_xEg_childItem_0","default":"<p>Welche Versandoptionen gibt es und wie lange dauert die Lieferung?</p>"},{"type":"html","id":"ggt2GS4irRU_text","label":"ggt2GS4irRU_text","default":"<p>Nach Zahlungseingang erhalten Sie eine DHL Sendungsnummer. Die Zustellung erfolgt in der Regel innerhalb von 1 bis 2 Werktagen. Unter <a href=\"https://www.dhl.de/de/privatkunden/pakete-empfangen/verfolgen.html\"><u>https://www.dhl.de/de/privatkunden/pakete-empfangen/verfolgen.html</u></a>&nbsp;können Sie jederzeit den aktuellen Status Ihrer Sendung einsehen.</p>"},{"type":"html","id":"ggfOThKT8wl_childItem_0","label":"ggfOThKT8wl_childItem_0","default":"<p>Welche Zahlungsmethoden werden akzeptiert?</p>"},{"type":"html","id":"ggfc5iV1661_text","label":"ggfc5iV1661_text","default":"<p>Sie haben die Möglichkeit, via PayPal, SOFORT-Überweisung, Giropay, Kreditkarte oder per Klarna- Kauf auf Rechnung zu zahlen.</p><p><br>&nbsp;</p>"},{"type":"html","id":"ggO7OEjPYHW_childItem_0","label":"ggO7OEjPYHW_childItem_0","default":"<p>Wie kann ich meine Bestellung zurücksenden?</p>"},{"type":"html","id":"ggRIjcOJJGe_text","label":"ggRIjcOJJGe_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(51,51,51);font-size:15px;\">Die Geld-zurück-Garantie kann für all unsere Produkte innerhalb von 30 Tagen nach Erhalt der Ware in Anspruch genommen werden. Fordern Sie hierzu ganz einfach eine Genehmigung für die Warenrückgabe von unserem Kundendienst an. Unseren Kundenservice erreichen Sie über unser Kontaktformular oder unter </span><a href=\"mailto:support@ku-europe.de\"><u>support@ku-europe.de</u></a><span style=\"background-color:rgb(255,255,255);color:rgb(51,51,51);font-size:15px;\">.</span></p><p><br>&nbsp;</p>"},{"type":"html","id":"ggv6wjsiM5A_childItem_0","label":"ggv6wjsiM5A_childItem_0","default":"<p>Was passiert, wenn ein Produkt beschädigt oder fehlerhaft ist?</p>"},{"type":"html","id":"gg3cWR-BBy6_text","label":"gg3cWR-BBy6_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(51,51,51);font-size:15px;\">Sollte ein Produkt beschädigt bei Ihnen ankommen oder einen Mangel aufweisen, kontaktieren Sie bitte umgehend unseren Kundenservice. Wir kümmern uns schnellstmöglich um Ersatz oder eine Rückerstattung.</span></p><p><br>&nbsp;</p>"},{"type":"html","id":"ggwXRNlwT5j_childItem_0","label":"ggwXRNlwT5j_childItem_0","default":"<p>Wer trägt die Kosten für den Rückversand?</p>"},{"type":"html","id":"gglufgFxDYi_text","label":"gglufgFxDYi_text","default":"<p>Es werden Ihnen keine Kosten für die Rücksendung berechnet, sofern Sie aus Deutschland bei uns bestellt haben. Sollten Sie außerhalb von Deutschland bestellt haben, können wir Ihnen leider keine kostenlose Rücksendung anbieten.</p><p><br>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}