
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606863655681655706.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-606863655681655706.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-606863655681655706.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606863655681655706.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606863655681655706.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606863655681655706.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606863655681655706.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606863655681655706.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606863655681655706.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606863655681655706.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606863655681655706.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606863655681655706.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606863655681655706.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606863655681655706.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606863655681655706.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-606863655681655706.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-606863655681655706.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606863655681655706.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606863655681655706.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606863655681655706.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606863655681655706.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606863655681655706.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606863655681655706.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606863655681655706.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606863655681655706.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606863655681655706.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606863655681655706.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606863655681655706.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606863655681655706.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-606863655681655706.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-606863655681655706.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-606863655681655706.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606863655681655706.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606863655681655706.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606863655681655706.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606863655681655706.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606863655681655706.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606863655681655706.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606863655681655706.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606863655681655706.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-606863655681655706.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606863655681655706.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606863655681655706.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-606863655681655706.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-606863655681655706.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-606863655681655706.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-606863655681655706.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-606863655681655706.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606863655681655706.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606863655681655706.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-606863655681655706.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-606863655681655706.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-606863655681655706.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-606863655681655706.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-606863655681655706.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-606863655681655706.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606863655681655706.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606863655681655706.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-606863655681655706.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-606863655681655706 .\!gp-relative{position:relative!important}.gps-606863655681655706 .gp-relative{position:relative}.gps-606863655681655706 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606863655681655706 .gp-mb-0{margin-bottom:0}.gps-606863655681655706 .gp-inline-block{display:inline-block}.gps-606863655681655706 .gp-flex{display:flex}.gps-606863655681655706 .gp-inline-flex{display:inline-flex}.gps-606863655681655706 .gp-grid{display:grid}.gps-606863655681655706 .\!gp-hidden{display:none!important}.gps-606863655681655706 .gp-hidden{display:none}.gps-606863655681655706 .gp-h-auto{height:auto}.gps-606863655681655706 .gp-h-full{height:100%}.gps-606863655681655706 .gp-w-\[0\.01px\]{width:.01px}.gps-606863655681655706 .gp-w-full{width:100%}.gps-606863655681655706 .gp-max-w-full{max-width:100%}.gps-606863655681655706 .gp-flex-none{flex:none}.gps-606863655681655706 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606863655681655706 .gp-flex-col{flex-direction:column}.gps-606863655681655706 .gp-items-center{align-items:center}.gps-606863655681655706 .gp-overflow-hidden{overflow:hidden}.gps-606863655681655706 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606863655681655706 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606863655681655706 .gp-duration-200{transition-duration:.2s}.gps-606863655681655706 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-606863655681655706 .tablet\:\!gp-hidden{display:none!important}.gps-606863655681655706 .tablet\:gp-hidden{display:none}.gps-606863655681655706 .tablet\:gp-h-auto{height:auto}.gps-606863655681655706 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-606863655681655706 .mobile\:\!gp-hidden{display:none!important}.gps-606863655681655706 .mobile\:gp-hidden{display:none}.gps-606863655681655706 .mobile\:gp-h-auto{height:auto}.gps-606863655681655706 .mobile\:gp-flex-none{flex:none}}.gps-606863655681655706 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gvoE5rHni2"}' data-id="gvoE5rHni2" id="gvoE5rHni2" data-same-height-subgrid-container class="gvoE5rHni2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-s);--pb-mobile:var(--g-s-xs);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFgx_ppju0 gp-relative gp-flex gp-flex-col"
    >
      
  <script src="https://assets.gemcommerce.com/assets-v2/gp-marquee-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee data-id="gn9yPS_pp2" gp-data='{"setting":{"childItem":["Item 1","Item 2","Item 3"],"itemWidthType":{"desktop":"BASE_ON_NUMBER_OF_ITEMS","tablet":"BASE_ON_NUMBER_OF_ITEMS","mobile":"CUSTOM"},"activeItem":"0","hoverItem":"0","isShowIconSeparator":false,"iconSeparatorSvg":"<svg height=\"20px\" width=\"20px\" data-name=\"dot-outline-filled\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817731477569896\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z\"></path></svg>","stopOnHover":true,"speed":"0.5","direction":"left","isPreview":false,"hasItemShadow":false,"uid":"gn9yPS_pp2"},"styles":{"itemSpacing":{"desktop":"60px","mobile":"49px"},"itemMaxWidth":{"desktop":"300px","tablet":"300px","mobile":"150px"},"iconSeparatorSize":{"desktop":16},"iconSeparatorColor":"text-2","sizeSetting":{"desktop":{"shapeLinked":false,"width":"100%","height":"Auto"},"mobile":{"shapeLinked":false,"width":"100%","height":"Auto"}},"itemBorderStyle":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false,"color":"#000000"},"itemCorner":{"radiusType":"none"},"itemBackgroundColor":{"desktop":"transparent"},"backgroundColor":{"desktop":"transparent"},"align":{"desktop":"center"}}}'
   class="gn9yPS_pp2">
   <div class="gp-flex gp-w-full gp-relative" style="--jc:center">
      <div class="!gp-relative" style="--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--pt:16px;--pl:0px;--pb:16px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:none;--d-tablet:none;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--bg:transparent">
         <div class="gem-marquee gp-overflow-hidden gp-flex gp-items-center gp-w-full gp-h-full gn9yPS_pp2">
            <div class="gp-overflow-hidden gp-w-full gp-h-full">
               
  <div style="--pause-on-hover:paused;--pause-on-click:paused;--width:100%;--transform:none;min-width:100%" class="rfm-marquee-container">
    <div class="rfm-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto">
      <div class="rfm-initial-child-container">
        
        <div style="--transform:none;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto" class="rfm-child">
          
               <div class="gp-flex gp-items-center gp-marque-child-item gem-child-marquee-item gp-w-full">
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:49px;text-wrap:wrap;--w:calc(100% / 3);--w-tablet:calc(100% / 3);--w-mobile:150px;--minw:calc(100% / 3);--minw-tablet:calc(100% / 3);--minw-mobile:150px;--maxw:calc(100% / 3);--maxw-tablet:calc(100% / 3);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gFVoKf0vxs gem-marquee-item-gFVoKf0vxs"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gL-25zwZa3"
      style="--pt:12px;--pb:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1772200089546 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gL-25zwZa3"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1920" height="287" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:1920/287;--aspect-tablet:1920/287;--aspect-mobile:1920/287;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:49px;text-wrap:wrap;--w:calc(100% / 3);--w-tablet:calc(100% / 3);--w-mobile:150px;--minw:calc(100% / 3);--minw-tablet:calc(100% / 3);--minw-mobile:150px;--maxw:calc(100% / 3);--maxw-tablet:calc(100% / 3);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gu0IpKHyaZ gem-marquee-item-gu0IpKHyaZ"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gqbOOLwCWz"
      style="--pt:12px;--pb:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1772200089546 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gqbOOLwCWz"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="572" height="223" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "logogs-ku2-rtl-Logo.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "logogs-ku2-rtl-Logo.png" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:572/223;--aspect-tablet:572/223;--aspect-mobile:572/223;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:49px;text-wrap:wrap;--w:calc(100% / 3);--w-tablet:calc(100% / 3);--w-mobile:150px;--minw:calc(100% / 3);--minw-tablet:calc(100% / 3);--minw-mobile:150px;--maxw:calc(100% / 3);--maxw-tablet:calc(100% / 3);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gA7GoaZghZ gem-marquee-item-gA7GoaZghZ"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gl7gUgPqM3"
      style="--pt:12px;--pb:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1772200089547 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gl7gUgPqM3"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1920" height="287" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:1920/287;--aspect-tablet:1920/287;--aspect-mobile:1920/287;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
               </div>
               
        </div>
        
      </div>
    </div>
    <div class="rfm-marquee placeholder-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto"></div>
  </div>
  
            </div>
         </div>
      </div>
   </div>
</gp-marquee>

    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-606863655681655706 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=602392006047564715&sectionId=606863655681655706)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}