
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612205653108195859.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612205653108195859.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-612205653108195859.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612205653108195859.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612205653108195859.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612205653108195859.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-612205653108195859.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612205653108195859.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612205653108195859.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612205653108195859.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612205653108195859.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-612205653108195859.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612205653108195859.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-612205653108195859.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612205653108195859.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612205653108195859.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-612205653108195859.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612205653108195859.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-612205653108195859.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612205653108195859.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612205653108195859.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-612205653108195859.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612205653108195859.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-612205653108195859.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612205653108195859.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-612205653108195859.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612205653108195859.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612205653108195859.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612205653108195859.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612205653108195859.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612205653108195859.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612205653108195859.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612205653108195859.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-612205653108195859.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612205653108195859.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-612205653108195859.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612205653108195859.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-612205653108195859.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612205653108195859.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612205653108195859.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612205653108195859.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612205653108195859.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-612205653108195859.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612205653108195859.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612205653108195859.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612205653108195859.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612205653108195859.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612205653108195859.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612205653108195859.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612205653108195859.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612205653108195859.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612205653108195859.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-612205653108195859.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612205653108195859.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-612205653108195859.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-612205653108195859.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612205653108195859.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-612205653108195859.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612205653108195859.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-612205653108195859.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612205653108195859.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612205653108195859.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-612205653108195859.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-612205653108195859.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-612205653108195859.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612205653108195859.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-612205653108195859.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-612205653108195859.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612205653108195859.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-612205653108195859.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-612205653108195859.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612205653108195859.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612205653108195859.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-612205653108195859.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-612205653108195859.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-612205653108195859.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-612205653108195859 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-612205653108195859 .gp-fixed{position:fixed}.gps-612205653108195859 .gp-relative{position:relative}.gps-612205653108195859 .gp-top-\[27px\]{top:27px}.gps-612205653108195859 .gp-z-\[100\]{z-index:100}.gps-612205653108195859 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612205653108195859 .gp-mb-0{margin-bottom:0}.gps-612205653108195859 .gp-flex{display:flex}.gps-612205653108195859 .gp-inline-flex{display:inline-flex}.gps-612205653108195859 .gp-grid{display:grid}.gps-612205653108195859 .\!gp-hidden{display:none!important}.gps-612205653108195859 .gp-hidden{display:none}.gps-612205653108195859 .\!gp-h-auto{height:auto!important}.gps-612205653108195859 .gp-h-full{height:100%}.gps-612205653108195859 .gp-min-h-\[150px\]{min-height:150px}.gps-612205653108195859 .gp-max-w-full{max-width:100%}.gps-612205653108195859 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612205653108195859 .gp-flex-col{flex-direction:column}.gps-612205653108195859 .gp-items-center{align-items:center}.gps-612205653108195859 .gp-justify-center{justify-content:center}.gps-612205653108195859 .gp-overflow-hidden{overflow:hidden}.gps-612205653108195859 .gp-break-words{overflow-wrap:break-word}.gps-612205653108195859 .gp-rounded{border-radius:4px}.gps-612205653108195859 .\!gp-bg-white{--tw-bg-opacity:1!important;background-color:rgb(255 255 255/var(--tw-bg-opacity,1))!important}.gps-612205653108195859 .\!gp-bg-none{background-image:none!important}.gps-612205653108195859 .gp-p-\[16px\]{padding:16px}.gps-612205653108195859 .gp-text-\[14px\]{font-size:14px}.gps-612205653108195859 .gp-leading-normal{line-height:1.5}.gps-612205653108195859 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-612205653108195859 .gp-no-underline{text-decoration-line:none}.gps-612205653108195859 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-612205653108195859 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612205653108195859 .gp-duration-200{transition-duration:.2s}.gps-612205653108195859 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612205653108195859 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-612205653108195859 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-612205653108195859 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-612205653108195859 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-612205653108195859 .tablet\:\!gp-hidden{display:none!important}.gps-612205653108195859 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-612205653108195859 .mobile\:\!gp-hidden{display:none!important}.gps-612205653108195859 .mobile\:gp-hidden{display:none}}.gps-612205653108195859 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-612205653108195859 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAKZTRzhjG"}' data-id="gAKZTRzhjG" id="gAKZTRzhjG" data-same-height-subgrid-container class="gAKZTRzhjG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-mobile:var(--g-s-3xl);--pl-mobile:15px;--pb-mobile:auto;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9FZsIxQOt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCkev8v2kj"}' data-id="gCkev8v2kj" id="gCkev8v2kj" data-same-height-subgrid-container class="gCkev8v2kj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:100px;--pb:var(--g-s-2xl);--pr:100px;--pt-tablet:var(--g-s-2xl);--pl-tablet:auto;--pb-tablet:var(--g-s-2xl);--pr-tablet:auto;--cg:30px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:end"
      class="gzA81hLS23 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTaiJ0FXKU"
        class="gTaiJ0FXKU"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-m);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#5FC4D9;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTaiJ0FXKU_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g02KwYMbwU"
        class="g02KwYMbwU"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:16px;--c:#151515;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg02KwYMbwU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      
    <div class="gp-mx-auto gp-max-w-full" style="--w:100%;--pl-tablet:0px;--pr-tablet:0px;--bc:#121212;--bw:0px;--bs:solid;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-3xl)">
      <gp-form
        data-id="gJOuMhbPqd" id="gJOuMhbPqd" data-submit-action="stay-on-page"
        data-callback='{"link":"#el-gCm_kUylyK","target":"_self","type":"open-popup"}'
      >
        <a
          hidden="true" id="gp-form-callback-gJOuMhbPqd" href="#el-gCm_kUylyK" target="_self"
        >
        </a>
        {% form 'contact', class: 'gp-form-gJOuMhbPqd ', id: 'contact_form_gJOuMhbPqd' %}
          {% if form.errors %}
            <div
              id="gp-form-error-gJOuMhbPqd"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#FFE9E9;left:50%;transform:translateX(-50%)"
            >
              Nachricht konnte nicht gesendet werden.
            </div>
          {% endif %}
          <div popover id="my-popover-gJOuMhbPqd">
            <style>
              
    #my-popover-gJOuMhbPqd::backdrop {
      width: fit-content;
      height: fit-content;
    }
  
            </style>
            <div
              id="gp-form-success-gJOuMhbPqd"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#F2FFEC;left:50%;transform:translateX(-50%)"
            >
              Danke für Ihre Nachricht. Wir melden uns schnellstmöglich bei Ihnen zurück.
            </div>
          </div>
          
    <div
      
      data-id="gRpgBGvR7P"
      class="gRpgBGvR7P"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--ta:left"
    >
      <input
        type="text"
        class="gRpgBGvR7P gp-text-g-text-1 gp-form-item !gp-outline-none !gp-bg-none !gp-bg-white"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14.5px;--pb-mobile:14.5px;--c:var(--g-c-text-1, text-1);--tt:default;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.ggRpgBGvR7P_placeholder }}"
        required
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    <div
      
      data-id="gWa6HdQCdb"
      class="gWa6HdQCdb flex flex-col"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--ta:left"
    >
      
      <input
        type="email"
        class="gp-form-item !gp-outline-none !gp-bg-none email-form-gWa6HdQCdb"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14.5px;--pb-mobile:14.5px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.ggWa6HdQCdb_placeholder }}"
        name="contact[email]"
        required
        autocomplete="email"
        
      ></input>
    </div>
  
    <div
      
      data-id="gI4nKTR6FJ"
      class="gI4nKTR6FJ"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--ta:left"
    >
      <input
        type="text"
        class="gI4nKTR6FJ gp-text-g-text-1 gp-form-item !gp-outline-none !gp-bg-none !gp-bg-white"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14.5px;--pb-mobile:14.5px;--c:var(--g-c-text-1, text-1);--tt:default;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.ggI4nKTR6FJ_placeholder }}"
        required
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    <div
      
      data-id="gB9YIDePvI"
      class="gB9YIDePvI"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:left"
    >
      <textarea
        class="gB9YIDePvI gp-text-g-text-1 gp-form-item !gp-outline-none !gp-h-auto !gp-bg-none gp-min-h-[150px]"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14.5px;--pb-mobile:14.5px;--c:var(--g-c-text-1, text-1);--tt:default;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.ggB9YIDePvI_placeholder }}"
        
        name="contact[note]"
        value=""
      ></textarea>
    </div>
  
    
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="gSdHZcu1jp"].gp-button-base::before, [data-id="gSdHZcu1jp-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-2, line-2);
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="gSdHZcu1jp"]:hover::before, [data-id="gSdHZcu1jp-interaction"]:hover::before {
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-3, line-3);
  
    
  }</style>
        
        <button
          data-id="gSdHZcu1jp" dataId="gSdHZcu1jp" data-state="idle" aria-label="Senden"
          
          type="submit"
          style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:10.5px;--pb-mobile:10.5px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--hvr-bblr:40px;--hvr-bbrr:40px;--hvr-btlr:40px;--hvr-btrr:40px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#424242;--bg:#5FC4D9;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal"
          class="gSdHZcu1jp gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggSdHZcu1jp_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
  
        {% endform %}
      </gp-form>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-form-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-612205653108195859 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612205542814778221&sectionId=612205653108195859)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTaiJ0FXKU_text","label":"ggTaiJ0FXKU_text","default":"Wie können wir Ihnen helfen?"},{"type":"html","id":"gg02KwYMbwU_text","label":"gg02KwYMbwU_text","default":"<p>Füllen Sie das Kontaktformular aus und unser Team meldet sich in Kürze bei Ihnen.</p>"},{"type":"html","id":"ggRpgBGvR7P_placeholder","label":"ggRpgBGvR7P_placeholder","default":"Name"},{"type":"html","id":"ggWa6HdQCdb_placeholder","label":"ggWa6HdQCdb_placeholder","default":"E-Mail"},{"type":"html","id":"ggI4nKTR6FJ_placeholder","label":"ggI4nKTR6FJ_placeholder","default":"Bestellnummer"},{"type":"html","id":"ggB9YIDePvI_placeholder","label":"ggB9YIDePvI_placeholder","default":"Nachricht"},{"type":"html","id":"ggSdHZcu1jp_label","label":"ggSdHZcu1jp_label","default":"Senden"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}