
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-611808107730829923.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-611808107730829923.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-611808107730829923.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-611808107730829923.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-611808107730829923.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-611808107730829923.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-611808107730829923.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-611808107730829923.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-611808107730829923.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-611808107730829923.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-611808107730829923.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-611808107730829923.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-611808107730829923.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-611808107730829923.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-611808107730829923.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-611808107730829923.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-611808107730829923.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-611808107730829923.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-611808107730829923.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-611808107730829923.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-611808107730829923.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-611808107730829923.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-611808107730829923.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-611808107730829923.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-611808107730829923.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-611808107730829923.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-611808107730829923.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-611808107730829923.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-611808107730829923.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-611808107730829923.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-611808107730829923.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-611808107730829923.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-611808107730829923.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-611808107730829923.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-611808107730829923.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-611808107730829923.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-611808107730829923.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-611808107730829923.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-611808107730829923.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-611808107730829923.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-611808107730829923.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-611808107730829923.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-611808107730829923.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-611808107730829923.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-611808107730829923.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-611808107730829923.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-611808107730829923.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-611808107730829923.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-611808107730829923.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-611808107730829923.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-611808107730829923.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-611808107730829923.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-611808107730829923.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-611808107730829923.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-611808107730829923.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-611808107730829923.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-611808107730829923.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-611808107730829923.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-611808107730829923.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-611808107730829923.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-611808107730829923.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-611808107730829923.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-611808107730829923.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-611808107730829923.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-611808107730829923.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-611808107730829923.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-611808107730829923.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-611808107730829923.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-611808107730829923.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-611808107730829923.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-611808107730829923 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-611808107730829923 .gp-relative{position:relative}.gps-611808107730829923 .gp-z-1{z-index:1}.gps-611808107730829923 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-611808107730829923 .gp-mb-0{margin-bottom:0}.gps-611808107730829923 .gp-flex{display:flex}.gps-611808107730829923 .gp-inline-flex{display:inline-flex}.gps-611808107730829923 .gp-grid{display:grid}.gps-611808107730829923 .\!gp-hidden{display:none!important}.gps-611808107730829923 .gp-hidden{display:none}.gps-611808107730829923 .gp-h-full{height:100%}.gps-611808107730829923 .gp-max-w-full{max-width:100%}.gps-611808107730829923 .gp-shrink-0{flex-shrink:0}.gps-611808107730829923 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-611808107730829923 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-611808107730829923 .gp-flex-col{flex-direction:column}.gps-611808107730829923 .gp-items-center{align-items:center}.gps-611808107730829923 .gp-justify-center{justify-content:center}.gps-611808107730829923 .gp-overflow-hidden{overflow:hidden}.gps-611808107730829923 .gp-break-words{overflow-wrap:break-word}.gps-611808107730829923 .gp-text-center{text-align:center}.gps-611808107730829923 .gp-no-underline{text-decoration-line:none}.gps-611808107730829923 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-611808107730829923 .gp-duration-200{transition-duration:.2s}.gps-611808107730829923 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-611808107730829923 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-611808107730829923 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-611808107730829923 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-611808107730829923 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-611808107730829923 .tablet\:\!gp-hidden{display:none!important}.gps-611808107730829923 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-611808107730829923 .mobile\:\!gp-hidden{display:none!important}.gps-611808107730829923 .mobile\:gp-hidden{display:none}}.gps-611808107730829923 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-611808107730829923 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-611808107730829923 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-611808107730829923 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-611808107730829923 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-611808107730829923 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gqUYxyAXg0"}' data-id="gqUYxyAXg0" id="gqUYxyAXg0" data-same-height-subgrid-container class="gqUYxyAXg0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--ml-mobile:auto;--pt-mobile:var(--g-s-m);--pb-mobile:2px;--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gp8wdinrft gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gfpFKhp9mt"}' data-id="gfpFKhp9mt" id="gfpFKhp9mt" data-same-height-subgrid-container class="gfpFKhp9mt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:24px;--mb-mobile:0px;--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gnGqxq_TEq gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gwLJL-9T7w"}' data-id="gwLJL-9T7w" id="gwLJL-9T7w" data-same-height-subgrid-container class="gwLJL-9T7w gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gayZt9Hsfl gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gg5pXDPY4O"}' data-id="gg5pXDPY4O" id="gg5pXDPY4O" data-same-height-subgrid-container class="gg5pXDPY4O gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:24px;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gi91uDz6Eo gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"/products/fetoxin-activity-kapseln-30-caps","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mb:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left" >
        <style>[data-id="gqYpDjNXOE"].gp-button-base::before, [data-id="gqYpDjNXOE-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
  
    }
  
      
  [data-id="gqYpDjNXOE"]:hover::before, [data-id="gqYpDjNXOE-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gqYpDjNXOE" dataId="gqYpDjNXOE" data-state="idle" aria-label="<p>Mehr erfahren</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/fetoxin-activity-kapseln-30-caps" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--hvr-bblr:9999px;--hvr-bbrr:9999px;--hvr-btlr:9999px;--hvr-btrr:9999px;--bgi:;--hvr-bgi:;--bg:#1C4151;--hvr-bg:#6DC7D7;--c:#FFFFFF;--size:18px;--size-tablet:22px;--size-mobile:15px;--weight:bold"
          class="gqYpDjNXOE gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--size:18px;--size-tablet:22px;--size-mobile:15px;--weight:bold;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="arrow-circle-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550821818728">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm48.49-92.49a12,12,0,0,1,0,17l-32,32a12,12,0,1,1-17-17L139,140H88a12,12,0,0,1,0-24h51l-11.52-11.51a12,12,0,1,1,17-17Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--size:18px;--size-tablet:22px;--size-mobile:15px;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggqYpDjNXOE_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gyjGCGcSxx gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"scroll-to","link":"#gieoI8xQYB","target":"_self","title":"Section 9"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mb:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center" >
        <style>[data-id="gMnOZU9-CZ"].gp-button-base::before, [data-id="gMnOZU9-CZ-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
  
    }
  
      
  [data-id="gMnOZU9-CZ"]:hover::before, [data-id="gMnOZU9-CZ-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gieoI8xQYB
            target=_self
          ></a>
        <a
          data-id="gMnOZU9-CZ" dataId="gMnOZU9-CZ" data-state="idle" aria-label="<p>Inhaltstoffe</p>"
          
          href="#gieoI8xQYB" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--hvr-bblr:9999px;--hvr-bbrr:9999px;--hvr-btlr:9999px;--hvr-btrr:9999px;--bgi:;--hvr-bgi:;--bg:#6DC7D7;--hvr-bg:#1C4151;--hvr-c:#6DC7D7;--c:#FFFFFF;--size:18px;--size-tablet:22px;--size-mobile:15px;--weight:bold"
          class="gMnOZU9-CZ gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--size:18px;--size-tablet:22px;--size-mobile:15px;--weight:bold;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="pill-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587900514664">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M219.26,36.77a57.28,57.28,0,0,0-81,0L36.77,138.26a57.26,57.26,0,0,0,81,81L219.26,117.74A57.33,57.33,0,0,0,219.26,36.77ZM100.78,202.26a33.26,33.26,0,1,1-47-47L96,113l47,47Zm101.5-101.49L160,143,113,96l42.27-42.26a33.26,33.26,0,0,1,47,47Zm-9.77-25.26a12,12,0,0,1,0,17l-24,24a12,12,0,1,1-17-17l24-24A12,12,0,0,1,192.51,75.51Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--size:18px;--size-tablet:22px;--size-mobile:15px;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggMnOZU9-CZ_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-611808107730829923 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=602392006047564715&sectionId=611808107730829923)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggqYpDjNXOE_label","label":"ggqYpDjNXOE_label","default":"<p>Mehr erfahren</p>"},{"type":"html","id":"ggMnOZU9-CZ_label","label":"ggMnOZU9-CZ_label","default":"<p>Inhaltstoffe</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}