
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606000209331880534.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606000209331880534.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606000209331880534.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606000209331880534.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606000209331880534.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606000209331880534.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606000209331880534.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606000209331880534.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606000209331880534.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-606000209331880534.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606000209331880534.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-606000209331880534.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606000209331880534.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606000209331880534.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-606000209331880534.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606000209331880534.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-606000209331880534.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-606000209331880534.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606000209331880534.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606000209331880534.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-606000209331880534.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606000209331880534.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-606000209331880534.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606000209331880534.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-606000209331880534.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606000209331880534.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606000209331880534.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606000209331880534.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606000209331880534.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606000209331880534.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606000209331880534.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606000209331880534.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606000209331880534.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606000209331880534.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-606000209331880534.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606000209331880534.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-606000209331880534.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606000209331880534.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606000209331880534.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606000209331880534.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606000209331880534.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606000209331880534.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606000209331880534.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606000209331880534.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606000209331880534.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-606000209331880534.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606000209331880534.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-606000209331880534.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606000209331880534.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-606000209331880534.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-606000209331880534.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606000209331880534.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-606000209331880534.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-606000209331880534.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606000209331880534.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606000209331880534.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-606000209331880534.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-606000209331880534.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-606000209331880534.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606000209331880534.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-606000209331880534.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-606000209331880534.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-606000209331880534.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606000209331880534.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606000209331880534.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-606000209331880534.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-606000209331880534.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-606000209331880534.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-606000209331880534 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-606000209331880534 .gp-relative{position:relative}.gps-606000209331880534 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606000209331880534 .gp-mb-0{margin-bottom:0}.gps-606000209331880534 .gp-flex{display:flex}.gps-606000209331880534 .gp-inline-flex{display:inline-flex}.gps-606000209331880534 .gp-grid{display:grid}.gps-606000209331880534 .\!gp-hidden{display:none!important}.gps-606000209331880534 .gp-hidden{display:none}.gps-606000209331880534 .gp-max-w-full{max-width:100%}.gps-606000209331880534 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606000209331880534 .gp-flex-col{flex-direction:column}.gps-606000209331880534 .gp-items-center{align-items:center}.gps-606000209331880534 .gp-justify-center{justify-content:center}.gps-606000209331880534 .gp-overflow-hidden{overflow:hidden}.gps-606000209331880534 .gp-leading-\[0\]{line-height:0}.gps-606000209331880534 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606000209331880534 .gp-duration-200{transition-duration:.2s}.gps-606000209331880534 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-606000209331880534 .tablet\:\!gp-hidden{display:none!important}.gps-606000209331880534 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-606000209331880534 .mobile\:\!gp-hidden{display:none!important}.gps-606000209331880534 .mobile\:gp-hidden{display:none}}.gps-606000209331880534 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-606000209331880534 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-606000209331880534 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-606000209331880534 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-606000209331880534 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gRjLX4ZsuX"}' data-id="gRjLX4ZsuX" id="gRjLX4ZsuX" data-same-height-subgrid-container class="gRjLX4ZsuX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3oTYNDX6B gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gcpSSqSHCI"}' data-id="gcpSSqSHCI" id="gcpSSqSHCI" data-same-height-subgrid-container class="gcpSSqSHCI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="geq99PSWc- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gJHvZy2fZB"}' data-id="gJHvZy2fZB" id="gJHvZy2fZB" data-same-height-subgrid-container class="gJHvZy2fZB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gEaOMYvm_z gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gjoV6VoZ3A" class="gp-leading-[0] gjoV6VoZ3A" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gjoV6VoZ3A" class="icon-wrapper gp-inline-flex gp-overflow-hidden gjoV6VoZ3A " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:transparent;--shadow:none">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:37px;--w-tablet:37px;--w-mobile:37px;--h:37px;--h-tablet:37px;--h-mobile:37px;--minw:37px;--minw-tablet:37px;--minw-mobile:37px;--height-desktop:37px;--height-tablet:37px;--height-mobile:37px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><?xml version="1.0" encoding="UTF-8"?><svg data-id="612072377152438945" class="id612072377152438945" width="20" height="20" xmlns="http://www.w3.org/2000/svg" id="Ebene_1" data-name="fetoxin_iconsZeichenfläche 1.svg" viewBox="0 0 300 300">
  <defs>
    <style>
      .id612072377152438945 .cls-1 {
        fill: #d6d6d6;
      }

      .id612072377152438945 .cls-2 {
        fill: #ffb300;
      }

      .id612072377152438945 .cls-3 {
        fill: #c2d503;
      }

      .id612072377152438945 .cls-4 {
        fill: #6f7c83;
      }
    </style>
  </defs>
  <path class="cls-2" d="M274.73,99.14H51.09l24.29,97.29h176.7c9.24,0,17.8-7.12,19.48-16.21l13.38-72.3s1.43-8.78-10.21-8.78Z"/>
  <circle class="cls-1" cx="97.55" cy="265.35" r="29.11"/>
  <circle class="cls-1" cx="238.41" cy="265.35" r="29.11"/>
  <path class="cls-4" d="M68.07,219.57c0,3.25,2.64,5.89,5.89,5.89h23.98l-6.37,36.14c-.56,3.17,1.56,6.19,4.72,6.74,3.17.56,6.19-1.56,6.74-4.72l6.73-38.16h129.04l-6.37,36.14c-.56,3.17,1.56,6.19,4.72,6.74,3.17.56,6.19-1.56,6.74-4.72l6.73-38.16h11.53c3.25,0,5.89-2.64,5.89-5.89s-2.64-5.89-5.89-5.89H84.5L37.97,40.04c2.11-.88,3.59-2.96,3.59-5.38,0-3.22-2.61-5.83-5.83-5.83H6.7c-3.22,0-5.83,2.61-5.83,5.83s2.61,5.83,5.83,5.83h19.19l46.47,173.44c-2.47.7-4.29,2.95-4.29,5.64Z"/>
  <path class="cls-3" d="M156.58,80.18c-2.52,0-4.96-.99-6.69-2.72l-41.85-41.85c-1.79-1.79-2.77-4.16-2.77-6.69,0-2.53.99-4.91,2.77-6.69,1.77-1.78,4.15-2.77,6.69-2.77s4.9.99,6.68,2.77l35.16,35.16L207.86,6.12c1.73-1.73,4.16-2.72,6.69-2.72s4.96.99,6.69,2.72,2.77,4.16,2.77,6.69-.99,4.9-2.77,6.69l-57.97,57.97c-1.73,1.73-4.16,2.72-6.69,2.72Z"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g6eyDwAwUZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSMHyjNGQL"
        class="gSMHyjNGQL"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSMHyjNGQL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gM1lo6VQHP gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g2G1eeoUPa" class="gp-leading-[0] g2G1eeoUPa" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right">
      <div data-id="g2G1eeoUPa" class="icon-wrapper gp-inline-flex gp-overflow-hidden g2G1eeoUPa gp-bg-g-RGBA(227, 243, 248, 0.8)" style="--pl:4px;--pr:4px;--pt:4px;--pb:4px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--focus-bblr:30px;--focus-bbrr:30px;--focus-btlr:30px;--focus-btrr:30px;-undefined-bblr:30px;-undefined-bbrr:30px;-undefined-btlr:30px;-undefined-btrr:30px;--bg:RGBA(227, 243, 248, 0.8);--shadow:none">
      
        <div >
          <span style="--c:#5FC4D9;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="caret-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042106216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gInrxdMb4T gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gpGaHN5Crv"}' data-id="gpGaHN5Crv" id="gpGaHN5Crv" data-same-height-subgrid-container class="gpGaHN5Crv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gG5VI-41HP gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gX-V74iHBW" class="gp-leading-[0] gX-V74iHBW" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gX-V74iHBW" class="icon-wrapper gp-inline-flex gp-overflow-hidden gX-V74iHBW " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:transparent;--shadow:none">
      
        <div >
          <span style="--c:transparent;--t:rotate(0deg);--w:37px;--w-tablet:37px;--w-mobile:37px;--h:37px;--h-tablet:37px;--h-mobile:37px;--minw:37px;--minw-tablet:37px;--minw-mobile:37px;--height-desktop:37px;--height-tablet:37px;--height-mobile:37px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><?xml version="1.0" encoding="UTF-8"?><svg data-id="612072405489156905" class="id612072405489156905" width="20" height="20" xmlns="http://www.w3.org/2000/svg" id="Ebene_1" data-name="fetoxin_iconsZeichenfläche 3.svg" viewBox="0 0 300 300">
  <defs>
    <style>
      .id612072405489156905 .cls-1 {
        fill: #c2d503;
      }

      .id612072405489156905 .cls-2 {
        fill: #6f7c83;
      }

      .id612072405489156905 .cls-3 {
        fill: #aaba03;
      }

      .id612072405489156905 .cls-4 {
        fill: #616d73;
      }
    </style>
  </defs>
  <path class="cls-3" d="M110.4,278.1c-6.62,6.62-17.4,6.62-24.02,0l-57.83-57.83c-6.62-6.62-6.62-17.4,0-24.02L204.7,20.1c6.62-6.62,17.4-6.62,24.02,0l57.83,57.83c6.62,6.62,6.62,17.4,0,24.02l-176.15,176.15Z"/>
  <path class="cls-4" d="M235.51,68.92c2.21,2.21,2.21,5.8,0,8.01l-37.36,37.37c-2.21,2.21-5.8,2.21-8.01,0h0c-2.21-2.21-2.21-5.8,0-8.01l37.37-37.36c2.21-2.21,5.8-2.21,8.01,0h0Z"/>
  <path class="cls-2" d="M193.6,151.89c-.68,4.24-3.01,10.23-8.19,15.74-6.36,6.76-14.6,10.34-23.37,9.97-6.49-.13-13.29-2.59-20.01-7.49l-4.86,5.17-4.09-3.85,4.47-4.76-1.25-1.18c-1.34-1.26-2.51-2.52-3.61-3.7l-4.63,4.92-4.17-3.92,5.18-5.51c-4.9-6.5-7.39-13.55-7.68-20.11-.41-8.42,2.18-16.2,8.62-23.05,4.63-4.93,9.67-7.43,13.11-8.6l3.94,6.86c-3.22.9-7.6,3.4-11.13,7.16-4.24,4.51-6.1,9.67-5.77,15.33.07,4.78,2.26,9.98,5.9,14.98l21.9-23.3,4.17,3.92-22.61,24.05c1.01,1.1,2.18,2.37,3.35,3.47l1.5,1.41,22.77-24.22,4.09,3.85-22.22,23.63c5.47,3.88,10.63,5.59,15.26,5.69,6.15-.03,11.67-2.71,15.9-7.22,4.16-4.43,6.1-9.84,6.83-12.78l6.59,3.52Z"/>
  <rect class="cls-1" x="8.43" y="167.32" width="283.08" height="115.75" rx="16.98" ry="16.98"/>
  <path class="cls-2" d="M102.32,223.62c0,3.13-2.53,5.66-5.66,5.66h-52.84c-3.13,0-5.66-2.53-5.66-5.66h0c0-3.13,2.53-5.66,5.66-5.66h52.84c3.13,0,5.66,2.53,5.66,5.66h0Z"/>
  <path class="cls-2" d="M261.79,223.62c0,3.13-2.53,5.66-5.66,5.66h-52.84c-3.13,0-5.66-2.53-5.66-5.66h0c0-3.13,2.53-5.66,5.66-5.66h52.84c3.13,0,5.66,2.53,5.66,5.66h0Z"/>
  <path class="cls-2" d="M177.82,257.31c-3.56,2.41-9.52,4.81-17.08,4.81-9.28,0-17.53-3.56-23.27-10.2-4.35-4.81-7.21-11.46-8.25-19.71h-7.1v-5.62h6.53v-1.72c0-1.84.11-3.56.22-5.16h-6.76v-5.73h7.56c1.38-8.02,4.81-14.67,9.4-19.37,5.85-6.07,13.3-9.51,22.69-9.51,6.77,0,12.04,1.95,15.25,3.67l-2.3,7.57c-2.86-1.73-7.68-3.21-12.84-3.21-6.19,0-11.23,2.17-15.13,6.3-3.43,3.32-5.73,8.48-6.88,14.56h31.98v5.73h-33c-.11,1.49-.23,3.21-.23,4.81v2.06h33.24v5.62h-32.43c.92,6.64,3.21,11.57,6.31,15.01,4.24,4.46,9.97,6.64,16.15,6.64s11.35-2.3,13.99-3.78l1.95,7.21Z"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gX4H0PD05j gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnnXrafsGG"
        class="gnnXrafsGG"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnnXrafsGG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gpBSr7E5fT gp-relative gp-flex gp-flex-col"
    >
      
    <div id="glLEzA9UGl" class="gp-leading-[0] glLEzA9UGl" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right">
      <div data-id="glLEzA9UGl" class="icon-wrapper gp-inline-flex gp-overflow-hidden glLEzA9UGl gp-bg-g-RGBA(227, 243, 248, 0.8)" style="--pl:4px;--pr:4px;--pt:4px;--pb:4px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--focus-bblr:30px;--focus-bbrr:30px;--focus-btlr:30px;--focus-btrr:30px;-undefined-bblr:30px;-undefined-bbrr:30px;-undefined-btlr:30px;-undefined-btrr:30px;--bg:RGBA(227, 243, 248, 0.8);--shadow:none">
      
        <div >
          <span style="--c:#5FC4D9;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="caret-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042106216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g-S0nu9XIx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gx-jogAusV"}' data-id="gx-jogAusV" id="gx-jogAusV" data-same-height-subgrid-container class="gx-jogAusV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gsZxOyq_Tv gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gl4Z2OA9IH" class="gp-leading-[0] gl4Z2OA9IH" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gl4Z2OA9IH" class="icon-wrapper gp-inline-flex gp-overflow-hidden gl4Z2OA9IH " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:transparent;--shadow:none">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:37px;--w-tablet:37px;--w-mobile:37px;--h:37px;--h-tablet:37px;--h-mobile:37px;--minw:37px;--minw-tablet:37px;--minw-mobile:37px;--height-desktop:37px;--height-tablet:37px;--height-mobile:37px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><?xml version="1.0" encoding="UTF-8"?><svg data-id="612072448724042401" class="id612072448724042401" width="20" height="20" xmlns="http://www.w3.org/2000/svg" id="Ebene_1" data-name="fetoxin_iconsZeichenfläche 2.svg" viewBox="0 0 300 300">
  <defs>
    <style>
      .id612072448724042401 .cls-1 {
        fill: #bab7be;
      }

      .id612072448724042401 .cls-2 {
        fill: #ffb300;
      }

      .id612072448724042401 .cls-3 {
        fill: #8d6839;
      }

      .id612072448724042401 .cls-4 {
        fill: #97cff3;
      }

      .id612072448724042401 .cls-5 {
        fill: #495256;
      }

      .id612072448724042401 .cls-6 {
        fill: #616d72;
      }
    </style>
  </defs>
  <rect class="cls-2" x="6.42" y="69.59" width="178.99" height="152.51" rx="17.23" ry="17.23"/>
  <path class="cls-3" d="M50.38,88.81c-3.74,1.89-6.33,5.73-6.33,10.21,0,6.34,5.14,11.49,11.49,11.49s11.49-5.14,11.49-11.49c0-4-2.05-7.52-5.16-9.57v-44.51c0-17.94,14.6-32.54,32.54-32.54h3.83c17.94,0,32.54,14.6,32.54,32.54v44.07c-3.54,1.96-5.97,5.68-5.97,10.02,0,6.34,5.14,11.49,11.49,11.49s11.49-5.14,11.49-11.49c0-4.15-2.22-7.75-5.52-9.77v-44.31C142.27,20.67,122.52.91,98.24.91h-3.83c-24.28,0-44.03,19.75-44.03,44.03v43.87Z"/>
  <path class="cls-4" d="M195.88,130.77c0-9.5,7.73-17.23,17.23-17.23h47.23c8.91,0,17.7,6.75,19.99,15.36l10.09,37.86c1.77,6.65,3.15,17.22,3.15,24.07v37.09c0,9.5-7.73,17.23-17.23,17.23h-80.47v-114.38Z"/>
  <path class="cls-5" d="M219.24,239.43c0,3.17-2.57,5.74-5.74,5.74H17.91c-3.17,0-5.74-2.57-5.74-5.74h0c0-3.17,2.57-5.74,5.74-5.74h195.58c3.17,0,5.74,2.57,5.74,5.74h0Z"/>
  <path class="cls-6" d="M73.9,288.07c-19,0-34.46-15.46-34.46-34.46s15.46-34.46,34.46-34.46,34.46,15.46,34.46,34.46-15.46,34.46-34.46,34.46Z"/>
  <path class="cls-1" d="M73.9,272.75c-10.56,0-19.14-8.59-19.14-19.14s8.59-19.14,19.14-19.14,19.14,8.59,19.14,19.14-8.59,19.14-19.14,19.14Z"/>
  <path class="cls-6" d="M226.1,288.07c-19,0-34.46-15.46-34.46-34.46s15.46-34.46,34.46-34.46,34.46,15.46,34.46,34.46-15.46,34.46-34.46,34.46Z"/>
  <path class="cls-1" d="M226.1,272.75c-10.56,0-19.14-8.59-19.14-19.14s8.59-19.14,19.14-19.14,19.14,8.59,19.14,19.14-8.59,19.14-19.14,19.14Z"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gNNcteOBkW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggClDVUp1A"
        class="ggClDVUp1A"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggClDVUp1A_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gbm8xhbXp6 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gB5ueEsqGs" class="gp-leading-[0] gB5ueEsqGs" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right">
      <div data-id="gB5ueEsqGs" class="icon-wrapper gp-inline-flex gp-overflow-hidden gB5ueEsqGs gp-bg-g-RGBA(227, 243, 248, 0.8)" style="--pl:4px;--pr:4px;--pt:4px;--pb:4px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--focus-bblr:30px;--focus-bbrr:30px;--focus-btlr:30px;--focus-btrr:30px;-undefined-bblr:30px;-undefined-bbrr:30px;-undefined-btlr:30px;-undefined-btrr:30px;--bg:RGBA(227, 243, 248, 0.8);--shadow:none">
      
        <div >
          <span style="--c:#5FC4D9;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="caret-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042106216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gSDLWAMaMh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gfFLE_sekQ"}' data-id="gfFLE_sekQ" id="gfFLE_sekQ" data-same-height-subgrid-container class="gfFLE_sekQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gzPXYh6vPw gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gQgZxWVRe8" class="gp-leading-[0] gQgZxWVRe8" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gQgZxWVRe8" class="icon-wrapper gp-inline-flex gp-overflow-hidden gQgZxWVRe8 " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:transparent;--shadow:none">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:37px;--w-tablet:37px;--w-mobile:37px;--h:37px;--h-tablet:37px;--h-mobile:37px;--minw:37px;--minw-tablet:37px;--minw-mobile:37px;--height-desktop:37px;--height-tablet:37px;--height-mobile:37px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><?xml version="1.0" encoding="UTF-8"?><svg data-id="612072483637428897" class="id612072483637428897" width="20" height="20" xmlns="http://www.w3.org/2000/svg" id="Ebene_1" data-name="fetoxin_iconsZeichenfläche 4.svg" viewBox="0 0 300 300">
  <defs>
    <style>
      .id612072483637428897 .cls-1 {
        fill: #ffb300;
      }

      .id612072483637428897 .cls-2 {
        fill: #b74a45;
      }

      .id612072483637428897 .cls-3 {
        fill: #f4635c;
      }

      .id612072483637428897 .cls-4 {
        fill: #d7564d;
      }
    </style>
  </defs>
  <path class="cls-2" d="M109.12,264.11s-16.53,10.28-23.81,14.89c-7.28,4.61-12.7-1.63-10.95-8.07,1.76-6.44,27.02-99.07,27.02-99.07l17-1.79h.4c3.55,0,7.29,1.41,9.72,3.6l.39.38,6.69,6.92,14.4-7.02,9.26,34.1s-18.8,70.23-21.54,79.85c-2.74,9.62-11.13,5.84-13.48,1.84-2.36-4-15.11-25.64-15.11-25.64Z"/>
  <path class="cls-4" d="M136.53,167.36l27.88,13.61,6.63-6.88.18-.17c2.58-2.35,6.29-3.83,9.69-3.86l1.29.06,9.24.97,12.5-5.95s19.66,75.05,21.64,81.01c1.99,5.95-3.65,12.17-10.75,8.34-7.1-3.83-25.92-14.66-25.92-14.66,0,0-9.96,18.63-13.16,24.8-3.2,6.17-11.41,5.34-13.47-1.52-2.05-6.86-25.76-95.77-25.76-95.77Z"/>
  <path class="cls-3" d="M242.49,105.77c2.71-3.72,2.71-9.33,0-13.05l-5.66-7.77c-.25-.4-.44-1.49-.35-1.92l2.66-9.26c1.27-4.42-.65-9.69-4.46-12.27l-7.98-5.37c-.37-.29-.92-1.25-.98-1.69l-.67-9.62c-.32-4.59-3.93-8.89-8.39-10l-9.33-2.32c-.45-.14-1.3-.86-1.5-1.25l-3.92-8.82c-1.87-4.19-6.75-7.01-11.31-6.52l-9.57,1.01c-.55,0-1.54-.39-1.83-.66l-6.7-6.94c-3.14-3.24-8.79-4.25-12.86-2.26l-8.65,4.22c-.17.07-1.82.06-1.95,0l-8.67-4.23c-4.07-1.99-9.72-.98-12.86,2.26l-6.68,6.92c-.32.28-1.3.68-1.83.68l-9.59-1.01c-4.59-.49-9.44,2.33-11.31,6.53l-3.9,8.79c-.22.41-1.07,1.13-1.49,1.26l-9.36,2.33c-4.47,1.11-8.07,5.41-8.39,10l-.66,9.59c-.07.46-.62,1.43-.97,1.7l-8,5.39c-3.82,2.57-5.74,7.84-4.47,12.26l2.66,9.24c.1.46-.09,1.55-.33,1.93l-5.67,7.8c-2.71,3.72-2.71,9.33,0,13.05l5.66,7.77c.25.4.44,1.49.35,1.92l-2.66,9.26c-1.27,4.42.65,9.69,4.46,12.27l7.98,5.37c.37.29.92,1.25.99,1.68l.67,9.62c.32,4.59,3.93,8.89,8.39,10l9.34,2.32c.45.14,1.3.86,1.5,1.25l3.92,8.81c1.86,4.19,6.74,7.01,11.31,6.53l9.58-1.01c.55,0,1.53.39,1.83.66l6.7,6.94c3.13,3.25,8.79,4.26,12.86,2.27l8.64-4.22c.17-.07,1.84-.05,1.95-.01l8.67,4.23c1.42.69,3.05,1.06,4.72,1.06,3.13,0,6.09-1.21,8.13-3.33l6.68-6.92c.31-.28,1.3-.67,1.83-.68l9.59,1.01c4.58.5,9.44-2.33,11.31-6.53l3.91-8.79c.22-.41,1.07-1.13,1.49-1.26l9.36-2.33c4.47-1.11,8.08-5.41,8.39-10l.66-9.59c.07-.46.62-1.42.97-1.69l8-5.39c3.82-2.57,5.74-7.84,4.46-12.26l-2.66-9.24c-.1-.46.1-1.55.33-1.92l5.67-7.8Z"/>
  <path class="cls-1" d="M193.02,92.86c2.32-2.26,3.18-5.25,2.29-7.98-.89-2.73-3.34-4.64-6.55-5.11l-21.13-3.07c-.37-.09-1.1-.62-1.28-.9l-9.47-19.2c-1.44-2.91-4.01-4.65-6.88-4.65s-5.45,1.74-6.88,4.64l-9.45,19.15c-.2.32-.93.85-1.25.94l-21.19,3.08c-3.21.47-5.66,2.38-6.55,5.11-.89,2.73-.03,5.72,2.29,7.98l15.29,14.91c.25.29.53,1.15.51,1.48l-3.62,21.1c-.44,2.55.13,4.91,1.6,6.65,2.2,2.61,6.1,3.25,9.54,1.44l18.9-9.94c.14-.06,1.52-.03,1.56-.02l18.95,9.96c1.34.71,2.72,1.06,4.08,1.06,2.13,0,4.12-.91,5.46-2.5,1.47-1.74,2.04-4.11,1.6-6.65l-3.61-21.05c-.03-.38.25-1.24.46-1.49l15.33-14.94Z"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gf7LRioLC- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="geCvpXvIbk"
        class="geCvpXvIbk"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggeCvpXvIbk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gPuCRho4v4"}' data-id="gPuCRho4v4" id="gPuCRho4v4" data-same-height-subgrid-container class="gPuCRho4v4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gk-tuDH1VK gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gno9Utn2dZ"}' data-id="gno9Utn2dZ" id="gno9Utn2dZ" data-same-height-subgrid-container class="gno9Utn2dZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gYLP81AaKw gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g6Hjh2LaaK" class="gp-leading-[0] g6Hjh2LaaK" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="g6Hjh2LaaK" class="icon-wrapper gp-inline-flex gp-overflow-hidden g6Hjh2LaaK " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:#1C4151;--shadow:none">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:30px;--h:30px;--h-tablet:30px;--h-mobile:30px;--minw:30px;--minw-tablet:30px;--minw-mobile:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="shopping-cart-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817702888341864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M230.14,58.87A8,8,0,0,0,224,56H62.68L56.6,22.57A8,8,0,0,0,48.73,16H24a8,8,0,0,0,0,16h18L67.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,160,204a28,28,0,1,0,28-28H91.17a8,8,0,0,1-7.87-6.57L80.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,230.14,58.87ZM104,204a12,12,0,1,1-12-12A12,12,0,0,1,104,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,200,204Zm4-74.57A8,8,0,0,1,196.1,136H77.22L65.59,72H214.41Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gZ04KnYSGo gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gu2HRCmg7v"
        class="gu2HRCmg7v"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:15px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggu2HRCmg7v_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gmCQMxeJMI gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gHOgz-MeUg" class="gp-leading-[0] gHOgz-MeUg" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right;--ta-mobile:center">
      <div data-id="gHOgz-MeUg" class="icon-wrapper gp-inline-flex gp-overflow-hidden gHOgz-MeUg " style="--shadow:none">
      
        <div >
          <span style="--c:#5FC4D9;--t:rotate(0deg);--w:34px;--w-tablet:34px;--w-mobile:34px;--h:34px;--h-tablet:34px;--h-mobile:34px;--minw:34px;--minw-tablet:34px;--minw-mobile:34px;--height-desktop:34px;--height-tablet:34px;--height-mobile:34px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="caret-down-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gk1F0QTP8X gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g398sJb7eR"}' data-id="g398sJb7eR" id="g398sJb7eR" data-same-height-subgrid-container class="g398sJb7eR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gppERad1AJ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gqpkp79bHZ" class="gp-leading-[0] gqpkp79bHZ" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gqpkp79bHZ" class="icon-wrapper gp-inline-flex gp-overflow-hidden gqpkp79bHZ " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:#1C4151;--shadow:none">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:30px;--h:30px;--h-tablet:30px;--h-mobile:30px;--minw:30px;--minw-tablet:30px;--minw-mobile:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="hand-coins-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817684217397608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M230.33,141.06a24.43,24.43,0,0,0-21.24-4.23l-41.84,9.62A28,28,0,0,0,140,112H89.94a31.82,31.82,0,0,0-22.63,9.37L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56ZM16,160H40v40H16Zm203.43,8.21-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9ZM164,96a36,36,0,0,0,5.9-.48,36,36,0,1,0,28.22-47A36,36,0,1,0,164,96Zm60-12a20,20,0,1,1-20-20A20,20,0,0,1,224,84ZM164,40a20,20,0,0,1,19.25,14.61,36,36,0,0,0-15,24.93A20.42,20.42,0,0,1,164,80a20,20,0,0,1,0-40Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gbvrA06EJw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwLJX8O95g"
        class="gwLJX8O95g"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:15px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwLJX8O95g_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gHq-WBDCpX gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gTOVjpMVhu" class="gp-leading-[0] gTOVjpMVhu" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right;--ta-mobile:center">
      <div data-id="gTOVjpMVhu" class="icon-wrapper gp-inline-flex gp-overflow-hidden gTOVjpMVhu " style="--shadow:none">
      
        <div >
          <span style="--c:#5FC4D9;--t:rotate(0deg);--w:34px;--w-tablet:34px;--w-mobile:34px;--h:34px;--h-tablet:34px;--h-mobile:34px;--minw:34px;--minw-tablet:34px;--minw-mobile:34px;--height-desktop:34px;--height-tablet:34px;--height-mobile:34px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="caret-down-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="ghXYmQfzUF gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gxuqbV5eUc"}' data-id="gxuqbV5eUc" id="gxuqbV5eUc" data-same-height-subgrid-container class="gxuqbV5eUc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gjDTCsWuXr gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g9duEVkeUf" class="gp-leading-[0] g9duEVkeUf" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="g9duEVkeUf" class="icon-wrapper gp-inline-flex gp-overflow-hidden g9duEVkeUf " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:#1C4151;--shadow:none">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:36px;--w-tablet:36px;--w-mobile:36px;--h:36px;--h-tablet:36px;--h-mobile:36px;--minw:36px;--minw-tablet:36px;--minw-mobile:36px;--height-desktop:36px;--height-tablet:36px;--height-mobile:36px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="truck-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817710017806696">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M255.42,117l-14-35A15.93,15.93,0,0,0,226.58,72H192V64a8,8,0,0,0-8-8H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H49a32,32,0,0,0,62,0h50a32,32,0,0,0,62,0h17a16,16,0,0,0,16-16V120A7.94,7.94,0,0,0,255.42,117ZM192,88h34.58l9.6,24H192ZM32,72H176v64H32ZM80,208a16,16,0,1,1,16-16A16,16,0,0,1,80,208Zm81-24H111a32,32,0,0,0-62,0H32V152H176v12.31A32.11,32.11,0,0,0,161,184Zm31,24a16,16,0,1,1,16-16A16,16,0,0,1,192,208Zm48-24H223a32.06,32.06,0,0,0-31-24V128h48Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gchyJQ2-v2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJWHqSkcR6"
        class="gJWHqSkcR6"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:15px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJWHqSkcR6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gVoUPvttNJ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gwxlYWotFS" class="gp-leading-[0] gwxlYWotFS" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right;--ta-mobile:center">
      <div data-id="gwxlYWotFS" class="icon-wrapper gp-inline-flex gp-overflow-hidden gwxlYWotFS " style="--shadow:none">
      
        <div >
          <span style="--c:#5FC4D9;--t:rotate(0deg);--w:34px;--w-tablet:34px;--w-mobile:34px;--h:34px;--h-tablet:34px;--h-mobile:34px;--minw:34px;--minw-tablet:34px;--minw-mobile:34px;--height-desktop:34px;--height-tablet:34px;--height-mobile:34px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="caret-down-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gUC0Bukl1I gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gKhpTyBZuz"}' data-id="gKhpTyBZuz" id="gKhpTyBZuz" data-same-height-subgrid-container class="gKhpTyBZuz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gS0ffthgHR gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gG_UzUEiC4" class="gp-leading-[0] gG_UzUEiC4" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gG_UzUEiC4" class="icon-wrapper gp-inline-flex gp-overflow-hidden gG_UzUEiC4 " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--bblr:10001px;--bbrr:10001px;--btlr:10001px;--btrr:10001px;--focus-bblr:10001px;--focus-bbrr:10001px;--focus-btlr:10001px;--focus-btrr:10001px;-undefined-bblr:10001px;-undefined-bbrr:10001px;-undefined-btlr:10001px;-undefined-btrr:10001px;--bg:#1C4151;--shadow:none">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:31px;--w-tablet:31px;--w-mobile:31px;--h:31px;--h-tablet:31px;--h-mobile:31px;--minw:31px;--minw-tablet:31px;--minw-mobile:31px;--height-desktop:31px;--height-tablet:31px;--height-mobile:31px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="shield-check-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817702887555432">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208,40H48A16,16,0,0,0,32,56v56c0,52.72,25.52,84.67,46.93,102.19,23.06,18.86,46,25.26,47,25.53a8,8,0,0,0,4.2,0c1-.27,23.91-6.67,47-25.53C198.48,196.67,224,164.72,224,112V56A16,16,0,0,0,208,40Zm0,72c0,37.07-13.66,67.16-40.6,89.42A129.3,129.3,0,0,1,128,223.62a128.25,128.25,0,0,1-38.92-21.81C61.82,179.51,48,149.3,48,112l0-56,160,0ZM82.34,141.66a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32l-56,56a8,8,0,0,1-11.32,0Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gkRWogc5z5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2kjTcBZAQ"
        class="g2kjTcBZAQ"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:15px;--size-tablet:22px;--size-mobile:15px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2kjTcBZAQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 15",
    "tag": "section",
    "class": "gps-606000209331880534 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=602392006047564715&sectionId=606000209331880534)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggSMHyjNGQL_text","label":"ggSMHyjNGQL_text","default":"<p><strong>Artikel in den Warenkorb legen</strong></p>"},{"type":"html","id":"ggnnXrafsGG_text","label":"ggnnXrafsGG_text","default":"<p><strong>Zahlung abschließen</strong></p>"},{"type":"html","id":"gggClDVUp1A_text","label":"gggClDVUp1A_text","default":"<p><strong>Kostenlose Lieferung in 1–2 Werktagen</strong></p>"},{"type":"html","id":"ggeCvpXvIbk_text","label":"ggeCvpXvIbk_text","default":"<p><strong>30 Tage Geld-zurück-Garantie</strong></p>"},{"type":"html","id":"ggu2HRCmg7v_text","label":"ggu2HRCmg7v_text","default":"<p><strong>Artikel in den Warenkorb legen</strong></p>"},{"type":"html","id":"ggwLJX8O95g_text","label":"ggwLJX8O95g_text","default":"<p><strong>Zahlung abschließen</strong></p>"},{"type":"html","id":"ggJWHqSkcR6_text","label":"ggJWHqSkcR6_text","default":"<p><strong>Kostenlose Lieferung in 1–2 Werktagen</strong></p>"},{"type":"html","id":"gg2kjTcBZAQ_text","label":"gg2kjTcBZAQ_text","default":"<p><strong>30 Tage Geld-zurück-Garantie</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}