
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-605407897924404122.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-605407897924404122.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-605407897924404122.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-605407897924404122.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-605407897924404122.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-605407897924404122.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-605407897924404122.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-605407897924404122.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-605407897924404122.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-605407897924404122.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-605407897924404122.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-605407897924404122.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-605407897924404122.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-605407897924404122.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-605407897924404122.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-605407897924404122.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-605407897924404122.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-605407897924404122.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-605407897924404122.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-605407897924404122.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-605407897924404122.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-605407897924404122.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-605407897924404122.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-605407897924404122.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-605407897924404122.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-605407897924404122.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-605407897924404122.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-605407897924404122.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-605407897924404122.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-605407897924404122.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-605407897924404122.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-605407897924404122.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-605407897924404122.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-605407897924404122.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-605407897924404122.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-605407897924404122.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-605407897924404122.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-605407897924404122.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-605407897924404122.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-605407897924404122.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-605407897924404122.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-605407897924404122.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-605407897924404122.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-605407897924404122.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-605407897924404122.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-605407897924404122.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-605407897924404122.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-605407897924404122.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-605407897924404122.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-605407897924404122.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-605407897924404122.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-605407897924404122.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-605407897924404122.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-605407897924404122.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-605407897924404122.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-605407897924404122.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-605407897924404122.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-605407897924404122.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-605407897924404122.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-605407897924404122.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-605407897924404122.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-605407897924404122.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-605407897924404122.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-605407897924404122.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-605407897924404122.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-605407897924404122.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-605407897924404122.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-605407897924404122.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-605407897924404122.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-605407897924404122.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-605407897924404122.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-605407897924404122.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-605407897924404122.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-605407897924404122 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-605407897924404122 .gp-relative{position:relative}.gps-605407897924404122 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-605407897924404122 .gp-mb-0{margin-bottom:0}.gps-605407897924404122 .gp-inline-block{display:inline-block}.gps-605407897924404122 .gp-flex{display:flex}.gps-605407897924404122 .gp-inline-flex{display:inline-flex}.gps-605407897924404122 .gp-grid{display:grid}.gps-605407897924404122 .gp-contents{display:contents}.gps-605407897924404122 .\!gp-hidden{display:none!important}.gps-605407897924404122 .gp-hidden{display:none}.gps-605407897924404122 .gp-h-auto{height:auto}.gps-605407897924404122 .gp-h-full{height:100%}.gps-605407897924404122 .gp-w-full{width:100%}.gps-605407897924404122 .gp-max-w-full{max-width:100%}.gps-605407897924404122 .gp-flex-none{flex:none}.gps-605407897924404122 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-605407897924404122 .gp-flex-col{flex-direction:column}.gps-605407897924404122 .gp-flex-wrap{flex-wrap:wrap}.gps-605407897924404122 .gp-items-center{align-items:center}.gps-605407897924404122 .gp-justify-center{justify-content:center}.gps-605407897924404122 .gp-overflow-hidden{overflow:hidden}.gps-605407897924404122 .gp-leading-\[0\]{line-height:0}.gps-605407897924404122 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605407897924404122 .gp-duration-200{transition-duration:.2s}.gps-605407897924404122 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-605407897924404122 .tablet\:\!gp-hidden{display:none!important}.gps-605407897924404122 .tablet\:gp-hidden{display:none}.gps-605407897924404122 .tablet\:gp-h-auto{height:auto}.gps-605407897924404122 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-605407897924404122 .mobile\:\!gp-hidden{display:none!important}.gps-605407897924404122 .mobile\:gp-hidden{display:none}.gps-605407897924404122 .mobile\:gp-h-auto{height:auto}.gps-605407897924404122 .mobile\:gp-flex-none{flex:none}}.gps-605407897924404122 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-605407897924404122 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-605407897924404122 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-605407897924404122 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-605407897924404122 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gnsDUGtWNQ"}' data-id="gnsDUGtWNQ" id="gnsDUGtWNQ" data-same-height-subgrid-container class="gnsDUGtWNQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:16px;--pb:8px;--pt-tablet:16px;--pb-tablet:8px;--pt-mobile:16px;--pb-mobile:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="givF03NEwY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gnhqb3rhPd"}' data-id="gnhqb3rhPd" id="gnhqb3rhPd" data-same-height-subgrid-container class="gnhqb3rhPd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gM0qTWXbI1 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gxbQ4LEAwk"}' data-id="gxbQ4LEAwk" id="gxbQ4LEAwk" data-same-height-subgrid-container class="gxbQ4LEAwk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 2fr) minmax(0, 8fr) minmax(0, 2fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g45bUaijvg gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gPyE04ffqH"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1770734722369 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gPyE04ffqH"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "fetoxin-logo-d.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI0NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtNDc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjQ3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI0NzUiIGZpbGw9InVybCgjZy0xOTIwLTQ3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "fetoxin-logo-d.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI0NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtNDc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjQ3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI0NzUiIGZpbGw9InVybCgjZy0xOTIwLTQ3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "fetoxin-logo-d.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI0NzUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtNDc1Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjQ3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI0NzUiIGZpbGw9InVybCgjZy0xOTIwLTQ3NSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "fetoxin-logo-d.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gHQi44nrPM gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gkS8KlJyhW"}' data-id="gkS8KlJyhW" id="gkS8KlJyhW" data-same-height-subgrid-container class="gkS8KlJyhW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:43px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gg-Ne3fJtA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0AN4VNofh"
        class="g0AN4VNofh"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:22px;--size-mobile:21px;--weight:bold;--c:#C5453F;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0AN4VNofh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g_AVkJYMy2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4A6P1AVZk"
        class="g4A6P1AVZk"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:22px;--size-mobile:21px;--weight:bold;--c:#1C4151;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4A6P1AVZk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gUwpg2zs99 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWMqJ8TLdU"
        class="gWMqJ8TLdU"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:22px;--size-mobile:21px;--c:#1C4151;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWMqJ8TLdU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gJ--CoNjVB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKyMi23TZX"
        class="gKyMi23TZX"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:22px;--size-mobile:21px;--c:#1C4151;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKyMi23TZX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gP3ZlAPIDz gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gzhbb5E2Sy"  style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:19px;--jc:right;--ai:start">
            <div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%" class="gVibQuFxCh ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="goiH9n5VGj" class="gp-leading-[0] goiH9n5VGj" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="goiH9n5VGj" class="icon-wrapper gp-inline-flex gp-overflow-hidden goiH9n5VGj " style="--shadow:none">
      
        <div >
          <span style="--c:#1C4151;--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:30px;--h:30px;--h-tablet:30px;--h-mobile:30px;--minw:30px;--minw-tablet:30px;--minw-mobile:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="user-circle-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817710018789736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM74.08,197.5a64,64,0,0,1,107.84,0,87.83,87.83,0,0,1-107.84,0ZM96,120a32,32,0,1,1,32,32A32,32,0,0,1,96,120Zm97.76,66.41a79.66,79.66,0,0,0-36.06-28.75,48,48,0,1,0-59.4,0,79.66,79.66,0,0,0-36.06,28.75,88,88,0,1,1,131.52,0Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%" class="gK4Fdd2bt4 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g3OTpjNfpZ" class="gp-leading-[0] g3OTpjNfpZ" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="g3OTpjNfpZ" class="icon-wrapper gp-inline-flex gp-overflow-hidden g3OTpjNfpZ " style="--shadow:none">
      
        <div >
          <span style="--c:#1C4151;--t:rotate(0deg);--w:30px;--w-tablet:30px;--w-mobile:30px;--h:30px;--h-tablet:30px;--h-mobile:30px;--minw:30px;--minw-tablet:30px;--minw-mobile:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="shopping-cart-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817702888341864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M230.14,58.87A8,8,0,0,0,224,56H62.68L56.6,22.57A8,8,0,0,0,48.73,16H24a8,8,0,0,0,0,16h18L67.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,160,204a28,28,0,1,0,28-28H91.17a8,8,0,0,1-7.87-6.57L80.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,230.14,58.87ZM104,204a12,12,0,1,1-12-12A12,12,0,0,1,104,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,200,204Zm4-74.57A8,8,0,0,1,196.1,136H77.22L65.59,72H214.41Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-605407897924404122 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=602392006047564715&sectionId=605407897924404122)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg0AN4VNofh_text","label":"gg0AN4VNofh_text","default":"<p>Sale</p>"},{"type":"html","id":"gg4A6P1AVZk_text","label":"gg4A6P1AVZk_text","default":"<p>Alle Produkte</p>"},{"type":"html","id":"ggWMqJ8TLdU_text","label":"ggWMqJ8TLdU_text","default":"<p>Körper und Gesundheit</p>"},{"type":"html","id":"ggKyMi23TZX_text","label":"ggKyMi23TZX_text","default":"<p>Beauty</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}