
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602400244952465939.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-602400244952465939.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-602400244952465939.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-602400244952465939.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602400244952465939.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-602400244952465939.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602400244952465939.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602400244952465939.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602400244952465939.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-602400244952465939.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602400244952465939.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602400244952465939.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602400244952465939.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602400244952465939.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-602400244952465939.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602400244952465939.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-602400244952465939.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602400244952465939.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602400244952465939.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-602400244952465939.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602400244952465939.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-602400244952465939.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602400244952465939.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-602400244952465939.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602400244952465939.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602400244952465939.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-602400244952465939.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602400244952465939.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-602400244952465939.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602400244952465939.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-602400244952465939.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602400244952465939.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602400244952465939.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602400244952465939.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602400244952465939.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-602400244952465939.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602400244952465939.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602400244952465939.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-602400244952465939.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602400244952465939.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602400244952465939.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602400244952465939.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-602400244952465939.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-602400244952465939.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602400244952465939.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-602400244952465939.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602400244952465939.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602400244952465939.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-602400244952465939.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-602400244952465939.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-602400244952465939.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-602400244952465939.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602400244952465939.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602400244952465939.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602400244952465939.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602400244952465939.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602400244952465939.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602400244952465939.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602400244952465939.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602400244952465939.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-602400244952465939.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-602400244952465939.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602400244952465939.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-602400244952465939.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-602400244952465939.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602400244952465939.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-602400244952465939.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-602400244952465939.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-602400244952465939.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-602400244952465939.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602400244952465939.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-602400244952465939.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-602400244952465939.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-602400244952465939.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-602400244952465939.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-602400244952465939.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-602400244952465939.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-602400244952465939.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602400244952465939.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602400244952465939.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-602400244952465939.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-602400244952465939.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-602400244952465939.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-602400244952465939.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-602400244952465939.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-602400244952465939.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-602400244952465939.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-602400244952465939.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-602400244952465939.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602400244952465939.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-602400244952465939.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-602400244952465939.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-602400244952465939.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602400244952465939.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-602400244952465939.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-602400244952465939.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-602400244952465939.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602400244952465939.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602400244952465939.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602400244952465939.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602400244952465939.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-602400244952465939.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-602400244952465939.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-602400244952465939.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-602400244952465939.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-602400244952465939 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-602400244952465939 .gp-relative{position:relative}.gps-602400244952465939 .gp-z-1{z-index:1}.gps-602400244952465939 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602400244952465939 .gp-mb-0{margin-bottom:0}.gps-602400244952465939 .gp-inline-block{display:inline-block}.gps-602400244952465939 .gp-flex{display:flex}.gps-602400244952465939 .gp-inline-flex{display:inline-flex}.gps-602400244952465939 .gp-grid{display:grid}.gps-602400244952465939 .gp-contents{display:contents}.gps-602400244952465939 .\!gp-hidden{display:none!important}.gps-602400244952465939 .gp-hidden{display:none}.gps-602400244952465939 .gp-h-auto{height:auto}.gps-602400244952465939 .gp-h-full{height:100%}.gps-602400244952465939 .gp-w-full{width:100%}.gps-602400244952465939 .gp-max-w-full{max-width:100%}.gps-602400244952465939 .gp-flex-none{flex:none}.gps-602400244952465939 .gp-shrink-0{flex-shrink:0}.gps-602400244952465939 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602400244952465939 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-602400244952465939 .gp-flex-col{flex-direction:column}.gps-602400244952465939 .gp-flex-wrap{flex-wrap:wrap}.gps-602400244952465939 .gp-items-center{align-items:center}.gps-602400244952465939 .gp-justify-center{justify-content:center}.gps-602400244952465939 .gp-overflow-hidden{overflow:hidden}.gps-602400244952465939 .gp-break-words{overflow-wrap:break-word}.gps-602400244952465939 .gp-border{border-width:1px}.gps-602400244952465939 .gp-border-transparent{border-color:transparent}.gps-602400244952465939 .gp-text-left{text-align:left}.gps-602400244952465939 .gp-text-center{text-align:center}.gps-602400244952465939 .gp-leading-\[0\]{line-height:0}.gps-602400244952465939 .gp-no-underline{text-decoration-line:none}.gps-602400244952465939 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602400244952465939 .gp-duration-200{transition-duration:.2s}.gps-602400244952465939 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602400244952465939 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-602400244952465939 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-602400244952465939 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-602400244952465939 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-602400244952465939 .tablet\:\!gp-hidden{display:none!important}.gps-602400244952465939 .tablet\:gp-hidden{display:none}.gps-602400244952465939 .tablet\:gp-h-auto{height:auto}.gps-602400244952465939 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-602400244952465939 .mobile\:\!gp-hidden{display:none!important}.gps-602400244952465939 .mobile\:gp-hidden{display:none}.gps-602400244952465939 .mobile\:gp-h-auto{height:auto}.gps-602400244952465939 .mobile\:gp-flex-none{flex:none}}.gps-602400244952465939 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-602400244952465939 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-602400244952465939 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-602400244952465939 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-602400244952465939 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-602400244952465939 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-602400244952465939 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-602400244952465939 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-602400244952465939 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-602400244952465939 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-602400244952465939 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-602400244952465939 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0933/1523/6221/files/fetoxin-hero-2.jpg" as="image" /><link rel="preload" href="https://cdn.shopify.com/s/files/1/0933/1523/6221/files/bgHeroMobile_1.png" as="image" />

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"src":"https://cdn.shopify.com/s/files/1/0933/1523/6221/files/fetoxin-hero-2.jpg","width":1920,"height":815,"storage":"FILE_CONTENT","backupFileKey":"gempages_602392003094774653-74200416-d935-4097-a38b-767da949eec2.jpg"},"position":{"x":100,"y":50},"repeat":"no-repeat","size":"cover","type":"image","preload":true},"mobile":{"image":{"backupFileKey":"gempages_602392003094774653-3bb72871-ed64-4efb-8391-eacb90381d0e.png","height":2743,"src":"https://cdn.shopify.com/s/files/1/0933/1523/6221/files/bgHeroMobile_1.png","storage":"FILE_CONTENT","width":1179},"type":"image"}},"uid":"gYnXSkVY89"}' data-id="gYnXSkVY89" id="gYnXSkVY89" data-same-height-subgrid-container class="gYnXSkVY89 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:78px;--pl:20px;--pb:50px;--pr:20px;--pt-tablet:41px;--pl-tablet:20px;--pb-tablet:70px;--pr-tablet:20px;--pt-mobile:25px;--pl-mobile:0px;--pb-mobile:47px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url(https://cdn.shopify.com/s/files/1/0933/1523/6221/files/fetoxin-hero-2.jpg);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0933/1523/6221/files/bgHeroMobile_1.png);--bgp:100% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIRm3rr4Hb gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g9LqFlG7A_"}' data-id="g9LqFlG7A_" id="g9LqFlG7A_" data-same-height-subgrid-container class="g9LqFlG7A_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pr:0px;--pl-mobile:25px;--pr-mobile:25px;--cg:8px;--gtc:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gN6ZvgSVq- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gMdkW8pBqM"}' data-id="gMdkW8pBqM" id="gMdkW8pBqM" data-same-height-subgrid-container class="gMdkW8pBqM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:89px;--mb-mobile:41px;--cg:8px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g9JxocIzjx gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gPDmCQnaE5"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1768998633575 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gPDmCQnaE5"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "fetoxin-logo-d.png" | file_url }}" srcset="{{ "fetoxin-logo-d.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "fetoxin-logo-d.png" | file_url }}" srcset="{{ "fetoxin-logo-d.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "fetoxin-logo-d.png" | file_url }}" data-src="{{ "fetoxin-logo-d.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:231px;--w-tablet:231px;--w-mobile:167px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gPDmCQnaE5">
        .gPDmCQnaE5 {

}
.gPDmCQnaE5 > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g6DS21tYr4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#6DC7D7","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gsi4b4v66a"}' data-id="gsi4b4v66a" id="gsi4b4v66a" data-same-height-subgrid-container class="gsi4b4v66a gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--shadow:2.8284271247461903px 2.82842712474619px 4px 0px rgba(18, 18, 18, 0.2);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--h:auto;--bgc:#6DC7D7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:end">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="goFVLfcsqv gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gHXVQj4f-H"}' data-id="gHXVQj4f-H" id="gHXVQj4f-H" data-same-height-subgrid-container class="gHXVQj4f-H gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:6px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 10fr) minmax(0, 2fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gAqyyHqqCa gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gDNXnATk70"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:4px;--jc:right">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="glnLx_j0j3 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gN-1sRjCUj" class="gp-leading-[0] gN-1sRjCUj" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr-mobile:1px;--ta:left">
      <div data-id="gN-1sRjCUj" class="icon-wrapper gp-inline-flex gp-overflow-hidden gN-1sRjCUj " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FAD157;--t:rotate(0deg);--w:25px;--w-tablet:25px;--w-mobile:23px;--h:25px;--h-tablet:25px;--h-mobile:23px;--minw:25px;--minw-tablet:25px;--minw-mobile:23px;--height-desktop:25px;--height-tablet:25px;--height-mobile:23px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="520296919390487448" xmlns="http://www.w3.org/2000/svg" width="34" height="33" viewBox="0 0 34 33" fill="none">
<path d="M17.3164 0.589844L22.028 11.5307L33.8893 12.6308L24.9399 20.4927L27.559 32.1134L17.3164 26.0315L7.07379 32.1134L9.69287 20.4927L0.743504 12.6308L12.6048 11.5307L17.3164 0.589844Z" fill="#FAD157"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gwXrLmq6mV ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g0mKg9qJFt" class="gp-leading-[0] g0mKg9qJFt" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr-mobile:1px;--ta:left">
      <div data-id="g0mKg9qJFt" class="icon-wrapper gp-inline-flex gp-overflow-hidden g0mKg9qJFt " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FAD157;--t:rotate(0deg);--w:25px;--w-tablet:25px;--w-mobile:23px;--h:25px;--h-tablet:25px;--h-mobile:23px;--minw:25px;--minw-tablet:25px;--minw-mobile:23px;--height-desktop:25px;--height-tablet:25px;--height-mobile:23px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="520296919390487448" xmlns="http://www.w3.org/2000/svg" width="34" height="33" viewBox="0 0 34 33" fill="none">
<path d="M17.3164 0.589844L22.028 11.5307L33.8893 12.6308L24.9399 20.4927L27.559 32.1134L17.3164 26.0315L7.07379 32.1134L9.69287 20.4927L0.743504 12.6308L12.6048 11.5307L17.3164 0.589844Z" fill="#FAD157"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gxKTM-oazI ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gElKlu9WiH" class="gp-leading-[0] gElKlu9WiH" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pr-mobile:1px;--ta:left">
      <div data-id="gElKlu9WiH" class="icon-wrapper gp-inline-flex gp-overflow-hidden gElKlu9WiH " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FAD157;--t:rotate(0deg);--w:25px;--w-tablet:25px;--w-mobile:23px;--h:25px;--h-tablet:25px;--h-mobile:23px;--minw:25px;--minw-tablet:25px;--minw-mobile:23px;--height-desktop:25px;--height-tablet:25px;--height-mobile:23px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="520296919390487448" xmlns="http://www.w3.org/2000/svg" width="34" height="33" viewBox="0 0 34 33" fill="none">
<path d="M17.3164 0.589844L22.028 11.5307L33.8893 12.6308L24.9399 20.4927L27.559 32.1134L17.3164 26.0315L7.07379 32.1134L9.69287 20.4927L0.743504 12.6308L12.6048 11.5307L17.3164 0.589844Z" fill="#FAD157"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gXEyjNst8H ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gqaCNw4qfA" class="gp-leading-[0] gqaCNw4qfA" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr-mobile:1px;--ta:left">
      <div data-id="gqaCNw4qfA" class="icon-wrapper gp-inline-flex gp-overflow-hidden gqaCNw4qfA " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FAD157;--t:rotate(0deg);--w:25px;--w-tablet:25px;--w-mobile:23px;--h:25px;--h-tablet:25px;--h-mobile:23px;--minw:25px;--minw-tablet:25px;--minw-mobile:23px;--height-desktop:25px;--height-tablet:25px;--height-mobile:23px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="520296919390487448" xmlns="http://www.w3.org/2000/svg" width="34" height="33" viewBox="0 0 34 33" fill="none">
<path d="M17.3164 0.589844L22.028 11.5307L33.8893 12.6308L24.9399 20.4927L27.559 32.1134L17.3164 26.0315L7.07379 32.1134L9.69287 20.4927L0.743504 12.6308L12.6048 11.5307L17.3164 0.589844Z" fill="#FAD157"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gs3hA44Zq0 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gsqTHs3vGc" class="gp-leading-[0] gsqTHs3vGc" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr-mobile:0px;--ta:left">
      <div data-id="gsqTHs3vGc" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsqTHs3vGc " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FAD157;--t:rotate(0deg);--w:25px;--w-tablet:25px;--w-mobile:23px;--h:25px;--h-tablet:25px;--h-mobile:23px;--minw:25px;--minw-tablet:25px;--minw-mobile:23px;--height-desktop:25px;--height-tablet:25px;--height-mobile:23px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="520296919390487448" xmlns="http://www.w3.org/2000/svg" width="34" height="33" viewBox="0 0 34 33" fill="none">
<path d="M17.3164 0.589844L22.028 11.5307L33.8893 12.6308L24.9399 20.4927L27.559 32.1134L17.3164 26.0315L7.07379 32.1134L9.69287 20.4927L0.743504 12.6308L12.6048 11.5307L17.3164 0.589844Z" fill="#FAD157"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSEWjNGoaJ"
        class="gSEWjNGoaJ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:3px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:20px;--size-mobile:14px;--lh:125%;--lh-tablet:125%;--lh-mobile:110%;--ls:normal;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSEWjNGoaJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gf9nMs_tva gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gdG2NA7xyG" class="gp-leading-[0] gdG2NA7xyG" style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gdG2NA7xyG" class="icon-wrapper gp-inline-flex gp-overflow-hidden gdG2NA7xyG " style="--shadow:none">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:50px;--w-tablet:50px;--w-mobile:50px;--h:50px;--h-tablet:50px;--h-mobile:50px;--minw:50px;--minw-tablet:50px;--minw-mobile:50px;--height-desktop:50px;--height-tablet:50px;--height-mobile:50px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="storefront-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817706428334440">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,96a7.89,7.89,0,0,0-.3-2.2L217.35,43.6A16.07,16.07,0,0,0,202,32H54A16.07,16.07,0,0,0,38.65,43.6L24.31,93.8A7.89,7.89,0,0,0,24,96h0v16a40,40,0,0,0,16,32v72a8,8,0,0,0,8,8H208a8,8,0,0,0,8-8V144a40,40,0,0,0,16-32V96ZM54,48H202l11.42,40H42.61Zm50,56h48v8a24,24,0,0,1-48,0Zm-16,0v8a24,24,0,0,1-35.12,21.26,7.88,7.88,0,0,0-1.82-1.06A24,24,0,0,1,40,112v-8ZM200,208H56V151.2a40.57,40.57,0,0,0,8,.8,40,40,0,0,0,32-16,40,40,0,0,0,64,0,40,40,0,0,0,32,16,40.57,40.57,0,0,0,8-.8Zm4.93-75.8a8.08,8.08,0,0,0-1.8,1.05A24,24,0,0,1,168,112v-8h48v8A24,24,0,0,1,204.93,132.2Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gazNMlEiod"
        class="gazNMlEiod"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:23px;--mb-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:628px;--w-tablet:628px;--w-mobile:628px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:500;--size:44px;--size-tablet:48px;--size-mobile:33px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--ls:normal;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggazNMlEiod_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwZ9A82U63"
        class="gwZ9A82U63"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:23px;--mb-tablet:23px;--mb-mobile:33px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:14px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--ls:normal;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwZ9A82U63_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper  class="gtSVxfurCK ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gtSVxfurCK"
      data-id="gtSVxfurCK"
      style="--mb:38px;--mb-tablet:38px;--mb-mobile:38px;--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="gtSVxfurCK"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":"16"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:12px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gtSVxfurCK"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#FFFFFF;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg height="100%" width="100%" data-name="Heart-filled" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8 2.7213C11.8834 -1.1716 21.5926 5.64054 8 14.4C-5.59262 5.64139 4.11664 -1.1716 8 2.7213Z" fill="currentColor"/>
</svg>

                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:16px;--size-tablet:22px;--size-mobile:21px;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtSVxfurCK_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gtSVxfurCK"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#FFFFFF;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg height="100%" width="100%" data-name="Thumbs-up-filled"  viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.65796 10.1358V13.5631V14.5631H5H11.6667C11.9222 14.5631 12.1667 14.4853 12.4 14.3298C12.6333 14.1742 12.8 13.9853 12.9 13.7631L14.9 9.06312C14.9338 8.98534 14.9589 8.90201 14.9753 8.81312C14.9918 8.72423 15 8.64089 15 8.56312V7.22978C15 6.87423 14.8667 6.56312 14.6 6.29645C14.3333 6.02978 14.0222 5.89645 13.6667 5.89645H11.0648H10.0333L10.2862 4.89645L10.7667 2.99645V2.76312C10.7671 2.64089 10.7422 2.51312 10.692 2.37978C10.6418 2.24645 10.5778 2.14089 10.5 2.06312L10.0202 1.58334C9.82496 1.38807 9.50838 1.38807 9.31311 1.58334L5 5.89645H4.65796V6.89645V10.1358Z" fill="currentColor"/>
<rect x="1" y="5.91711" width="2.67773" height="8.64587" rx="0.6" fill="currentColor"/>
</svg>

                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:16px;--size-tablet:22px;--size-mobile:21px;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtSVxfurCK_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    

    

    
    <gp-row gp-data='{"uid":"gS_ggUJQfM"}' data-id="gS_ggUJQfM" id="gS_ggUJQfM" data-same-height-subgrid-container class="gS_ggUJQfM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:49px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzZFzSlI67 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gKZf6GgMPH","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:403px;--ta:left" >
        <style>[data-id="gdRztA-LFN"].gp-button-base::before, [data-id="gdRztA-LFN-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
  
    }
  
      
  [data-id="gdRztA-LFN"]:hover::before, [data-id="gdRztA-LFN-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gKZf6GgMPH
            target=_self
          ></a>
        <a
          data-id="gdRztA-LFN" dataId="gdRztA-LFN" data-state="idle" aria-label="<p>Mehr erfahren</p>"
          
          href="#gKZf6GgMPH" target="_self"
          style="--w:250px;--w-tablet:250px;--w-mobile:206px;--h:51px;--h-tablet:51px;--h-mobile:51px;--pl:20px;--pr:20px;--pt:8px;--pb:8px;--pl-mobile:auto;--pr-mobile:auto;--pt-mobile:8px;--pb-mobile:8px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#6DC7D7;--bg:#1C4151;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:17px;--size-tablet:22px;--size-mobile:15px;--lh:125%;--lh-tablet:125%;--lh-mobile:130%;--ls:normal;--tt:capitalize"
          class="gdRztA-LFN gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:17px;--size-tablet:22px;--size-mobile:15px;--lh:125%;--lh-tablet:125%;--lh-mobile:130%;--ls:normal;--tt:capitalize;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggdRztA-LFN_label | downcase }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gdRztA-LFN">
        button.gdRztA-LFN {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="grHNKCFQw8 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gKZf6GgMPH","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:403px;--ta:left" >
        <style>[data-id="gjxJcb1T9L"].gp-button-base::before, [data-id="gjxJcb1T9L-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
  
    }
  
      
  [data-id="gjxJcb1T9L"]:hover::before, [data-id="gjxJcb1T9L-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gKZf6GgMPH
            target=_self
          ></a>
        <a
          data-id="gjxJcb1T9L" dataId="gjxJcb1T9L" data-state="idle" aria-label="<p>Jetzt kaufen</p>"
          
          href="#gKZf6GgMPH" target="_self"
          style="--w:250px;--w-tablet:250px;--w-mobile:206px;--h:51px;--h-tablet:51px;--h-mobile:51px;--pl:20px;--pr:20px;--pt:8px;--pb:8px;--pl-mobile:auto;--pr-mobile:auto;--pt-mobile:8px;--pb-mobile:8px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#6DC7D7;--bg:#6DC7D7;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:17px;--size-tablet:22px;--size-mobile:15px;--lh:125%;--lh-tablet:125%;--lh-mobile:130%;--ls:normal;--tt:capitalize"
          class="gjxJcb1T9L gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:17px;--size-tablet:22px;--size-mobile:15px;--lh:125%;--lh-tablet:125%;--lh-mobile:130%;--ls:normal;--tt:capitalize;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="shopping-cart-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817702888341864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M230.14,58.87A8,8,0,0,0,224,56H62.68L56.6,22.57A8,8,0,0,0,48.73,16H24a8,8,0,0,0,0,16h18L67.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,160,204a28,28,0,1,0,28-28H91.17a8,8,0,0,1-7.87-6.57L80.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,230.14,58.87ZM104,204a12,12,0,1,1-12-12A12,12,0,0,1,104,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,200,204Zm4-74.57A8,8,0,0,1,196.1,136H77.22L65.59,72H214.41Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:17px;--size-tablet:22px;--size-mobile:15px;--lh:125%;--lh-tablet:125%;--lh-mobile:130%;--ls:normal;--tt:capitalize;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggjxJcb1T9L_label | downcase }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gjxJcb1T9L">
        button.gjxJcb1T9L {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gciiOCyvpH gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gouck-UyWA"}' data-id="gouck-UyWA" id="gouck-UyWA" data-same-height-subgrid-container class="gouck-UyWA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:49px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:end">
      

      <div
      data-same-height-display-contents
      style="--jc:end"
      class="gT9_4APPcq gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gSCVRWNZ5w"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1768998633583 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gSCVRWNZ5w"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtMjg3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjI4NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIGZpbGw9InVybCgjZy0xOTIwLTI4NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtMjg3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjI4NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIGZpbGw9InVybCgjZy0xOTIwLTI4NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtMjg3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjI4NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIGZpbGw9InVybCgjZy0xOTIwLTI4NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:end"
      class="g8ywZTXmJp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghcU-VUkko"
        class="ghcU-VUkko"
        style="--ta:left;--mb:5px;--mb-tablet:5px;--mb-mobile:5px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghcU-VUkko_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gyfMvA3lkf"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1768998633584 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gyfMvA3lkf"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtMjg3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjI4NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIGZpbGw9InVybCgjZy0xOTIwLTI4NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtMjg3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjI4NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIGZpbGw9InVybCgjZy0xOTIwLTI4NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtMjg3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjI4NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyODciIGZpbGw9InVybCgjZy0xOTIwLTI4NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "Handelsblatt_201x_logo_svg.png" | file_url }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-602400244952465939 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=602392006047564715&sectionId=602400244952465939)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggSEWjNGoaJ_text","label":"ggSEWjNGoaJ_text","default":"<p><strong>4,9</strong> Kundenzufriedenheit</p>"},{"type":"html","id":"ggazNMlEiod_text","label":"ggazNMlEiod_text","default":"<strong>Maximale Wirkung mit Fetoxin</strong>"},{"type":"html","id":"ggwZ9A82U63_text","label":"ggwZ9A82U63_text","default":"<p><strong>Sorgfältig ausgewählte Rohstoffe in geprüfter Qualität</strong></p>"},{"type":"html","id":"ggtSVxfurCK_childItem_0","label":"ggtSVxfurCK_childItem_0","default":"Your custom text goes here"},{"type":"html","id":"ggtSVxfurCK_childItem_1","label":"ggtSVxfurCK_childItem_1","default":"Your custom text goes here"},{"type":"html","id":"ggdRztA-LFN_label","label":"ggdRztA-LFN_label","default":"<p>Mehr erfahren</p>"},{"type":"html","id":"ggjxJcb1T9L_label","label":"ggjxJcb1T9L_label","default":"<p>Jetzt kaufen</p>"},{"type":"html","id":"gghcU-VUkko_text","label":"gghcU-VUkko_text","default":"<p>bekannt aus</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}