
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602400247016063869.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-602400247016063869.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602400247016063869.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-602400247016063869.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602400247016063869.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602400247016063869.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-602400247016063869.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602400247016063869.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602400247016063869.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602400247016063869.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602400247016063869.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602400247016063869.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-602400247016063869.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602400247016063869.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602400247016063869.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-602400247016063869.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602400247016063869.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602400247016063869.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602400247016063869.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602400247016063869.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-602400247016063869.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602400247016063869.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602400247016063869.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602400247016063869.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602400247016063869.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-602400247016063869.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602400247016063869.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602400247016063869.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602400247016063869.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-602400247016063869.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-602400247016063869.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602400247016063869.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602400247016063869.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-602400247016063869.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-602400247016063869.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602400247016063869.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602400247016063869.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602400247016063869.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-602400247016063869.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-602400247016063869.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602400247016063869.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-602400247016063869.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602400247016063869.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602400247016063869.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-602400247016063869.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-602400247016063869.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602400247016063869.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602400247016063869.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602400247016063869.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602400247016063869.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602400247016063869.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602400247016063869.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602400247016063869.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602400247016063869.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602400247016063869.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602400247016063869.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-602400247016063869.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-602400247016063869.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602400247016063869.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-602400247016063869.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-602400247016063869.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-602400247016063869.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-602400247016063869.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602400247016063869.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602400247016063869.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-602400247016063869.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-602400247016063869.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-602400247016063869.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602400247016063869.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-602400247016063869.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-602400247016063869.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-602400247016063869.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-602400247016063869.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602400247016063869.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-602400247016063869.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-602400247016063869.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-602400247016063869.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602400247016063869.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602400247016063869.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602400247016063869.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602400247016063869.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-602400247016063869.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-602400247016063869.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-602400247016063869 .-gp-rotate-90,.gps-602400247016063869 .gp-rotate-180,.gps-602400247016063869 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-602400247016063869 .gp-relative{position:relative}.gps-602400247016063869 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602400247016063869 .gp-mb-0{margin-bottom:0}.gps-602400247016063869 .gp-flex{display:flex}.gps-602400247016063869 .gp-inline-flex{display:inline-flex}.gps-602400247016063869 .gp-grid{display:grid}.gps-602400247016063869 .\!gp-hidden{display:none!important}.gps-602400247016063869 .gp-hidden{display:none}.gps-602400247016063869 .gp-min-h-0{min-height:0}.gps-602400247016063869 .gp-w-full{width:100%}.gps-602400247016063869 .gp-max-w-full{max-width:100%}.gps-602400247016063869 .-gp-rotate-90{--tw-rotate:-90deg}.gps-602400247016063869 .-gp-rotate-90,.gps-602400247016063869 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-602400247016063869 .gp-rotate-180{--tw-rotate:180deg}.gps-602400247016063869 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-602400247016063869 .gp-cursor-pointer{cursor:pointer}.gps-602400247016063869 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-602400247016063869 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602400247016063869 .gp-flex-col{flex-direction:column}.gps-602400247016063869 .gp-items-center{align-items:center}.gps-602400247016063869 .gp-justify-center{justify-content:center}.gps-602400247016063869 .gp-gap-\[16px\]{gap:16px}.gps-602400247016063869 .gp-overflow-hidden{overflow:hidden}.gps-602400247016063869 .gp-overflow-clip{overflow:clip}.gps-602400247016063869 .gp-break-all{word-break:break-all}.gps-602400247016063869 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602400247016063869 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602400247016063869 .gp-duration-200{transition-duration:.2s}.gps-602400247016063869 .gp-duration-500{transition-duration:.5s}.gps-602400247016063869 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-602400247016063869 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-602400247016063869 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-602400247016063869 .tablet\:\!gp-hidden{display:none!important}.gps-602400247016063869 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-602400247016063869 .mobile\:\!gp-hidden{display:none!important}.gps-602400247016063869 .mobile\:gp-hidden{display:none}}.gps-602400247016063869 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-602400247016063869 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-602400247016063869 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#ffffff","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gnnVWnMmi6"}' data-id="gnnVWnMmi6" id="gnnVWnMmi6" data-same-height-subgrid-container class="gnnVWnMmi6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:53px;--pl:20px;--pb:106px;--pr:20px;--pt-mobile:29px;--pl-mobile:16px;--pb-mobile:35px;--pr-mobile:16px;--pt-tablet:53px;--pl-tablet:20px;--pb-tablet:106px;--pr-tablet:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gd71DaheIC gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"guqXIhg5Xk"}' data-id="guqXIhg5Xk" id="guqXIhg5Xk" data-same-height-subgrid-container class="guqXIhg5Xk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNRED-kyDg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gB0ngok1qy"
        class="gB0ngok1qy"
        style="--ta:center;--ta-mobile:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:60px;--ml-mobile:0px;--mb-mobile:33px;--mr-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:329px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:500;--size:48px;--size-tablet:36px;--size-mobile:27px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--ls:normal;--c:#12235D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggB0ngok1qy_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px" class="g0lc6HXq85 ">
      
    <gp-accordion data-id="g0lc6HXq85" class="gp-flex gp-flex-col gp-w-full" style="--gg:8px;--gg-mobile:5px;border-radius:inherit"
      gp-data='{"uid":"g0lc6HXq85","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg data-id=\"520408288781665176\" xmlns=\"http://www.w3.org/2000/svg\" width=\"40\" height=\"40\" viewBox=\"0 0 40 40\" fill=\"none\">\n<path d=\"M19.7969 8.74878V31.1632\" stroke=\"#12235D\" stroke-width=\"3.20207\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n<path d=\"M8.58984 19.9561H31.0043\" stroke=\"#12235D\" stroke-width=\"3.20207\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n</svg>","iconExpand":"<svg data-id=\"520408304736797592\" xmlns=\"http://www.w3.org/2000/svg\" width=\"40\" height=\"39\" viewBox=\"0 0 40 39\" fill=\"none\">\n<path d=\"M8.58984 19.3003H31.0043\" stroke=\"#12235D\" stroke-width=\"3.20207\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n</svg>","iconCollapseSize":28,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"g0lc6HXq85","childListNumber":[],"chidlrenUid":["gytoPqmxXC","gMI0opaTKV","gtW29X7zbG","gQ6JNm3oVp","gZopC--u9t"]},"styles":{"bgColor":{"active":"#D3DBF9","hover":"#D3DBF9","normal":"#D3DBF9"},"color":{"active":"#12235D","hover":"#12235D","normal":"#12235D"},"headerBorder":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#12235D","hover":"#12235D","normal":"#12235D"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"8px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"5px","height":"","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"45px","left":"23px","right":"59px","top":"45px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"19px","left":"13px","right":"15px","top":"19px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"32px","left":"23px","right":"59px","top":"32px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#12235D;--icon-expand-hover-color:#12235D;--icon-expand-active-color:#12235D;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div data-index="0" class="g0lc6HXq85 gp-overflow-hidden gp-child-item-g0lc6HXq85 gp-accordion-item">
      <div aria-hidden uid="gytoPqmxXC" id="gytoPqmxXC" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g0lc6HXq85 gp-accordion-item-g0lc6HXq85-0" style="--pl:23px;--pr:59px;--pt:45px;--pb:45px;--pl-tablet:23px;--pr-tablet:59px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:13px;--pr-mobile:15px;--pt-mobile:19px;--pb-mobile:19px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#D3DBF9;--bgc:#D3DBF9;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#12235D;width:28px;height:28px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="520408288781665176" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
<path d="M19.7969 8.74878V31.1632" stroke="#12235D" stroke-width="3.20207" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.58984 19.9561H31.0043" stroke="#12235D" stroke-width="3.20207" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#12235D;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:500;--size:20px;--size-tablet:18px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0lc6HXq85_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gvxyjQWUuo gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#D3DBF9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNSQ5PsSbh"}' data-id="gNSQ5PsSbh" id="gNSQ5PsSbh" data-same-height-subgrid-container class="gNSQ5PsSbh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:23px;--pb:23px;--pr:59px;--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#D3DBF9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1RfFWKlye gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guBv1c7cXt"
        class="guBv1c7cXt"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:300;--size:18px;--size-tablet:16px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--ls:normal;--c:#12235D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguBv1c7cXt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#12235D;--icon-expand-hover-color:#12235D;--icon-expand-active-color:#12235D;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div data-index="1" class="g0lc6HXq85 gp-overflow-hidden gp-child-item-g0lc6HXq85 gp-accordion-item">
      <div aria-hidden uid="gMI0opaTKV" id="gMI0opaTKV" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g0lc6HXq85 gp-accordion-item-g0lc6HXq85-1" style="--pl:23px;--pr:59px;--pt:45px;--pb:45px;--pl-tablet:23px;--pr-tablet:59px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:13px;--pr-mobile:15px;--pt-mobile:19px;--pb-mobile:19px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#D3DBF9;--bgc:#D3DBF9;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#12235D;width:28px;height:28px"
            data-index="1"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="520408288781665176" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
<path d="M19.7969 8.74878V31.1632" stroke="#12235D" stroke-width="3.20207" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.58984 19.9561H31.0043" stroke="#12235D" stroke-width="3.20207" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#12235D;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:500;--size:20px;--size-tablet:18px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0lc6HXq85_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="grHIDNzzeP gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#D3DBF9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNQ-EVMiwr"}' data-id="gNQ-EVMiwr" id="gNQ-EVMiwr" data-same-height-subgrid-container class="gNQ-EVMiwr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:23px;--pb:23px;--pr:59px;--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#D3DBF9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guGrL5jij_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjugJzKOrz"
        class="gjugJzKOrz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:300;--size:18px;--size-tablet:16px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--ls:normal;--c:#12235D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjugJzKOrz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#12235D;--icon-expand-hover-color:#12235D;--icon-expand-active-color:#12235D;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div data-index="2" class="g0lc6HXq85 gp-overflow-hidden gp-child-item-g0lc6HXq85 gp-accordion-item">
      <div aria-hidden uid="gtW29X7zbG" id="gtW29X7zbG" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g0lc6HXq85 gp-accordion-item-g0lc6HXq85-2" style="--pl:23px;--pr:59px;--pt:45px;--pb:45px;--pl-tablet:23px;--pr-tablet:59px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:13px;--pr-mobile:15px;--pt-mobile:19px;--pb-mobile:19px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#D3DBF9;--bgc:#D3DBF9;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#12235D;width:28px;height:28px"
            data-index="2"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="520408288781665176" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
<path d="M19.7969 8.74878V31.1632" stroke="#12235D" stroke-width="3.20207" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.58984 19.9561H31.0043" stroke="#12235D" stroke-width="3.20207" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#12235D;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:500;--size:20px;--size-tablet:18px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0lc6HXq85_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gFdMs6mFGL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#D3DBF9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gmY8ohmsnh"}' data-id="gmY8ohmsnh" id="gmY8ohmsnh" data-same-height-subgrid-container class="gmY8ohmsnh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:23px;--pb:23px;--pr:59px;--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#D3DBF9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_tKaWt7QS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZSL5OxlB5"
        class="gZSL5OxlB5"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:300;--size:18px;--size-tablet:16px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--ls:normal;--c:#12235D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZSL5OxlB5_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#12235D;--icon-expand-hover-color:#12235D;--icon-expand-active-color:#12235D;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div data-index="3" class="g0lc6HXq85 gp-overflow-hidden gp-child-item-g0lc6HXq85 gp-accordion-item">
      <div aria-hidden uid="gQ6JNm3oVp" id="gQ6JNm3oVp" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g0lc6HXq85 gp-accordion-item-g0lc6HXq85-3" style="--pl:23px;--pr:59px;--pt:45px;--pb:45px;--pl-tablet:23px;--pr-tablet:59px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:13px;--pr-mobile:15px;--pt-mobile:19px;--pb-mobile:19px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#D3DBF9;--bgc:#D3DBF9;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#12235D;width:28px;height:28px"
            data-index="3"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="520408288781665176" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
<path d="M19.7969 8.74878V31.1632" stroke="#12235D" stroke-width="3.20207" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.58984 19.9561H31.0043" stroke="#12235D" stroke-width="3.20207" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#12235D;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:500;--size:20px;--size-tablet:18px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0lc6HXq85_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="g-i5IpdGwl gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#D3DBF9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLUeZZMAaR"}' data-id="gLUeZZMAaR" id="gLUeZZMAaR" data-same-height-subgrid-container class="gLUeZZMAaR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:23px;--pb:23px;--pr:59px;--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#D3DBF9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNpQXgPl1O gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gs0j9DFO_Z"
        class="gs0j9DFO_Z"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:300;--size:18px;--size-tablet:16px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--ls:normal;--c:#12235D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggs0j9DFO_Z_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#12235D;--icon-expand-hover-color:#12235D;--icon-expand-active-color:#12235D;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div data-index="4" class="g0lc6HXq85 gp-overflow-hidden gp-child-item-g0lc6HXq85 gp-accordion-item">
      <div aria-hidden uid="gZopC--u9t" id="gZopC--u9t" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g0lc6HXq85 gp-accordion-item-g0lc6HXq85-4" style="--pl:23px;--pr:59px;--pt:45px;--pb:45px;--pl-tablet:23px;--pr-tablet:59px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:13px;--pr-mobile:15px;--pt-mobile:19px;--pb-mobile:19px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#D3DBF9;--bgc:#D3DBF9;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#12235D;width:28px;height:28px"
            data-index="4"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="520408288781665176" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
<path d="M19.7969 8.74878V31.1632" stroke="#12235D" stroke-width="3.20207" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.58984 19.9561H31.0043" stroke="#12235D" stroke-width="3.20207" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#12235D;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:500;--size:20px;--size-tablet:18px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0lc6HXq85_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gK0lIuUxi1 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#D3DBF9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g9YTnlLyl-"}' data-id="g9YTnlLyl-" id="g9YTnlLyl-" data-same-height-subgrid-container class="g9YTnlLyl- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:23px;--pb:23px;--pr:59px;--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#D3DBF9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gz_Rsorub5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gswACJGrJY"
        class="gswACJGrJY"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:300;--size:18px;--size-tablet:16px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--ls:normal;--c:#12235D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggswACJGrJY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 15",
    "tag": "section",
    "class": "gps-602400247016063869 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=602392006047564715&sectionId=602400247016063869)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggB0ngok1qy_text","label":"ggB0ngok1qy_text","default":"FAQs"},{"type":"html","id":"gg0lc6HXq85_childItem_0","label":"gg0lc6HXq85_childItem_0","default":"<p>What is the firmness of this pillow?</p>"},{"type":"html","id":"gg0lc6HXq85_childItem_1","label":"gg0lc6HXq85_childItem_1","default":"<p>Is this pillow hypoallergenic?</p>"},{"type":"html","id":"gg0lc6HXq85_childItem_2","label":"gg0lc6HXq85_childItem_2","default":"<p>Does this pillow have breathable materials?</p>"},{"type":"html","id":"gg0lc6HXq85_childItem_3","label":"gg0lc6HXq85_childItem_3","default":"<p>What are the benefits of using this pillow?</p>"},{"type":"html","id":"gg0lc6HXq85_childItem_4","label":"gg0lc6HXq85_childItem_4","default":"<p>How does this pillow differ from a regular pillow?</p>"},{"type":"html","id":"gguBv1c7cXt_text","label":"gguBv1c7cXt_text","default":"<p>Pillow's size and shape match your body frame and sleep style. A contoured pillow, for instance, is excellent for side sleepers, while a cervical neck pillow is perfect for those with neck pain.</p>"},{"type":"html","id":"ggjugJzKOrz_text","label":"ggjugJzKOrz_text","default":"<p>Pellentesque tellus augue, varius sed rutrum a, porta vel sapien. Proin cursus mi justo, sit amet facilisis tellus commodo cursus. Nulla tempor sed urna vel.</p>"},{"type":"html","id":"ggZSL5OxlB5_text","label":"ggZSL5OxlB5_text","default":"<p>Fusce dapibus magna id arcu convallis semper. Aliquam ultricies posuere turpis, sed fringilla lectus venenatis eu. Nam facilisis sagittis pellentesque.</p>"},{"type":"html","id":"ggs0j9DFO_Z_text","label":"ggs0j9DFO_Z_text","default":"<p>Ensure that the pillow's size and shape match your body frame and sleep style. A contoured pillow, for instance, is excellent for side sleepers, while a cervical neck pillow is perfect for those with neck pain.</p>"},{"type":"html","id":"ggswACJGrJY_text","label":"ggswACJGrJY_text","default":"<p>Sed rhoncus ipsum metus. Fusce dapibus magna id arcu convallis semper. Aliquam ultricies posuere turpis, sed fringilla lectus venenatis eu. Nam facilisis sagittis pellentesque.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}