
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606283832647222170.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-606283832647222170.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-606283832647222170.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606283832647222170.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-606283832647222170.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606283832647222170.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606283832647222170.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606283832647222170.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-606283832647222170.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606283832647222170.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606283832647222170.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606283832647222170.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606283832647222170.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-606283832647222170.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-606283832647222170.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606283832647222170.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-606283832647222170.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-606283832647222170.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606283832647222170.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606283832647222170.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-606283832647222170.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-606283832647222170.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606283832647222170.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-606283832647222170.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-606283832647222170.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-606283832647222170.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-606283832647222170.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606283832647222170.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606283832647222170.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-606283832647222170.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-606283832647222170.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606283832647222170.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-606283832647222170.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-606283832647222170.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606283832647222170.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-606283832647222170.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-606283832647222170.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606283832647222170.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606283832647222170.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606283832647222170.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606283832647222170.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-606283832647222170.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606283832647222170.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-606283832647222170.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-606283832647222170.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606283832647222170.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606283832647222170.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606283832647222170.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-606283832647222170.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-606283832647222170.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606283832647222170.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-606283832647222170.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606283832647222170.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-606283832647222170.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-606283832647222170.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-606283832647222170.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-606283832647222170.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-606283832647222170.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606283832647222170.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606283832647222170.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606283832647222170.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606283832647222170.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606283832647222170.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606283832647222170.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606283832647222170.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606283832647222170.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-606283832647222170.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-606283832647222170.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606283832647222170.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606283832647222170.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-606283832647222170.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-606283832647222170.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-606283832647222170.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606283832647222170.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-606283832647222170.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-606283832647222170.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-606283832647222170.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-606283832647222170.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-606283832647222170.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-606283832647222170.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606283832647222170.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606283832647222170.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-606283832647222170.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-606283832647222170.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-606283832647222170.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-606283832647222170.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-606283832647222170.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-606283832647222170.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-606283832647222170.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-606283832647222170.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-606283832647222170.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-606283832647222170.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-606283832647222170.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606283832647222170.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-606283832647222170.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-606283832647222170.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-606283832647222170.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-606283832647222170.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-606283832647222170.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-606283832647222170.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-606283832647222170.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-606283832647222170.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-606283832647222170.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-606283832647222170.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-606283832647222170.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606283832647222170.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606283832647222170.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-606283832647222170.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-606283832647222170.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-606283832647222170.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-606283832647222170.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-606283832647222170 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-606283832647222170 .gp-relative{position:relative}.gps-606283832647222170 .gp-z-1{z-index:1}.gps-606283832647222170 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606283832647222170 .gp-mb-0{margin-bottom:0}.gps-606283832647222170 .gp-inline-block{display:inline-block}.gps-606283832647222170 .gp-flex{display:flex}.gps-606283832647222170 .gp-inline-flex{display:inline-flex}.gps-606283832647222170 .gp-grid{display:grid}.gps-606283832647222170 .gp-contents{display:contents}.gps-606283832647222170 .\!gp-hidden{display:none!important}.gps-606283832647222170 .gp-hidden{display:none}.gps-606283832647222170 .gp-h-auto{height:auto}.gps-606283832647222170 .gp-h-full{height:100%}.gps-606283832647222170 .gp-w-full{width:100%}.gps-606283832647222170 .gp-max-w-full{max-width:100%}.gps-606283832647222170 .gp-flex-none{flex:none}.gps-606283832647222170 .gp-shrink-0{flex-shrink:0}.gps-606283832647222170 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606283832647222170 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-606283832647222170 .gp-flex-col{flex-direction:column}.gps-606283832647222170 .gp-items-center{align-items:center}.gps-606283832647222170 .gp-justify-center{justify-content:center}.gps-606283832647222170 .gp-overflow-hidden{overflow:hidden}.gps-606283832647222170 .gp-break-words{overflow-wrap:break-word}.gps-606283832647222170 .gp-leading-\[0\]{line-height:0}.gps-606283832647222170 .gp-no-underline{text-decoration-line:none}.gps-606283832647222170 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606283832647222170 .gp-duration-200{transition-duration:.2s}.gps-606283832647222170 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606283832647222170 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-606283832647222170 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-606283832647222170 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-606283832647222170 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-606283832647222170 .tablet\:\!gp-hidden{display:none!important}.gps-606283832647222170 .tablet\:gp-hidden{display:none}.gps-606283832647222170 .tablet\:gp-h-auto{height:auto}.gps-606283832647222170 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-606283832647222170 .mobile\:\!gp-hidden{display:none!important}.gps-606283832647222170 .mobile\:gp-hidden{display:none}.gps-606283832647222170 .mobile\:gp-h-auto{height:auto}.gps-606283832647222170 .mobile\:gp-flex-none{flex:none}}.gps-606283832647222170 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-606283832647222170 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-606283832647222170 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-606283832647222170 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-606283832647222170 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-606283832647222170 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"src":"https://cdn.shopify.com/s/files/1/0933/1523/6221/files/banner.jpg","width":2052,"height":857,"storage":"FILE_CONTENT","backupFileKey":"gempages_602392003094774653-1352f74c-5580-4ce6-bbbe-2d6c44b824a6.jpg"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","preload":false},"mobile":{"color":"linear-gradient(350deg, #71b4c6 1%, #c4e9ff 100%)","preload":false,"image":{"src":""},"type":"color","position":{"x":0,"y":0},"repeat":"repeat","attachment":"scroll"}},"uid":"g1uYu98bQk"}' data-id="g1uYu98bQk" id="g1uYu98bQk" data-same-height-subgrid-container class="g1uYu98bQk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:80px;--pl:15px;--pb:80px;--pr:15px;--mb-tablet:0px;--pt-tablet:80px;--pl-tablet:15px;--pb-tablet:80px;--pr-tablet:15px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:var(--g-s-l);--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgc-mobile:linear-gradient(350deg, #71b4c6 1%, #c4e9ff 100%);--bgi:url(https://cdn.shopify.com/s/files/1/0933/1523/6221/files/banner.jpg);--bgi-mobile:url(), linear-gradient(350deg, #71b4c6 1%, #c4e9ff 100%);--bgp:50% 50%;--bgp-mobile:0% 0%;--bgs:cover;--bgr:no-repeat;--bgr-mobile:repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOjuaEMlhs gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCbliUfPY0"}' data-id="gCbliUfPY0" id="gCbliUfPY0" data-same-height-subgrid-container class="gCbliUfPY0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:30px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="g-fWlfwOME gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gjiJG2YyxH"}' data-id="gjiJG2YyxH" id="gjiJG2YyxH" data-same-height-subgrid-container class="gjiJG2YyxH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:48px;--pb:48px;--mb-mobile:14px;--pt-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pb-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjcM_gXPhN gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gErsKbd6Jb"}' data-id="gErsKbd6Jb" id="gErsKbd6Jb" data-same-height-subgrid-container class="gErsKbd6Jb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:end"
      class="gO6MJxiovE gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3zMkgFZZ_"
        class="g3zMkgFZZ_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:30px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--size:29px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#1C4151;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3zMkgFZZ__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:end"
      class="gK-4_L39ep gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gdewBV3Pr0"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1772200088763 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gdewBV3Pr0"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "fetoxin-bundle-_0001_2.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMwIiBoZWlnaHQ9IjMzMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzMwLTMzMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzMwIiBoZWlnaHQ9IjMzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzMwIiBoZWlnaHQ9IjMzMCIgZmlsbD0idXJsKCNnLTMzMC0zMzApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMzAiIHRvPSIzMzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:4/3;--objf:cover;--objf-mobile:contain;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4kKGoQOUx"
        class="g4kKGoQOUx"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:50%;--w-tablet:50%;--w-mobile:50%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#1C4151;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4kKGoQOUx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gYt1iXxULb"}' data-id="gYt1iXxULb" id="gYt1iXxULb" data-same-height-subgrid-container class="gYt1iXxULb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:16px;--cg:12px;--cg-mobile:7px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBIAxjn69y gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gllj-St3hy" class="gp-leading-[0] gllj-St3hy" style="--mb:9px;--mb-tablet:9px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gllj-St3hy" class="icon-wrapper gp-inline-flex gp-overflow-hidden gllj-St3hy " style="--pl:8px;--pr:8px;--pt:8px;--pb:8px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:8px;--pb-mobile:8px;--bs:none;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--focus-bblr:30px;--focus-bbrr:30px;--focus-btlr:30px;--focus-btrr:30px;-undefined-bblr:30px;-undefined-bbrr:30px;-undefined-btlr:30px;-undefined-btrr:30px;--bg:transparent;--shadow:none">
      
        <div >
          <span style="--c:#1C4151;--t:rotate(0deg);--w:34px;--w-tablet:34px;--w-mobile:24px;--h:34px;--h-tablet:34px;--h-mobile:24px;--minw:34px;--minw-tablet:34px;--minw-mobile:24px;--height-desktop:34px;--height-tablet:34px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="flag-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817626368180584">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M44.08,51.37A6,6,0,0,0,42,55.9V224a6,6,0,0,0,12,0V178.78c28.08-22.79,51.88-11,79.34,2.57,16.12,8,33.49,16.58,52,16.58,13.57,0,27.76-4.6,42.56-17.42A6,6,0,0,0,230,176V55.9a6,6,0,0,0-9.93-4.54c-29,25.12-53.28,13.09-81.41-.84C110.77,36.71,79,21.16,44.08,51.37ZM218,173.17c-28.08,22.8-51.88,11-79.34-2.58C113.4,158.08,85.09,144.07,54,164V58.72c28.08-22.8,51.88-11,79.34,2.56C158.6,73.79,186.91,87.8,218,67.91Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBvDiQhCEG"
        class="gBvDiQhCEG"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#1C4151;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBvDiQhCEG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gBvDiQhCEG">
        .gBvDiQhCEG {

}
.gBvDiQhCEG p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="ggnoDFLeEs gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gO_xvhjc7l" class="gp-leading-[0] gO_xvhjc7l" style="--mb:9px;--mb-tablet:9px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gO_xvhjc7l" class="icon-wrapper gp-inline-flex gp-overflow-hidden gO_xvhjc7l " style="--pl:8px;--pr:8px;--pt:8px;--pb:8px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:8px;--pb-mobile:8px;--bs:none;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--focus-bblr:30px;--focus-bbrr:30px;--focus-btlr:30px;--focus-btrr:30px;-undefined-bblr:30px;-undefined-bbrr:30px;-undefined-btlr:30px;-undefined-btrr:30px;--bg:transparent;--shadow:none">
      
        <div >
          <span style="--c:#1C4151;--t:rotate(0deg);--w:34px;--w-tablet:34px;--w-mobile:24px;--h:34px;--h-tablet:34px;--h-mobile:24px;--minw:34px;--minw-tablet:34px;--minw-mobile:24px;--height-desktop:34px;--height-tablet:34px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="leaf-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817633464942952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M221.45,40.19a6,6,0,0,0-5.64-5.64C140.43,30.11,80.14,52.71,54.53,95c-17.44,28.79-16.76,62.8,1.79,96.2L35.76,211.76a6,6,0,1,0,8.48,8.48L64.8,199.68c17.27,9.59,34.7,14.41,51.49,14.41A85.38,85.38,0,0,0,161,201.47C203.29,175.86,225.88,115.57,221.45,40.19Zm-66.66,151c-24.08,14.58-52.64,14.37-81.13-.39l90.59-90.59a6,6,0,0,0-8.48-8.48L65.18,182.34c-14.76-28.49-15-57-.39-81.13,22.68-37.43,76.63-57.8,145-54.95C212.59,114.58,192.22,168.54,154.79,191.21Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-52utm7dZ"
        class="g-52utm7dZ"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#1C4151;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-52utm7dZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g-52utm7dZ">
        .g-52utm7dZ {

}
.g-52utm7dZ p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gW_mVVaVXK gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gTKpeaErYA" class="gp-leading-[0] gTKpeaErYA" style="--mb:9px;--mb-tablet:9px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gTKpeaErYA" class="icon-wrapper gp-inline-flex gp-overflow-hidden gTKpeaErYA " style="--pl:8px;--pr:8px;--pt:8px;--pb:8px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:8px;--pb-mobile:8px;--bs:none;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--focus-bblr:30px;--focus-bbrr:30px;--focus-btlr:30px;--focus-btrr:30px;-undefined-bblr:30px;-undefined-bbrr:30px;-undefined-btlr:30px;-undefined-btrr:30px;--bg:transparent;--shadow:none">
      
        <div >
          <span style="--c:#1C4151;--t:rotate(0deg);--w:34px;--w-tablet:34px;--w-mobile:24px;--h:34px;--h-tablet:34px;--h-mobile:24px;--minw:34px;--minw-tablet:34px;--minw-mobile:24px;--height-desktop:34px;--height-tablet:34px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="coins-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817619857899880">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.56,103.81C213.43,97.75,198.47,93.39,182,91.34V84c0-12.12-9.58-23.1-27-30.93C139.16,45.93,118.2,42,96,42S52.84,45.93,37,53.07C19.58,60.9,10,71.88,10,84v40c0,12.12,9.58,23.1,27,30.93,10.49,4.72,23.21,8,37,9.73V172c0,12.12,9.58,23.1,27,30.93C116.84,210.07,137.8,214,160,214s43.16-3.93,59-11.07c17.39-7.83,27-18.81,27-30.93V132C246,121.35,238.39,111.34,224.56,103.81Zm-5.74,10.54C228.61,119.68,234,126,234,132c0,14.19-30.39,30-74,30a166.9,166.9,0,0,1-21.21-1.34A110.79,110.79,0,0,0,155,154.93c17.39-7.83,27-18.81,27-30.93V103.43C196.4,105.36,209.3,109.16,218.82,114.35ZM108.16,153.58c-3.92.27-8,.42-12.16.42-5.3,0-10.4-.24-15.28-.67a2.22,2.22,0,0,0-.37,0c-3.58-.33-7-.77-10.35-1.3V124.12A178,178,0,0,0,96,126a178,178,0,0,0,26-1.88V152c-4.34.69-8.91,1.22-13.69,1.56ZM170,105.89V124c0,9.54-13.75,19.8-36,25.51V121.85a115,115,0,0,0,21-6.92A66.2,66.2,0,0,0,170,105.89ZM96,54c43.61,0,74,15.81,74,30s-30.39,30-74,30S22,98.19,22,84,52.39,54,96,54ZM22,124V105.89a66.2,66.2,0,0,0,15,9,115,115,0,0,0,21,6.92v27.66C35.75,143.8,22,133.54,22,124Zm64,48v-6.28c3.3.18,6.63.28,10,.28q5.91,0,11.66-.37A123.17,123.17,0,0,0,122,169.84v27.67C99.75,191.8,86,181.54,86,172Zm48,28V172.1a177.84,177.84,0,0,0,26,1.9,178,178,0,0,0,26-1.88V200a170,170,0,0,1-52,0Zm64-2.49V169.85a115,115,0,0,0,21-6.92,66.2,66.2,0,0,0,15-9V172C234,181.54,220.25,191.8,198,197.51Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJvro9anVY"
        class="gJvro9anVY"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#1C4151;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJvro9anVY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gJvro9anVY">
        .gJvro9anVY {

}
.gJvro9anVY p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      style="--pos:relative"
      class="gp-flex gp-flex-col"
    >
      <div style="--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:right;--ta-mobile:center" >
        <style>[data-id="gflt2z_fR6"].gp-button-base::before, [data-id="gflt2z_fR6-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
  
    }
  
      
  [data-id="gflt2z_fR6"]:hover::before, [data-id="gflt2z_fR6-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gflt2z_fR6" dataId="gflt2z_fR6" data-state="idle" aria-label="<p>Jetzt kaufen</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:8px;--pb-mobile:8px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--hvr-bblr:9999px;--hvr-bbrr:9999px;--hvr-btlr:9999px;--hvr-btrr:9999px;--bgi:;--hvr-bgi:;--bg:#FFFFFF;--hvr-bg:#1C4151;--c:#6DC7D7;--size:24px;--size-tablet:22px;--size-mobile:18px;--weight:bold"
          class="gflt2z_fR6 gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--size:24px;--size-tablet:22px;--size-mobile:18px;--weight:bold;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="shopping-cart-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817702888341864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M230.14,58.87A8,8,0,0,0,224,56H62.68L56.6,22.57A8,8,0,0,0,48.73,16H24a8,8,0,0,0,0,16h18L67.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,160,204a28,28,0,1,0,28-28H91.17a8,8,0,0,1-7.87-6.57L80.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,230.14,58.87ZM104,204a12,12,0,1,1-12-12A12,12,0,0,1,104,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,200,204Zm4-74.57A8,8,0,0,1,196.1,136H77.22L65.59,72H214.41Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--size:24px;--size-tablet:22px;--size-mobile:18px;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggflt2z_fR6_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-606283832647222170 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=602392006047564715&sectionId=606283832647222170)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg3zMkgFZZ__text","label":"gg3zMkgFZZ__text","default":"<span style=\"color:#FFFFFF;\">Jetzt sparen:</span><br><span style=\"font-size:32px;\">Fetoxin Activity&nbsp;</span><br><span style=\"font-size:32px;\">Kapseln</span>"},{"type":"html","id":"gg4kKGoQOUx_text","label":"gg4kKGoQOUx_text","default":"<p>Fetoxin unterstützt deinen Stoffwechsel mit ausgewählten Inhaltsstoffen – sanft, alltagstauglich und bewusst formuliert.</p>"},{"type":"html","id":"ggBvDiQhCEG_text","label":"ggBvDiQhCEG_text","default":"<p>Deutsche&nbsp;</p><p>Qualitätsstandards</p><p>&nbsp;</p>"},{"type":"html","id":"gg-52utm7dZ_text","label":"gg-52utm7dZ_text","default":"<p>Ausgewählte&nbsp;</p><p>Inhaltsstoffe</p>"},{"type":"html","id":"ggJvro9anVY_text","label":"ggJvro9anVY_text","default":"<p>30 Tage&nbsp;</p><p>Geld-zurück-Garantie</p>"},{"type":"html","id":"ggflt2z_fR6_label","label":"ggflt2z_fR6_label","default":"<p>Jetzt kaufen</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}