
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606416585791373879.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-606416585791373879.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606416585791373879.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606416585791373879.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606416585791373879.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606416585791373879.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606416585791373879.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606416585791373879.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606416585791373879.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606416585791373879.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606416585791373879.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606416585791373879.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606416585791373879.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606416585791373879.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-606416585791373879.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606416585791373879.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606416585791373879.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606416585791373879.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606416585791373879.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606416585791373879.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606416585791373879.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606416585791373879.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606416585791373879.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606416585791373879.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606416585791373879.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606416585791373879.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606416585791373879.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606416585791373879.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-606416585791373879.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606416585791373879.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-606416585791373879.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-606416585791373879.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-606416585791373879.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606416585791373879.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606416585791373879.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606416585791373879.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606416585791373879.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606416585791373879.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606416585791373879.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606416585791373879.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606416585791373879.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-606416585791373879.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-606416585791373879.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606416585791373879.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-606416585791373879.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-606416585791373879.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606416585791373879.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-606416585791373879.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-606416585791373879.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-606416585791373879.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606416585791373879.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-606416585791373879.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606416585791373879.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606416585791373879.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-606416585791373879.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-606416585791373879.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-606416585791373879.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-606416585791373879.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-606416585791373879.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-606416585791373879.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-606416585791373879.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606416585791373879.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-606416585791373879.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-606416585791373879.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-606416585791373879.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-606416585791373879.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606416585791373879.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606416585791373879.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-606416585791373879.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-606416585791373879.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-606416585791373879.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-606416585791373879.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-606416585791373879.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-606416585791373879 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-606416585791373879 .gp-relative{position:relative}.gps-606416585791373879 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606416585791373879 .gp-mb-0{margin-bottom:0}.gps-606416585791373879 .gp-flex{display:flex}.gps-606416585791373879 .gp-inline-flex{display:inline-flex}.gps-606416585791373879 .gp-grid{display:grid}.gps-606416585791373879 .\!gp-hidden{display:none!important}.gps-606416585791373879 .gp-hidden{display:none}.gps-606416585791373879 .gp-w-full{width:100%}.gps-606416585791373879 .gp-max-w-full{max-width:100%}.gps-606416585791373879 .gp-shrink-0{flex-shrink:0}.gps-606416585791373879 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606416585791373879 .gp-flex-col{flex-direction:column}.gps-606416585791373879 .gp-items-center{align-items:center}.gps-606416585791373879 .gp-justify-center{justify-content:center}.gps-606416585791373879 .gp-overflow-hidden{overflow:hidden}.gps-606416585791373879 .gp-border{border-width:1px}.gps-606416585791373879 .gp-border-transparent{border-color:transparent}.gps-606416585791373879 .gp-text-left{text-align:left}.gps-606416585791373879 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606416585791373879 .gp-duration-200{transition-duration:.2s}.gps-606416585791373879 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-606416585791373879 .tablet\:\!gp-hidden{display:none!important}.gps-606416585791373879 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-606416585791373879 .mobile\:\!gp-hidden{display:none!important}.gps-606416585791373879 .mobile\:gp-hidden{display:none}}.gps-606416585791373879 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-606416585791373879 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-606416585791373879 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-606416585791373879 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-606416585791373879 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-606416585791373879 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-606416585791373879 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"image","color":"transparent","image":{"src":"https://cdn.shopify.com/s/files/1/0933/1523/6221/files/fetoxin3.jpg","width":1536,"height":1024,"storage":"FILE_CONTENT","backupFileKey":"gempages_602392003094774653-3c702bb1-67cf-4af7-9127-566b339a9449.jpg"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gFOhh14f4J"}' data-id="gFOhh14f4J" id="gFOhh14f4J" data-same-height-subgrid-container class="gFOhh14f4J gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:48px;--pb:48px;--pt-tablet:48px;--pb-tablet:48px;--pt-mobile:40px;--pb-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url(https://cdn.shopify.com/s/files/1/0933/1523/6221/files/fetoxin3.jpg);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIfUay403s gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gEHl6CPD7U"}' data-id="gEHl6CPD7U" id="gEHl6CPD7U" data-same-height-subgrid-container class="gEHl6CPD7U gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7meVqv2Wp gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gclQO1Kt38"}' data-id="gclQO1Kt38" id="gclQO1Kt38" data-same-height-subgrid-container class="gclQO1Kt38 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gGUZZbO7Gm gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"rgba(255, 255, 255, 0.7)","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"giInWUhmoc"}' data-id="giInWUhmoc" id="giInWUhmoc" data-same-height-subgrid-container class="giInWUhmoc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:25px;--pl:25px;--pb:25px;--pr:25px;--pt-tablet:25px;--pl-tablet:25px;--pb-tablet:25px;--pr-tablet:25px;--ml-mobile:5px;--mr-mobile:5px;--pt-mobile:var(--g-s-2xl);--pl-mobile:24px;--pb-mobile:var(--g-s-2xl);--pr-mobile:24px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:rgba(255, 255, 255, 0.7);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="ghL2EJIvqw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx4BA2B6_Y"
        class="gx4BA2B6_Y"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:17px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggx4BA2B6_Y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="go82lag9wB gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gcxg3w9aXq ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gcxg3w9aXq"
      data-id="gcxg3w9aXq"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="gcxg3w9aXq"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":"25"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:12px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gcxg3w9aXq"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:25px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:17px;--size-tablet:22px;--size-mobile:21px;--c:#151515;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcxg3w9aXq_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gcxg3w9aXq"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:25px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:17px;--size-tablet:22px;--size-mobile:21px;--c:#151515;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcxg3w9aXq_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gcxg3w9aXq"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:var(--g-c-text-1, text-1);--w:100%;--h:100%;--size-desktop:25px;--size-tablet:25px;--size-mobile:25px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:17px;--size-tablet:22px;--size-mobile:21px;--c:#151515;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcxg3w9aXq_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--d-mobile:none"
      class="gCBvT4uI6H gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-606416585791373879 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_COLLECTION&editorId=602392006064341931&sectionId=606416585791373879)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggx4BA2B6_Y_text","label":"ggx4BA2B6_Y_text","default":"<p><span style=\"color:#2B2B2B;font-size:26px;\"><strong>Lorem ipsum dolor sit amet&nbsp;</strong></span></p><p>&nbsp;</p><p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><p>&nbsp;</p>"},{"type":"html","id":"ggcxg3w9aXq_childItem_0","label":"ggcxg3w9aXq_childItem_0","default":"Your custom text goes here"},{"type":"html","id":"ggcxg3w9aXq_childItem_1","label":"ggcxg3w9aXq_childItem_1","default":"Your custom text goes here"},{"type":"html","id":"ggcxg3w9aXq_childItem_2","label":"ggcxg3w9aXq_childItem_2","default":"Your custom text goes here"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}