
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-605409029530845956.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-605409029530845956.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-605409029530845956.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-605409029530845956.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-605409029530845956.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-605409029530845956.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-605409029530845956.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-605409029530845956.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-605409029530845956.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-605409029530845956.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-605409029530845956.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-605409029530845956.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-605409029530845956.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-605409029530845956.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-605409029530845956.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-605409029530845956.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-605409029530845956.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-605409029530845956.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-605409029530845956.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-605409029530845956.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-605409029530845956.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-605409029530845956.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-605409029530845956.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-605409029530845956.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-605409029530845956.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-605409029530845956.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-605409029530845956.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-605409029530845956.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-605409029530845956.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-605409029530845956.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-605409029530845956.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-605409029530845956.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-605409029530845956.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-605409029530845956.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-605409029530845956.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-605409029530845956.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-605409029530845956.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-605409029530845956.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-605409029530845956.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-605409029530845956.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-605409029530845956.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-605409029530845956.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-605409029530845956.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-605409029530845956.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-605409029530845956.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-605409029530845956.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-605409029530845956.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-605409029530845956.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-605409029530845956.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-605409029530845956.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-605409029530845956.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-605409029530845956.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-605409029530845956.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-605409029530845956.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-605409029530845956.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-605409029530845956.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-605409029530845956.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-605409029530845956.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-605409029530845956.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-605409029530845956.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-605409029530845956.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-605409029530845956.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-605409029530845956.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-605409029530845956.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-605409029530845956.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-605409029530845956.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-605409029530845956.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-605409029530845956.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-605409029530845956.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-605409029530845956.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-605409029530845956.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-605409029530845956.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-605409029530845956.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-605409029530845956 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-605409029530845956 .gp-relative{position:relative}.gps-605409029530845956 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-605409029530845956 .gp-mb-0{margin-bottom:0}.gps-605409029530845956 .gp-inline-block{display:inline-block}.gps-605409029530845956 .gp-flex{display:flex}.gps-605409029530845956 .gp-inline-flex{display:inline-flex}.gps-605409029530845956 .gp-grid{display:grid}.gps-605409029530845956 .gp-contents{display:contents}.gps-605409029530845956 .\!gp-hidden{display:none!important}.gps-605409029530845956 .gp-hidden{display:none}.gps-605409029530845956 .gp-h-auto{height:auto}.gps-605409029530845956 .gp-h-full{height:100%}.gps-605409029530845956 .gp-w-full{width:100%}.gps-605409029530845956 .gp-max-w-full{max-width:100%}.gps-605409029530845956 .gp-flex-none{flex:none}.gps-605409029530845956 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-605409029530845956 .gp-flex-col{flex-direction:column}.gps-605409029530845956 .gp-items-center{align-items:center}.gps-605409029530845956 .gp-justify-center{justify-content:center}.gps-605409029530845956 .gp-overflow-hidden{overflow:hidden}.gps-605409029530845956 .gp-break-words{overflow-wrap:break-word}.gps-605409029530845956 .gp-no-underline{text-decoration-line:none}.gps-605409029530845956 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605409029530845956 .gp-duration-200{transition-duration:.2s}.gps-605409029530845956 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605409029530845956 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-605409029530845956 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-605409029530845956 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-605409029530845956 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-605409029530845956 .tablet\:\!gp-hidden{display:none!important}.gps-605409029530845956 .tablet\:gp-hidden{display:none}.gps-605409029530845956 .tablet\:gp-h-auto{height:auto}.gps-605409029530845956 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-605409029530845956 .mobile\:\!gp-hidden{display:none!important}.gps-605409029530845956 .mobile\:gp-hidden{display:none}.gps-605409029530845956 .mobile\:gp-h-auto{height:auto}.gps-605409029530845956 .mobile\:gp-flex-none{flex:none}}.gps-605409029530845956 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-605409029530845956 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g0ky3WudYV"}' data-id="g0ky3WudYV" id="g0ky3WudYV" data-same-height-subgrid-container class="g0ky3WudYV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:15px;--pb:48px;--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--mb-mobile:0px;--pt-mobile:var(--g-s-xs);--pl-mobile:15px;--pb-mobile:4px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpEcBPQROZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gIhMQOD1QR"}' data-id="gIhMQOD1QR" id="gIhMQOD1QR" data-same-height-subgrid-container class="gIhMQOD1QR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:var(--g-s-2xl);--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEwyN6xrfk gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F6F6F6","image":{"src":"https://cdn.shopify.com/s/files/1/0933/1523/6221/files/fetoxin-hair-banner.jpg","width":1920,"height":680,"storage":"FILE_CONTENT","backupFileKey":"gempages_602392003094774653-92b0d451-bfc1-464c-b02a-a6b17abf8d50.jpg"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","preload":false}},"uid":"g-RaMWWb7n"}' data-id="g-RaMWWb7n" id="g-RaMWWb7n" data-same-height-subgrid-container class="g-RaMWWb7n gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pt:60px;--pl:16px;--pb:60px;--pr:16px;--mb-mobile:var(--g-s-2xl);--cg:24px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url(https://cdn.shopify.com/s/files/1/0933/1523/6221/files/fetoxin-hair-banner.jpg);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gv7e4mfRAR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"goyirv5aha"}' data-id="goyirv5aha" id="goyirv5aha" data-same-height-subgrid-container class="goyirv5aha gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g7O8NeBy3a gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gabUArHnfC"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1772200088763 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gabUArHnfC"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "fetoxin2.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzg4IiBoZWlnaHQ9IjIxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzg4LTIxNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzg4IiBoZWlnaHQ9IjIxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzg4IiBoZWlnaHQ9IjIxNiIgZmlsbD0idXJsKCNnLTM4OC0yMTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zODgiIHRvPSIzODgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "fetoxin2.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzg4IiBoZWlnaHQ9IjIxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzg4LTIxNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzg4IiBoZWlnaHQ9IjIxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzg4IiBoZWlnaHQ9IjIxNiIgZmlsbD0idXJsKCNnLTM4OC0yMTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zODgiIHRvPSIzODgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "fetoxin2.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzg4IiBoZWlnaHQ9IjIxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzg4LTIxNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzg4IiBoZWlnaHQ9IjIxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzg4IiBoZWlnaHQ9IjIxNiIgZmlsbD0idXJsKCNnLTM4OC0yMTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zODgiIHRvPSIzODgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "fetoxin2.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g0IAqrQHSq gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left" >
        <style>[data-id="gUP-a6MQ78"].gp-button-base::before, [data-id="gUP-a6MQ78-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="gUP-a6MQ78"]:hover::before, [data-id="gUP-a6MQ78-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gUP-a6MQ78" dataId="gUP-a6MQ78" data-state="idle" aria-label="<p>Jetzt entdecken</p>"
          
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--bgi:;--hvr-bgi:;--bg:#B43863;--hvr-bg:#FBFBFB;--hvr-c:#B43863;--c:#FBFBFB;--size:20px;--size-tablet:22px;--size-mobile:21px;--weight:bold"
          class="gUP-a6MQ78 gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:20px;--size-tablet:22px;--size-mobile:21px;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggUP-a6MQ78_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gPmsUV8GAb gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F6F6F6","image":{"src":"https://cdn.shopify.com/s/files/1/0933/1523/6221/files/fetoxin3.jpg","width":1536,"height":1024,"storage":"FILE_CONTENT","backupFileKey":"gempages_602392003094774653-3c702bb1-67cf-4af7-9127-566b339a9449.jpg"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","preload":false}},"uid":"g6uDW_aISr"}' data-id="g6uDW_aISr" id="g6uDW_aISr" data-same-height-subgrid-container class="g6uDW_aISr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pt:60px;--pl:16px;--pb:60px;--pr:16px;--mb-mobile:var(--g-s-2xl);--cg:24px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url(https://cdn.shopify.com/s/files/1/0933/1523/6221/files/fetoxin3.jpg);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gAZlzCNlBG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gIHE9MGDAa"}' data-id="gIHE9MGDAa" id="gIHE9MGDAa" data-same-height-subgrid-container class="gIHE9MGDAa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gW-Epj_s-Q gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gBS9hujk2F"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1772200088767 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gBS9hujk2F"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "fetoxin1.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzg5IiBoZWlnaHQ9IjIxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzg5LTIxNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzg5IiBoZWlnaHQ9IjIxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzg5IiBoZWlnaHQ9IjIxNiIgZmlsbD0idXJsKCNnLTM4OS0yMTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zODkiIHRvPSIzODkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "fetoxin1.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzg5IiBoZWlnaHQ9IjIxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzg5LTIxNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzg5IiBoZWlnaHQ9IjIxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzg5IiBoZWlnaHQ9IjIxNiIgZmlsbD0idXJsKCNnLTM4OS0yMTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zODkiIHRvPSIzODkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "fetoxin1.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzg5IiBoZWlnaHQ9IjIxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzg5LTIxNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzg5IiBoZWlnaHQ9IjIxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzg5IiBoZWlnaHQ9IjIxNiIgZmlsbD0idXJsKCNnLTM4OS0yMTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zODkiIHRvPSIzODkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "fetoxin1.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g22eAmDTgr gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left" >
        <style>[data-id="geQ792pHY_"].gp-button-base::before, [data-id="geQ792pHY_-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="geQ792pHY_"]:hover::before, [data-id="geQ792pHY_-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="geQ792pHY_" dataId="geQ792pHY_" data-state="idle" aria-label="<p>Jetzt entdecken</p>"
          
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--bgi:;--hvr-bgi:;--bg:#6DC7D7;--hvr-bg:#FBFBFB;--hvr-c:#6DC7D7;--c:#FBFBFB;--size:20px;--size-tablet:22px;--size-mobile:21px;--weight:bold"
          class="geQ792pHY_ gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:20px;--size-tablet:22px;--size-mobile:21px;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggeQ792pHY__label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-605409029530845956 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=602392006047564715&sectionId=605409029530845956)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggUP-a6MQ78_label","label":"ggUP-a6MQ78_label","default":"<p>Jetzt entdecken</p>"},{"type":"html","id":"ggeQ792pHY__label","label":"ggeQ792pHY__label","default":"<p>Jetzt entdecken</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}