
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602392769310229011.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-602392769310229011.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-602392769310229011.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-602392769310229011.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602392769310229011.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602392769310229011.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602392769310229011.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602392769310229011.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602392769310229011.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602392769310229011.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602392769310229011.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602392769310229011.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602392769310229011.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602392769310229011.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602392769310229011.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602392769310229011.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602392769310229011.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-602392769310229011.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602392769310229011.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602392769310229011.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602392769310229011.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602392769310229011.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602392769310229011.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-602392769310229011.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602392769310229011.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602392769310229011.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602392769310229011.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-602392769310229011.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602392769310229011.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602392769310229011.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-602392769310229011.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602392769310229011.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602392769310229011.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602392769310229011.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-602392769310229011.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-602392769310229011.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602392769310229011.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-602392769310229011.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602392769310229011.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602392769310229011.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-602392769310229011.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-602392769310229011.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-602392769310229011.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-602392769310229011.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-602392769310229011.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602392769310229011.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602392769310229011.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602392769310229011.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602392769310229011.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602392769310229011.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602392769310229011.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602392769310229011.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602392769310229011.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-602392769310229011.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602392769310229011.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-602392769310229011.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-602392769310229011.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602392769310229011.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-602392769310229011.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-602392769310229011.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-602392769310229011.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-602392769310229011.gps.gpsil [style*="--bg-tablet:"]{background:var(--bg-tablet)}.gps-602392769310229011.gps.gpsil [style*="--b-tablet:"]{border:var(--b-tablet)}.gps-602392769310229011.gps.gpsil [style*="--bc-tablet:"]{border-color:var(--bc-tablet)}.gps-602392769310229011.gps.gpsil [style*="--bw-tablet:"]{border-width:var(--bw-tablet)}.gps-602392769310229011.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-602392769310229011.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-602392769310229011.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602392769310229011.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-602392769310229011.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-602392769310229011.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-602392769310229011.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-602392769310229011.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-602392769310229011.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-602392769310229011.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-602392769310229011.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-602392769310229011.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-602392769310229011.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602392769310229011.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602392769310229011.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-602392769310229011.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-602392769310229011.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-602392769310229011.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-602392769310229011.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-602392769310229011.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-602392769310229011.gps.gpsil [style*="--bg-mobile:"]{background:var(--bg-mobile)}.gps-602392769310229011.gps.gpsil [style*="--b-mobile:"]{border:var(--b-mobile)}.gps-602392769310229011.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-602392769310229011.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-602392769310229011.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-602392769310229011.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-602392769310229011.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602392769310229011.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-602392769310229011.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-602392769310229011.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-602392769310229011.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-602392769310229011.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-602392769310229011.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-602392769310229011.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-602392769310229011.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-602392769310229011.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-602392769310229011.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602392769310229011.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602392769310229011.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602392769310229011.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602392769310229011.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-602392769310229011.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-602392769310229011.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-602392769310229011.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-602392769310229011.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-602392769310229011 .gp-absolute{position:absolute}.gps-602392769310229011 .gp-relative{position:relative}.gps-602392769310229011 .gp-top-0{top:0}.gps-602392769310229011 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602392769310229011 .gp-mb-0{margin-bottom:0}.gps-602392769310229011 .gp-box-border{box-sizing:border-box}.gps-602392769310229011 .gp-inline-block{display:inline-block}.gps-602392769310229011 .gp-flex{display:flex}.gps-602392769310229011 .gp-inline-flex{display:inline-flex}.gps-602392769310229011 .gp-grid{display:grid}.gps-602392769310229011 .gp-contents{display:contents}.gps-602392769310229011 .\!gp-hidden{display:none!important}.gps-602392769310229011 .gp-hidden{display:none}.gps-602392769310229011 .gp-h-auto{height:auto}.gps-602392769310229011 .gp-h-full{height:100%}.gps-602392769310229011 .gp-w-full{width:100%}.gps-602392769310229011 .gp-max-w-full{max-width:100%}.gps-602392769310229011 .gp-flex-none{flex:none}.gps-602392769310229011 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602392769310229011 .gp-flex-col{flex-direction:column}.gps-602392769310229011 .gp-flex-wrap{flex-wrap:wrap}.gps-602392769310229011 .gp-items-center{align-items:center}.gps-602392769310229011 .gp-justify-center{justify-content:center}.gps-602392769310229011 .gp-overflow-hidden{overflow:hidden}.gps-602392769310229011 .gp-rounded-\[4px\]{border-radius:4px}.gps-602392769310229011 .gp-bg-\[rgba\(0\,0\,0\,0\.60\)\]{background-color:rgba(0,0,0,.6)}.gps-602392769310229011 .gp-px-2{padding-left:8px;padding-right:8px}.gps-602392769310229011 .gp-py-1{padding-bottom:4px;padding-top:4px}.gps-602392769310229011 .gp-leading-\[0\]{line-height:0}.gps-602392769310229011 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602392769310229011 .gp-duration-200{transition-duration:.2s}.gps-602392769310229011 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-602392769310229011 .tablet\:\!gp-hidden{display:none!important}.gps-602392769310229011 .tablet\:gp-hidden{display:none}.gps-602392769310229011 .tablet\:gp-h-auto{height:auto}.gps-602392769310229011 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-602392769310229011 .mobile\:\!gp-hidden{display:none!important}.gps-602392769310229011 .mobile\:gp-hidden{display:none}.gps-602392769310229011 .mobile\:gp-h-auto{height:auto}.gps-602392769310229011 .mobile\:gp-flex-none{flex:none}}.gps-602392769310229011 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-602392769310229011 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-602392769310229011 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-602392769310229011 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-602392769310229011 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gj1HRW6U2s"}' data-id="gj1HRW6U2s" id="gj1HRW6U2s" data-same-height-subgrid-container class="gj1HRW6U2s gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:80px;--pb:100px;--pr:80px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:72px;--pr-mobile:20px;--pt-tablet:0px;--pl-tablet:40px;--pb-tablet:72px;--pr-tablet:40px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZ-mTQHhUV gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gSCUBZozsY"}' data-id="gSCUBZozsY" id="gSCUBZozsY" data-same-height-subgrid-container class="gSCUBZozsY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkq29ScwPO gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFzh8Nhebl"
        class="gFzh8Nhebl"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:16px;--pb-mobile:14px;--pb-tablet:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--size:40px;--size-tablet:32px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#343454;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFzh8Nhebl_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYgiCbkTll"
        class="gYgiCbkTll"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:48px;--pb-mobile:40px;--pb-tablet:40px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYgiCbkTll_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gcILM9OUtM"}' data-id="gcILM9OUtM" id="gcILM9OUtM" data-same-height-subgrid-container class="gcILM9OUtM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--cg-tablet:40px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaiF6hK97O gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px" class="g0ba59GyPq ">
      
    <div class="gp-flex gp-w-full gp-overflow-hidden" style="border-radius:inherit">
      
    <gp-image-comparison
      data-id="g0ba59GyPq"
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gp-w-full gp-flex"
      gp-data='{"hover":false,"handle":null,"vertical":false,"leftImage":{"src":"https://cdn.shopify.com/s/files/1/0933/1523/6221/files/fetoxi-vorher.jpg","width":800,"height":1198,"storage":"FILE_CONTENT","backupFileKey":"gempages_602392003094774653-a24e7b5d-3cd2-4aed-a659-f5c06fcbca1d.jpg","altText":"","imageTitle":"Title","preload":false},"rightImage":{"src":"https://cdn.shopify.com/s/files/1/0933/1523/6221/files/fetoxi-nachher.jpg","width":800,"height":1198,"storage":"FILE_CONTENT","backupFileKey":"gempages_602392003094774653-37acf58e-b24f-4fbc-9f3f-d740190bfa46.jpg","altText":"Describes the appearance of the image","imageTitle":"Title","preload":false},"handleSize":40,"aspectRatio":{"desktop":"1","tablet":"1","mobile":"1"},"defaultRatio":"800/1198","componentUid":"g0ba59GyPq","leftImageCss":{},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5}'
    >
      <div id="img-comparison-wrapper-g0ba59GyPq" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
        <div
          id="img-comparison-container-g0ba59GyPq"
          data-testid="container"
          style="height:auto;overflow:hidden;position:relative;box-sizing:border-box;display:block;--aspect:1;--aspect-tablet:1;--aspect-mobile:1"
        >
          
      <img alt="" src width="800" height="1198" data-testid="temp-image" style="--pos:static;--op:0;--aspect:1;--aspect-tablet:1;--aspect-mobile:1" />
    
          
    <img
      data-testid="right-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "fetoxi-nachher.jpg" | file_url }}" data-src="{{ "fetoxi-nachher.jpg" | file_url }}" data-srcset="{{ "fetoxi-nachher.jpg" | file_url }}"
      id="right-image-g0ba59GyPq"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      class="gp_lazyload"
    />
          
    <img
      data-testid="left-image" title="Title" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "fetoxi-vorher.jpg" | file_url }}" data-src="{{ "fetoxi-vorher.jpg" | file_url }}" data-srcset="{{ "fetoxi-vorher.jpg" | file_url }}"
      id="left-image-g0ba59GyPq"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      class="gp_lazyload"
    />
          
    <div id="image-comparison-slider-g0ba59GyPq" style="z-index:2;display:flex;position:absolute;align-items:center;justify-content:center;cursor:ew-resize;flex-direction:column;height:100%;width:40px">
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
      <div style="display:flex;flex:1 0 auto;align-items:center;box-sizing:border-box;justify-content:center;border-radius:100%;width:40px;height:40px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);transform:none;border:2px solid #ffffff">
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 2px 0 0"
            width="6" height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 0 0 2px"
            width="6"
            height="12"
            viewBox="0 0 6 12" fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
    </div>
  
          
    <div
      id="image-comparison-left-label-g0ba59GyPq"
      
      class="gp-absolute gp-top-0 gp-h-full gp-w-full"
    >
      <style>
    #image-comparison-left-label-g0ba59GyPq div, #image-comparison-right-label-g0ba59GyPq div {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      #image-comparison-left-label-g0ba59GyPq div, #image-comparison-right-label-g0ba59GyPq div {
        border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
        
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
      }
    }

    @media only screen and (max-width: 767px) {
      #image-comparison-left-label-g0ba59GyPq div, #image-comparison-right-label-g0ba59GyPq div {
        border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
        
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
      }
    }
  </style>
      <div class=" gp-absolute gp-box-border gp-rounded-[4px] gp-bg-[rgba(0,0,0,0.60)] gp-px-2 gp-py-1" style="opacity:1;left:8px;--b:solid;--bc:#8591E4;--bw:1px 1px 1px 1px;--b-tablet:solid;--bc-tablet:#8591E4;--bw-tablet:1px 1px 1px 1px;--b-mobile:solid;--bc-mobile:#8591E4;--bw-mobile:1px 1px 1px 1px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--t:translateX(0) translateY(0);--t-tablet:translateX(0) translateY(0);--t-mobile:translateX(0) translateY(0);--top:auto;--top-tablet:auto;--top-mobile:auto;--bottom:8px;--bottom-tablet:8px;--bottom-mobile:8px;--ts:none;--bg:#ffffff;--bg-tablet:#ffffff;--bg-mobile:#ffffff;--c:#8591E4">
        {{ section.settings.gg0ba59GyPq_leftImageLabel }}
      </div>
    </div>
  
          
    <div
      id="image-comparison-right-label-g0ba59GyPq"
      
      class="gp-absolute gp-top-0 gp-h-full gp-w-full"
    >
      <style>
    #image-comparison-left-label-g0ba59GyPq div, #image-comparison-right-label-g0ba59GyPq div {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      #image-comparison-left-label-g0ba59GyPq div, #image-comparison-right-label-g0ba59GyPq div {
        border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
        
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
      }
    }

    @media only screen and (max-width: 767px) {
      #image-comparison-left-label-g0ba59GyPq div, #image-comparison-right-label-g0ba59GyPq div {
        border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8591E4;
  
        
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
      }
    }
  </style>
      <div class=" gp-absolute gp-box-border gp-rounded-[4px] gp-bg-[rgba(0,0,0,0.60)] gp-px-2 gp-py-1" style="opacity:1;right:8px;--b:solid;--bc:#8591E4;--bw:1px 1px 1px 1px;--b-tablet:solid;--bc-tablet:#8591E4;--bw-tablet:1px 1px 1px 1px;--b-mobile:solid;--bc-mobile:#8591E4;--bw-mobile:1px 1px 1px 1px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--t:translateX(0) translateY(0);--t-tablet:translateX(0) translateY(0);--t-mobile:translateX(0) translateY(0);--top:auto;--top-tablet:auto;--top-mobile:auto;--bottom:8px;--bottom-tablet:8px;--bottom-mobile:8px;--ts:none;--bg:#ffffff;--bg-tablet:#ffffff;--bg-mobile:#ffffff;--c:#8591E4">
        {{ section.settings.gg0ba59GyPq_rightImageLabel }}
      </div>
    </div>
  
        </div>
      </div>
    </gp-image-comparison>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-image-comparison-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g4Fs-IG7hd gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#DAEFF0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"geOFoGUTAi"}' data-id="geOFoGUTAi" id="geOFoGUTAi" data-same-height-subgrid-container class="geOFoGUTAi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:32px;--pl:48px;--pb:32px;--pr:48px;--mt-mobile:40px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#DAEFF0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g_Qqp-yCEd gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gm_6MYQ3cJ"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:4px;--jc:center;--ai:start;--ai-tablet:center">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gOwAnYCsa8 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="ggPPEiTgoj" class="gp-leading-[0] ggPPEiTgoj" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="ggPPEiTgoj" class="icon-wrapper gp-inline-flex gp-overflow-hidden ggPPEiTgoj " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#E4893A;--t:rotate(0deg);--w:28px;--w-tablet:24px;--w-mobile:20px;--h:28px;--h-tablet:24px;--h-mobile:20px;--minw:28px;--minw-tablet:24px;--minw-mobile:20px;--height-desktop:28px;--height-tablet:24px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g1nwuWsoyX ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gYxEjjjC0E" class="gp-leading-[0] gYxEjjjC0E" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gYxEjjjC0E" class="icon-wrapper gp-inline-flex gp-overflow-hidden gYxEjjjC0E " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#E4893A;--t:rotate(0deg);--w:28px;--w-tablet:24px;--w-mobile:20px;--h:28px;--h-tablet:24px;--h-mobile:20px;--minw:28px;--minw-tablet:24px;--minw-mobile:20px;--height-desktop:28px;--height-tablet:24px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gr4xw3yilN ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gJPHHkbeoe" class="gp-leading-[0] gJPHHkbeoe" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gJPHHkbeoe" class="icon-wrapper gp-inline-flex gp-overflow-hidden gJPHHkbeoe " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#E4893A;--t:rotate(0deg);--w:28px;--w-tablet:24px;--w-mobile:20px;--h:28px;--h-tablet:24px;--h-mobile:20px;--minw:28px;--minw-tablet:24px;--minw-mobile:20px;--height-desktop:28px;--height-tablet:24px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gP02PY0OvX ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gk2nJzWBS8" class="gp-leading-[0] gk2nJzWBS8" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gk2nJzWBS8" class="icon-wrapper gp-inline-flex gp-overflow-hidden gk2nJzWBS8 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#E4893A;--t:rotate(0deg);--w:28px;--w-tablet:24px;--w-mobile:20px;--h:28px;--h-tablet:24px;--h-mobile:20px;--minw:28px;--minw-tablet:24px;--minw-mobile:20px;--height-desktop:28px;--height-tablet:24px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gW4zoBdHe4 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gTj6xXeilJ" class="gp-leading-[0] gTj6xXeilJ" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gTj6xXeilJ" class="icon-wrapper gp-inline-flex gp-overflow-hidden gTj6xXeilJ " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#E4893A;--t:rotate(0deg);--w:28px;--w-tablet:24px;--w-mobile:20px;--h:28px;--h-tablet:24px;--h-mobile:20px;--minw:28px;--minw-tablet:24px;--minw-mobile:20px;--height-desktop:28px;--height-tablet:24px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggMm5HdEmE"
        class="ggMm5HdEmE"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:32px;--ml:48px;--mb:32px;--mr:48px;--mt-mobile:20px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--mt-tablet:28px;--ml-tablet:40px;--mb-tablet:28px;--mr-tablet:40px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:28px;--size-tablet:18px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggMm5HdEmE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gwBTG7Th5A"}' data-id="gwBTG7Th5A" id="gwBTG7Th5A" data-same-height-subgrid-container class="gwBTG7Th5A gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:12px;--cg-mobile:10px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="goHCUFr1t2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gFznZinV6f"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pb-mobile:0px;--ta:right;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1770981057577 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gFznZinV6f"
    >
      <div
        
        style="border-radius:inherit;--jc:right;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Frame_1171280133.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAiIGhlaWdodD0iODAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgwLTgwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MCIgaGVpZ2h0PSI4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAiIGhlaWdodD0iODAiIGZpbGw9InVybCgjZy04MC04MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgwIiB0bz0iODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "platzhalter.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTUwMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "platzhalter.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTUwMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "platzhalter.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:32/32;--objf:contain;--w:40px;--w-tablet:40px;--w-mobile:32px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:solid;--bc:#121212;--bw:1px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gq0nZ2vEB2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghNkejDZkk"
        class="ghNkejDZkk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#343454;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghNkejDZkk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPMkT55pWW"
        class="gPMkT55pWW"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPMkT55pWW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-602392769310229011 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/21zmyt-ua/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=602392006064407467&sectionId=602392769310229011)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggFzh8Nhebl_text","label":"ggFzh8Nhebl_text","default":"Echte Menschen. Echte Ergebnisse."},{"type":"html","id":"ggYgiCbkTll_text","label":"ggYgiCbkTll_text","default":"<p>Fetoxin verhilft Ihnen zum langersehnten Erfolg.</p>"},{"type":"html","id":"gg0ba59GyPq_leftImageLabel","label":"gg0ba59GyPq_leftImageLabel","default":"1 Tag"},{"type":"html","id":"gg0ba59GyPq_rightImageLabel","label":"gg0ba59GyPq_rightImageLabel","default":"60 Tage"},{"type":"html","id":"gggMm5HdEmE_text","label":"gggMm5HdEmE_text","default":"<p>“Das war die beste Entscheidung, die ich je getroffen habe.”</p>"},{"type":"html","id":"gghNkejDZkk_text","label":"gghNkejDZkk_text","default":"<p>Jessica</p>"},{"type":"html","id":"ggPMkT55pWW_text","label":"ggPMkT55pWW_text","default":"<p>Kundin</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}